<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- initialize -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimum-scale=1.0,maximum-scale=1.0,minimal-ui" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <title>首页</title>
  <!-- css initialize -->
  <link href="__PUBLIC__/termin/css/reset_h5.css" rel="stylesheet" type="text/css" />
  <!--related css-->
  <link href="__PUBLIC__/termin/css/app.css" rel="stylesheet" type="text/css" />
  <link href="__PUBLIC__/termin/css/info.css" rel="stylesheet" type="text/css" />
  <link href="__PUBLIC__/termin/css/info_list.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="wrapper">
  <header>
    <a href="javascript:void (0);" class="back"></a><span>粉丝焦点</span><a href="javascript:void(0);" class="menu"></a>
  </header>
  <div class="content">
    <div class="banner">
      <a href="{:U('News/newsdetail?newid='.$topnews['id'])}">
      <img src="./Uploads{$topnews.topimg}" alt=""/>
      </a>
      <div class="padding">
        <p><img src="__PUBLIC__/termin/img/icon_hot_news.jpg" width="25" height="16" alt=""/><span class="title">{$topnews.title}</span></p>
        <span class="digest">{$topnews.digest}</span>
        <p>{$topnews.instime|date="Y-m-d H:i:s",###}</p>
      </div>

    </div>
    <ul class="news">


      <volist name="news" id="vo">
      
      <li data-para="{$vo.id}">
        <img src="./Uploads{$vo.phoneimg}" width = 130 height= 95 alt=""/>
        <div>
          <p>{:newtype($vo.type)}</p>
          <h2>{$vo.title}</h2>
          <div class="bottom-info">
            <p class="date">{$vo.instime|date="Y-m-d",###}</p>
            <if condition="$vo.order == 1"><span class="recommend"></span></if>
          </div>
        </div>
      </li>

    </volist>

     
    </ul>
  </div>
  <div class="popUpWin">
    <ul class="selectBox">
       <li>
        <span class="dot"></span><a class="text" href="{:U('News/infofans')}">粉丝焦点</a>
      </li>
      <li>
        <span class="dot"></span><a href="{:U('News/infostar')}" class="text">星闻动向</a><span class="hot"></span>
      </li>
     <!-- <li>
        <span class="text myFocus">我的订阅</span>
      </li>-->
      <li>
        <span class="dot"></span><a href="{:U('News/infodream')}" class="text">艺术中国梦</a>
      </li>
    </ul>
  </div>
  <div class="mask"></div>
</div>


<!-- jQ -->
<script type="text/javascript" src="__Public__/common/js/jquery-2.1.3.min.js"></script>
<!-- seajs -->
<script type="text/javascript" src="__Public__/common/js/sea.js"></script>
<script type="text/javascript" src="__Public__/common/js/sea.css.js"></script>
<!-- related js -->
<script>
  seajs.use("__PUBLIC__/termin//js/info");
</script>

</body>
</html>