<!doctype html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>中演网</title>
    <link href="__PUBLIC__/statics/dist/css/reset.css" rel="stylesheet" type="text/css"/>
    <link href="__PUBLIC__/statics/dist/css/common.css" rel="stylesheet" type="text/css"/>
    <link href="__PUBLIC__/statics/dist/css/starwars/starinfo.css" rel="stylesheet" type="text/css"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <meta name="Keywords" content="">
    <meta name="Description" content="">
</head>

<body>

<!--webheader-->
<div class="webheader">
    <div class="inner clearFix">
        <a href="index.html" class="logo"></a>

        <div class="nav">
            <ul class="clearFix">
              <li class="first"><a href="{:U('Index/index')}">首页</a></li>
              <li><a href="{:U('News/index')}">资讯</a></li>
              <li><a href="{:U('Active/index')}">活动</a></li>
              <li><a href="{:U('Committee/index')}">演工委之声</a></li>
              <li><a href="{:U('Vote/index')}">中国电视好演员评选</a></li>
              <li><a href="{:U('#/index')}">饭团</a></li>
              <li class="c"><a href="{:U('Starwars/index')}">星站</a></li>
              <li><a href="{:U('#/index')}">明日之星</a></li>
              <li><a href="{:U('Video/index')}">视频</a></li>
              <li><a href="{:U('#/index')}">Stage</a></li>
              <li><a href="{:U('Performing/index')}">演艺库</a></li>
            </ul>
        </div>
        <a href="#" class="search"></a>
    </div>
</div>
<!--webheader end-->


<!--webmain-->
<div class="webmain">

  <div class="navTitle">
      <a href="{:U('Index/index')}">首页</a> > <a href="{:U('Starwars/index')}">星站</a> > <a href="#">{$list.name}</a><!--
       --><div class="loginfo"><span class="face"></span><span class="name">用户名</span></div>
  </div>

  <div class="introduction clearFix">
    <div class="introduction-face">
      <img src="./Uploads{$list.img}" alt="" />
    </div>

    <div class="introduction-content">
      <span class="name">
        {$list.name}
      </span>
      <div class="share" id="share">
        <a href="http://weibo.com/tvstars" class="weibo">微博关注</a>
        <a href="#" class="weixin">微信互动</a>

        <div class="weixinshare" id="weixinshare">
          <h3>关注中国电视演员形象榜</h3>
          <p>
            微信号 : cntvstar
          </p>
          <img src="__PUBLIC__/statics/images/p_share_code.gif" alt="" />
        </div>
      </div>

      <div class="details clearFix">
        <div class="left-col">
          <div class="list"><span class="des">中文名：</span><span class="cont">{$list.name}</span></div>
          <div class="list"><span class="des">国&nbsp;&nbsp;籍：</span><span class="cont">{$list.nationality}</span></div>
          <div class="list"><span class="des">民&nbsp;&nbsp;族：</span><span class="cont">{$list.nation}</span></div>
          <div class="list"><span class="des">身&nbsp;&nbsp;高：</span><span class="cont">{$list.height}CM</span></div>
          <div class="list"><span class="des">体&nbsp;&nbsp;重：</span><span class="cont">{$list.weight}KG</span></div>
          <div class="list"><span class="des">出生地：</span><span class="cont">{$list.address}</span></div>
        </div>
        <div class="right-col">
          <div class="list"><span class="des">出生日期：</span><span class="cont">{$list.birthday|date="Y年m月d日",###}</span></div>
          <div class="list"><span class="des">职&nbsp;&nbsp;业：</span><span class="cont">{$list.job}</span></div>
          <div class="list"><span class="des">毕业院校：</span><span class="cont">汉</span></div>

          <div class="list"><span class="des">主要成就：</span><span class="cont">{$list.achievement}</span></div>
        </div>

      </div>
    </div>
  </div>


  <div class="con worklist">
    <div class="title judge-title">
      <h2>代表作品</h2>
    </div>
    <div class="worklist-main">

      <div class="frame">

      </div>
      <ul class="imglist" id="imglist">
      <volist name = "production" id = "vo">
        <li class="active"><h3 class="workname">{$vo.title}</h3><img src="./Uploads{$vo.img}" alt="" /></li>
      </volist>
      </ul>
      <div class="tabsection" id="tabsection"><!--
      --><a href="javascript:;" class="up"></a><div class="frame"></div><!--
        --><ul class="tablist">
        <volist name = "production" id = "vo" empty="暂未上传作品">

          <li><img src="./Uploads{$vo.img}" alt="" /></li>

        </volist>
        </ul><!--
        --><a href="javascript:;" class="down"></a><!--
        --></div>
    </div>
  </div>

  </div>
<!--webmain end-->


<!--webfooter-->
<div class="webfooter">
    <div class="inner clearFix">
        <div class="logo"></div>
        <div class="info">
            <ul class="clearFix">
                <li class="f"><a href="#">关于我们</a></li>
                <li><a href="#">加入我们</a></li>
                <li><a href="#">联系我们</a></li>
            </ul>
            <p>{$records}</p>
        </div>
        <div class="qr">
            <p>扫描二维码</p>
            <span>关注官方微信</span>
        </div>
    </div>
</div>
<!--webfooter end-->


<script src="__PUBLIC__/statics/js/jquery-1.8.0.min.js"></script>
<script src="__PUBLIC__/statics/js/modernizr.com-custom-2.6.1-01.js"></script>
<script src="__PUBLIC__/statics/js/jquery.easing.js"></script>

<script src="__PUBLIC__/statics/dist/js/starwars/starinfo.js"></script>

</body>
</html>
