<!doctype html>
<!--[if lt IE 7 ]>
<html class="ie6"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie7"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>中演网</title>
    <link href="__PUBLIC__/statics/dist/css/reset.css" rel="stylesheet" type="text/css"/>
    <link href="__PUBLIC__/statics/dist/css/common.css" rel="stylesheet" type="text/css"/>
    <link href="__PUBLIC__/statics/dist/css/news/news_details.css" rel="stylesheet" type="text/css"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <meta name="Keywords" content="">
    <meta name="Description" content="">
    <script type="text/javascript">
(function(){
var p = {
  url:location.href,
  showcount:'1',/*是否显示分享总数,显示：'1'，不显示：'0' */
  desc:'',/*默认分享理由(可选)*/
  summary:'',/*分享摘要(可选)*/
  title:'',/*分享标题(可选)*/
  site:'',/*分享来源 如：腾讯网(可选)*/
  pics:'', /*分享图片的路径(可选)*/
  style:'203',
  width:98,
  height:22
};
var s = [];
for(var i in p){
s.push(i + '=' + encodeURIComponent(p[i]||''));
}
document.write(['<a version="1.0" class="qzOpenerDiv" href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?',s.join('&'),'" target="_blank">分享</a>'].join(''));
})();
</script>
<script src="http://qzonestyle.gtimg.cn/qzone/app/qzlike/qzopensl.js#jsdate=20111201" charset="utf-8"></script>
</head>

<body>

<!--webheader-->
<include file = "Header/nav" />
<!--webheader end-->


<!-- 导航栏-->


<!--webmain-->
<div class="webmain">

    <div class="con nav clearFix" id="J_nav">
        <div class="navTitle">
            <a href="{:U('Index/index')}">首页</a> > <a href="{:U('News/index')}">资讯</a> > <a href="#">正文</a>

           <include file = "Header/login" />
        </div>
    </div>
    <div class="wrapper clearFix">
        <!--正文-->
        <div class="content">
            <div class="header">
                <h1 class="videoname">{$result.title}</h1>
                <h3>{$result['instime']|date='Y-m-d H:i:s',###}</h3>
            </div>
            <div class="content">
               <?php echo html_entity_decode($result['content']);?>
            </div>

        </div>
        <!--右侧边栏-->
        <div class="con rightCol clearFix">
            <div class="title">
                <h2>艺术中国梦</h2>
            </div>
			<volist name="hotnews" id="dlist" key="k" offset="0" length="1"  empty="暂时没有数据">
				<a href="{:U('News/news_details?id='.$dlist['id'])}" class="item">
					<div class="txt">
						<h3><?php echo mb_strlen($dlist['title'],'utf8')>30?mb_substr($dlist['title'],0,24,'utf-8').'......':$dlist['title'] ?></h3>
						<span>{$dlist['instime']|date='Y-m-d H:i:s',###}</span>
					</div>
					<img  src="./Uploads{$dlist.imgpath}" width="380" height="250"/>
					<sub class="hover"></sub>
				</a>
			</volist>
            <ul class="newsList clearFix">
			<volist name="hotnews" id="dlist" key="k" offset="1" length="4" >
                <li class="c">
                    <a class="" href="{:U('News/news_details?id='.$dlist['id'])}">
                        <?php echo mb_strlen($dlist['title'],'utf8')>20?mb_substr($dlist['title'],0,15,'utf-8').'......':$dlist['title'] ?>
                    </a>
                    <span class="time">
                        <?php echo floor((time()-$dlist['instime'])/3600)?>小时前
                    </span>
                </li>
			</volist>
            </ul>

            <div class="active">
            <if condition = "$empty neq 1">
              <div class="title event">
                  <h2>活动</h2>
              </div>

              <a href="{:U('Active/active_details',array('id'=>$activeval['id']))}" class="item">
                  <div class="txt">
                      <h3>{$activeval.title}</h3>
                      <span>{$activeval.begin_time|date="m.d",###}-{$activeval.last_time|date="m.d",###}</span>
                  </div>
                  <img src="./Uploads{$activeval.img}">
                  <sub class="hover"></sub>
              </a>
              <p class="active"> <?php echo mb_strlen($activeval['content'],'utf8')>60?mb_substr($activeval['content'],0,58,'utf-8').'...':$activeval['content'] ?></p>
              <div class="focus"><span class="text">{$activeval.concern}</span><span class="iconPart"></span></div>
            </if>
            </div>



        </div>
    </div>

    <div class="con conComment">

      <div class="title">
        <h2>评论</h2>
      </div>
      <div class="inner clearFix">
        <div class="send" id="J_CommentSendbox">
          <textarea></textarea>
          <a href="javascript:void(0);" class="submit">评论</a>
        </div>
        <div class="list" id="J_CommentList">

        </div>


      </div>

      <!--  分页    引进page.js-->
      <div class="pagelist" id="pagelist">
        <a href="javacript:;" class="pre">上一页</a>
        <ul class="num">
          <!-- <li class="active">1</li>
          <li>2</li>
          <li>3</li> -->
        </ul>
        <a href="javacript:;" class="next">下一页</a>
      </div>

    </div>

</div>

    <!--webmain end-->


 <include file="Header/header" />

    <script src="__PUBLIC__/statics/js/jquery-1.8.0.min.js"></script>
    <script src="__PUBLIC__/statics/js/modernizr.com-custom-2.6.1-01.js"></script>
    <script src="__PUBLIC__/statics/js/jquery.easing.js"></script>
    <script src="__PUBLIC__/statics/src/js/common.js"></script>
    <script src="__PUBLIC__/statics/dist/js/tool/pagev1.js"></script>

    <script src="__PUBLIC__/statics/dist/js/news/news.js"></script>
    <script src="__PUBLIC__/statics/dist/js/news/newscomment.js"></script>

</body>
</html>
