<!doctype html>
<!--[if lt IE 7 ]>
<html class="ie6"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie7"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>中演网</title>
    <link href="__PUBLIC__/statics/dist/css/reset.css" rel="stylesheet" type="text/css"/>
    <link href="__PUBLIC__/statics/dist/css/common.css" rel="stylesheet" type="text/css"/>
    <link href="__PUBLIC__/statics/dist/css/news/news_fans.css" rel="stylesheet" type="text/css"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <meta name="Keywords" content="">
    <meta name="Description" content="">
</head>

<body>

<!--webheader-->
<div class="webheader">
    <div class="inner clearFix">
        <a href="index.html" class="logo"></a>

        <div class="nav">
            <ul class="clearFix">
              <li class="first"><a href="{:U('Index/index')}">首页</a></li>
              <li class="c"><a href="{:U('News/index')}">资讯</a></li>
              <li><a href="{:U('Active/index')}">活动</a></li>
              <li><a href="{:U('Committee/index')}">演工委之声</a></li>
              <li><a href="{:U('Vote/index')}">中国电视好演员评选</a></li>
              <li><a href="{:U('#/index')}">饭团</a></li>
              <li><a href="{:U('Starwars/index')}">星站</a></li>
              <li><a href="{:U('#/index')}">明日之星</a></li>
              <li><a href="{:U('Video/index')}">视频</a></li>
              <li><a href="{:U('#/index')}">Stage</a></li>
              <li><a href="{:U('Performing/index')}">演艺库</a></li>
            </ul>
        </div>
        <a href="#" class="search"></a>
    </div>
</div>
<!--webheader end-->


<!-- 导航栏-->


<!--webmain-->
<div class="webmain">

    <div class="con nav clearFix" id="J_nav">
        <div class="navTitle">
             <a href="{:U('Index/index')}">首页</a> > <a href="{:U('News/index')}">资讯</a> ><a href="#">星闻动向</a>

            <div class="loginfo"><span class="face"></span><span class="name">用户名</span></div>
        </div>
    </div>
    <div class="wrapper clearFix">
        <!--正文-->
        <div class="topContent clearFix">
            <a href="{:U('News/news_details?id='.$topnews['id'])}" class="topImg">
                <img src="./Uploads{$topnews.pctopimg}" alt=""/>
                <div class="title">
                    <h3>{$topnews.title}</h3>
                </div>
                <div class="cover"></div>
            </a>
            <div class="right">
             <volist name = "timenews" id = "vo" offset="0" length='1'>
                <a href="{:U('News/news_details?id='.$vo['id'])}" class="rightTop">
                    <img src="./Uploads{$vo.imgpath}" alt="" />
                    <div class="txt">
                        <h3><?php echo strlen($vo['title'])>30?mb_substr($vo['title'],0,24,'utf-8').'......':$vo['title'] ?></h3>
                        <p>{$vo.instime|date='Y-m-d',###}</p>
                    </div>
                    <div class="cover"></div>
                </a>
            </volist>
                <ul class="list">
                <volist name = "timenews" id = "vo" offset = "1" length = "6">
                    <li>
                        <a href="{:U('News/news_details?id='.$vo['id'])}"><?php echo strlen($vo['title'])>30?mb_substr($vo['title'],0,24,'utf-8').'......':$vo['title'] ?></a>
                        <span><?php echo floor((time()-$vo['instime'])/3600)?>小时前</span>
                    </li>
                </volist>
                </ul>
            </div>
        </div>

        <!-- 热门资讯-->
        <div class="con favNews">
            <div class="title">
                <h2>热门资讯</h2>
            </div>
            <div class="box">

                <ul class="list" id="list">
                     <volist name="hotnews" id="vo">
                    <li class="item">
                        <a href="{:U('News/news_details?id='.$vo['id'])}">
                            <img src="./Uploads{$vo.imgpath}">
                            <div class="txt">
                                <h3><?php echo strlen($vo['title'])>30?mb_substr($vo['title'],0,24,'utf-8').'......':$vo['title'] ?></h3>
                                <p>{$vo.instime|date='Y-m-d',###}</p>
                            </div>
                        </a>
                    </li>
                </volist>
                </ul>
                    <a href="javascript:;" class="preview" id="preview"></a>
                    <a href="javascript:;" class="next" id="next"></a>

            </div>
        </div>

        <!-- 底部资讯-->
        <div class="con bottomContent">
            <div class="lastedNews">
                <div class="title">
                    <h2>粉丝焦点</h2>
                    <!-- <a href="#" class="more">更多</a> -->
                </div>
                <div class="list">
                  <volist name="list" id="vo">
                    <div class="item clearFix">
                        <a href="{:U('News/news_details?id='.$vo['id'])}">
                            <img src="./Uploads{$vo.imgpath}" alt=""/>
                        </a>
                        <div class="content">
                            <h1><?php echo strlen($vo['title'])>30?mb_substr($vo['title'],0,24,'utf-8').'......':$vo['title'] ?></h1>
                            <p>{$vo.digest}</p>
                            <a href="{:U('News/news_details?id='.$vo['id'])}" class="details">[详情]</a>
                        </div>
                    </div>
                </volist>
                {$page}
                </div>
            </div>
            <!--
            <div class="ladder">
                <div class="title">
                    <h2>粉丝焦点</h2>
                     <a href="#" class="more">更多</a>
                </div>
                <ul class="list">
                    <li href="#" class="item">
                        <span class="num num1"></span>
                        <a href="#" class="text">喜剧演员。。。。。。。。。。。。。。。。。。。</a>
                    </li>
                    <li href="#" class="item">
                        <span class="num num2"></span>
                        <a href="#" class="text">喜剧演员。。。。。。。。。。。。。。。。。。。</a>
                    </li>
                    <li href="#" class="item">
                        <span class="num num3"></span>
                        <a href="#" class="text">喜剧演员。。。。。。。。。。。。。。。。。。。</a>
                    </li>
                    <li href="#" class="item">
                        <span class="num num4"></span>
                        <a href="#" class="text">喜剧演员。。。。。。。。。。。。。。。。。。。</a>
                    </li>
                    <li href="#" class="item">
                        <span class="num num5"></span>
                        <a href="#" class="text">喜剧演员。。。。。。。。。。。。。。。。。。。</a>
                    </li>
                    <li href="#" class="item">
                        <span class="num num6"></span>
                        <a href="#" class="text">喜剧演员。。。。。。。。。。。。。。。。。。。</a>
                    </li>
                    <li href="#" class="item">
                        <span class="num num7"></span>
                        <a href="#" class="text">喜剧演员。。。。。。。。。。。。。。。。。。。</a>
                    </li>
                    <li href="#" class="item">
                        <span class="num num8"></span>
                        <a href="#" class="text">喜剧演员。。。。。。。。。。。。。。。。。。。</a>
                    </li>
                    <li href="#" class="item">
                        <span class="num num9"></span>
                        <a href="#" class="text">喜剧演员。。。。。。。。。。。。。。。。。。。</a>
                    </li>
                    <li href="#" class="item">
                        <span class="num num10"></span>
                        <a href="#" class="text">喜剧演员。。。。。。。。。。。。。。。。。。。</a>
                    </li>
                </ul>
            </div>
            -->
        </div>

    </div>

</div>
<!--webmain end-->


<!--webfooter-->
<include file="Header/header" />
<!--webfooter end-->


<script src="__PUBLIC__/statics/js/jquery-1.8.0.min.js"></script>
<script src="__PUBLIC__/statics/js/modernizr.com-custom-2.6.1-01.js"></script>
<script src="__PUBLIC__/statics/js/jquery.easing.js"></script>

<script src="__PUBLIC__/statics/dist/js/news/news_fans.js"></script>

</body>
</html>
