<!doctype html>
<!--[if lt IE 7 ]>
<html class="ie6"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie7"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>中演网</title>
    <link href="__PUBLIC__/statics/style/reset.css" rel="stylesheet" type="text/css"/>
    <link href="__PUBLIC__/statics/style/common.css" rel="stylesheet" type="text/css"/>
    <link href="__PUBLIC__/statics/style/news-fans.css" rel="stylesheet" type="text/css"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <meta name="Keywords" content="">
    <meta name="Description" content="">
</head>

<body>

<!--webheader-->
<div class="webheader">
    <div class="inner clearFix">
        <a href="index.html" class="logo"></a>

        <div class="nav">
            <ul class="clearFix">
                <li class="first"><a href="{:U('Index/index')}">首页</a></li>
                <li class="c"><a href="{:U('News/index')}">资讯</a></li>
                <li><a href="{:U('#/index')}">活动</a></li>
                <li><a href="{:U('#/index')}">演工委之声</a></li>
                <li><a href="{:U('Vote/index')}">中国电视好演员评选</a></li>
                <li><a href="{:U('#/index')}">饭团</a></li>
                <li><a href="{:U('#/index')}">星站</a></li>
                <li><a href="{:U('#/index')}">明日之星</a></li>
                <li><a href="{:U('Video/index')}">视频</a></li>
                <li><a href="{:U('#/index')}">Stage</a></li>
                <li><a href="{:U('#/index')}">演艺库</a></li>
            </ul>
        </div>
        <a href="#" class="search"></a>
    </div>
</div>
<!--webheader end-->


<!-- 导航栏-->


<!--webmain-->
<div class="webmain">

    <div class="con nav clearFix" id="J_nav">
        <div class="navTitle">
            <a href="#">首页</a> > <a href="#">资讯</a> > <a href="#">正文</a>

            <div class="loginfo"><span class="face"></span><span class="name">用户名</span></div>
        </div>
    </div>
    <div class="wrapper clearFix">
        <!--正文-->
        <div class="content">
            <div class="header">
                <h1>李光洙熊黛林最后的约会：相拥 落泪</h1>
                <h3>2015年09月22日 16:51</h3>
            </div>
            <div class="content">
                testtesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttest<br/>
                testtesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttest
            </div>

        </div>
        <!--右侧边栏-->
        <div class="con rightCol clearFix">
            <div class="title">
                <h2>艺术中国梦</h2>
            </div>
            <a href="#" class="item">
                <div class="txt">
                    <h3>李冰冰 揭秘贫困女星奋斗史</h3>
                    <span>2015-10-14 02:13:36</span>
                </div>
                <img src="/zyw/Public/statics/images/pic-newsdetails-1.jpg">
                <sub class="hover"></sub>
            </a>
            <ul class="newsList clearFix">
                <li class="c">
                    <span class="">"大黑牛"李晨演喜剧偷师沙溢 圈里是"演员副导演"</span><span class="time">3小时前</span>
                </li>
                <li class="c">
                    <span class="">"大黑牛"李晨演喜剧偷师沙溢 圈里是"演员副导演"</span><span class="time">3小时前</span>
                </li>
                <li class="c">
                    <span class="">"大黑牛"李晨演喜剧偷师沙溢 圈里是"演员副导演"</span><span class="time">3小时前</span>
                </li>
                <li class="c">
                    <span class="">"大黑牛"李晨演喜剧偷师沙溢 圈里是"演员副导演"</span><span class="time">3小时前</span>
                </li>
            </ul>
            <div class="title event">
                <h2>活动</h2>
            </div>
            <a href="#" class="item">
                <div class="txt">
                    <h3>伟来眼中的他们</h3>
                    <span>10.25-11.2</span>
                </div>
                <img src="/zyw/Public/statics/images/pic-newsdetails-1.jpg">
                <sub class="hover"></sub>
            </a>
            <p class="active">活动介绍活动介绍活动介绍活动介绍活动介绍活动介绍活动介绍活动介绍活动介绍活动介绍活动介绍活动介绍活动介绍活动介绍活动介绍活动介绍活动介绍活动介绍活动介绍活动介绍</p>
            <div class="focus"><span class="text">2555252</span><span class="iconFocus"></span><span class="text">22555222</span><span class="iconPart"></span></div>




        </div>
    </div>



    <!--webmain end-->


    <!--webfooter-->
    <div class="webfooter">
        <div class="inner clearFix">
            <div class="logo"></div>
            <div class="info">
                <ul class="clearFix">
                    <li class="f"><a href="#">关于我们</a></li>
                    <li><a href="#">加入我们</a></li>
                    <li><a href="#">联系我们</a></li>
                </ul>
                <p>COPYRIGHT © 2008 - 2015 中国电视好演员. 苏ICP证090011号</p>
            </div>
            <div class="qr">
                <p>扫描二维码</p>
                <span>关注官方微信</span>
            </div>
        </div>
    </div>
    <!--webfooter end-->


    <script src="__PUBLIC__/statics/js/jquery-1.8.0.min.js"></script>
    <script src="__PUBLIC__/statics/js/modernizr.com-custom-2.6.1-01.js"></script>
    <script src="__PUBLIC__/statics/js/jquery.easing.js"></script>

    <script src="__PUBLIC__/statics/js/news-fans.js"></script>

</body>
</html>
