
<!doctype html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html> <!--<![endif]-->
<head>
<meta charset="utf-8">
<title>中演网</title>
<link href="statics/style/reset.css" rel="stylesheet" type="text/css" />
<link href="statics/style/common.css" rel="stylesheet" type="text/css" />
<link href="statics/style/news.css" rel="stylesheet" type="text/css" />
<meta name="viewport" content="width=device-width,initial-scale=1.0" />
<meta name="Keywords" content="">
<meta name="Description" content="">
</head>

<body>

    <!--webheader-->
    <div class="webheader">
        <div class="inner clearFix">
            <a href="index.html" class="logo"></a>
            <div class="nav">
                <ul class="clearFix">
                    <li class="first"><a href="index.html">首页</a></li>
                    <li class="c"><a href="news.html">资讯</a></li>
                    <li><a href="#">活动</a></li>
                    <li><a href="#">演工委之声</a></li>
                    <li><a href="vote.html">中国电视好演员评选</a></li>
                    <li><a href="#">饭团</a></li>
                    <li><a href="#">星站</a></li>
                    <li><a href="#">明日之星</a></li>
                    <li><a href="video.html">视频</a></li>
                    <li><a href="#">Stage</a></li>
                    <li><a href="#">演艺库</a></li>
                </ul>
            </div>
            <a href="#" class="search"></a>
        </div>
    </div>
    <!--webheader end-->


    <!--webmain-->
    <div class="webmain">

        <div class="con conTopbanner">
            <img src="statics/images/__p5.jpg" />
        </div>


        <div class="con conFansFocus" id="J_ConFansFocus">
            <div class="title">
                <h2>粉丝焦点</h2>
                <a href="#" class="more">更多</a>
            </div>
            <div class="inner clearFix">
                <a href="#" class="item cover">
                    <div class="txt">
                        <h3>VIXX LR突出女团重围夺得一位</h3>
                        <span>2015-10-14 02:13:36</span>
                    </div>
                    <img src="statics/images/p/p1.jpg" />
                    <sub class="hover"></sub>
                </a>
                <a href="#" class="item cover">
                    <div class="txt">
                        <h3>12道锋味开播 谢霆锋、范冰冰相遇巴黎</h3>
                        <span>2015-10-14 02:13:36</span>
                    </div>
                    <img src="statics/images/p/p2.jpg" />
                    <sub class="hover"></sub>
                </a>
                <a href="#" class="item cover">
                    <div class="txt">
                        <h3>Purfles性感回归"铐链舞"大玩SM救赎爱情</h3>
                        <span>2015-10-14 02:13:36</span>
                    </div>
                    <img src="statics/images/p/p3.jpg" />
                    <sub class="hover"></sub>
                </a>
                <a href="#" class="item cover">
                    <div class="txt">
                        <h3>霸道总裁言承旭追爱前任，双CP四角乱爱烧脑互虐！</h3>
                        <span>2015-10-14 02:13:36</span>
                    </div>
                    <img src="statics/images/p/p4.jpg" />
                    <sub class="hover"></sub>
                </a>
                <a href="#" class="item cover">
                    <div class="txt">
                        <h3>鹿晗新专辑《Reloaded》舞蹈花絮上线</h3>
                        <span>2015-10-14 02:13:36</span>
                    </div>
                    <img src="statics/images/p/p5.jpg" />
                    <sub class="hover"></sub>
                </a>
                <div class="item more">
                    <ul>
                        <li><a href="#">唐嫣穿薄纱裙现身 膝盖似有伤</a><span>3小时前</span></li>
                        <li><a href="#">韩秀榜 第43期精彩演出</a><span>4小时前</span></li>
                        <li><a href="#">CNBLUE新曲MV李正信预告公开</a><span>5小时前</span></li>
                        <li><a href="#">LYn第9张正规专辑视听影像公开</a><span>6小时前</span></li>
                        <li><a href="#">MTV发布2015VMA最佳时刻</a><span>7小时前</span></li>
                        <li><a href="#">SUPER JUNIOR回归变身小恶魔</a><span>3小时前</span></li>
                        <li><a href="#">EXO后续曲回归变身橄榄球美少年</a><span>4小时前</span></li>
                        <li><a href="#">少女时代重新出发魅力回归</a><span>5小时前</span></li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="con conStarsNews clearFix" id="J_ConStarsNews">
            <div class="title">
                <h2>明星动向</h2>
                <a href="#" class="more">更多</a>
            </div>
            <div class="inner clearFix">
                <a href="#" class="l">
                    <p>陈伟伦-百声现场</p>
                    <img src="statics/images/__p2.jpg" />
                    <sub class="hover"></sub>
                </a>
                <div class="r clearFix">
                    <a href="#" class="item">
                        <p>Stephanie</p>
                        <img src="statics/images/p/s1.jpg" />
                        <sub class="hover"></sub>
                    </a>
                    <a href="#" class="item">
                        <p>JUNIEL</p>
                        <img src="statics/images/p/s2.jpg" />
                        <sub class="hover"></sub>
                    </a>
                    <a href="#" class="item">
                        <p>金亨俊</p>
                        <img src="statics/images/p/s3.jpg" />
                        <sub class="hover"></sub>
                    </a>
                    <a href="#" class="item">
                        <p>APRIL</p>
                        <img src="statics/images/p/s4.jpg" />
                        <sub class="hover"></sub>
                    </a>
                    <a href="#" class="item">
                        <p>myB</p>
                        <img src="statics/images/p/s5.jpg" />
                        <sub class="hover"></sub>
                    </a>
                    <a href="#" class="item">
                        <p>ZPZG</p>
                        <img src="statics/images/p/s9.jpg" />
                        <sub class="hover"></sub>
                    </a>
                    <a href="#" class="item">
                        <p>BEAT WIN</p>
                        <img src="statics/images/p/s7.jpg" />
                        <sub class="hover"></sub>
                    </a>
                    <a href="#" class="item">
                        <p>FlaShe</p>
                        <img src="statics/images/p/s8.jpg" />
                        <sub class="hover"></sub>
                    </a>
                </div>
            </div>
        </div>


        <div class="con conChinaDream" id="J_ConChinaDream">
            <div class="title">
                <h2>艺术中国梦</h2>
                <a href="#" class="more">更多</a>
            </div>
            <div class="inner clearFix">
                <a href="#" class="item cover">
                    <div class="txt">
                        <h3>VIXX LR突出女团重围夺得一位</h3>
                        <span>2015-10-14 02:13:36</span>
                    </div>
                    <img src="statics/images/p/p1.jpg" />
                    <sub class="hover"></sub>
                </a>
                <a href="#" class="item cover">
                    <div class="txt">
                        <h3>12道锋味开播 谢霆锋、范冰冰相遇巴黎</h3>
                        <span>2015-10-14 02:13:36</span>
                    </div>
                    <img src="statics/images/p/p2.jpg" />
                    <sub class="hover"></sub>
                </a>
                <a href="#" class="item cover">
                    <div class="txt">
                        <h3>Purfles性感回归"铐链舞"大玩SM救赎爱情</h3>
                        <span>2015-10-14 02:13:36</span>
                    </div>
                    <img src="statics/images/p/p3.jpg" />
                    <sub class="hover"></sub>
                </a>
            </div>
        </div>


    </div>
    <!--webmain end-->


    <!--webfooter-->
    <div class="webfooter">
        <div class="inner clearFix">
            <div class="logo"></div>
            <div class="info">
                <ul class="clearFix">
                    <li class="f"><a href="#">关于我们</a></li>
                    <li><a href="#">加入我们</a></li>
                    <li><a href="#">联系我们</a></li>
                </ul>
                <p>COPYRIGHT © 2008 - 2015 中国电视好演员. 苏ICP证090011号</p>
            </div>
            <div class="qr">
                <p>扫描二维码</p>
                <span>关注官方微信</span>
            </div>
        </div>
    </div>
    <!--webfooter end-->


<script src="statics/js/jquery-1.8.0.min.js"></script>
<script src="statics/js/modernizr.com-custom-2.6.1-01.js"></script>
<script src="statics/js/jquery.easing.js"></script>

<script src="statics/js/news.js"></script>

</body>
</html>
