<!doctype html>
<!--[if lt IE 7 ]>
<html class="ie6"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie7"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>中演网</title>
    <link href="__PUBLIC__/statics/style/reset.css" rel="stylesheet" type="text/css"/>
    <link href="__PUBLIC__/statics/style/common.css" rel="stylesheet" type="text/css"/>
    <link href="__PUBLIC__/statics/style/news_fans.css" rel="stylesheet" type="text/css"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <meta name="Keywords" content="">
    <meta name="Description" content="">
</head>

<body>

<!--webheader-->
<div class="webheader">
    <div class="inner clearFix">
        <a href="index.html" class="logo"></a>

        <div class="nav">
            <ul class="clearFix">
                <li class="first"><a href="{:U('Index/index')}">首页</a></li>
                <li class="c"><a href="{:U('News/index')}">资讯</a></li>
                <li><a href="{:U('#/index')}">活动</a></li>
                <li><a href="{:U('#/index')}">演工委之声</a></li>
                <li><a href="{:U('Vote/index')}">中国电视好演员评选</a></li>
                <li><a href="{:U('#/index')}">饭团</a></li>
                <li><a href="{:U('#/index')}">星站</a></li>
                <li><a href="{:U('#/index')}">明日之星</a></li>
                <li><a href="{:U('Video/index')}">视频</a></li>
                <li><a href="{:U('#/index')}">Stage</a></li>
                <li><a href="{:U('#/index')}">演艺库</a></li>
            </ul>
        </div>
        <a href="#" class="search"></a>
    </div>
</div>
<!--webheader end-->


<!-- 导航栏-->


<!--webmain-->
<div class="webmain">

    <div class="con nav clearFix" id="J_nav">
        <div class="navTitle">
            <a href="#">首页</a> > <a href="#">资讯</a> > <a href="#">艺术中国梦</a>

            <div class="loginfo"><span class="face"></span><span class="name">用户名</span></div>
        </div>
    </div>
    <div class="wrapper clearFix">
        <!--正文-->
        <div class="topContent clearFix">
            <a href="#" class="topImg">
                <img src="__PUBLIC__/statics/images/pic_top.jpg" alt=""/>
                <div class="title">
                    <h3>adadadadadadada</h3>
                    <p>范冰冰 大水牛 亲亲我我</p>
                </div>
                <div class="cover"></div>
            </a>

            <div class="right">
                <a href="#" class="rightTop">
                    <img src="__PUBLIC__/statics/images/pic-banner-1.jpg" alt="" />
                    <div class="txt">
                        <h3>李冰冰 揭秘贫困女奋斗史</h3>

                        <p>2015-10-26</p>
                    </div>
                    <div class="cover"></div>
                </a>

                <ul class="list">
                    <li>
                        <a href="#">喜剧演员黄一山来东莞拍微电影</a>
                        <span>3小时前</span>
                    </li>
                    <li>
                        <a href="#">喜剧演员黄一山来东莞拍微电影</a>
                        <span>3小时前</span>
                    </li>
                    <li>
                        <a href="#">喜剧演员黄一山来东莞拍微电影</a>
                        <span>3小时前</span>
                    </li>
                    <li>
                        <a href="#">喜剧演员黄一山来东莞拍微电影</a>
                        <span>3小时前</span>
                    </li>
                    <li>
                        <a href="#">喜剧演员黄一山来东莞拍微电影</a>
                        <span>3小时前</span>
                    </li>
                    <li>
                        <a href="#">喜剧演员黄一山来东莞拍微电影</a>
                        <span>3小时前</span>
                    </li>
                </ul>
            </div>
        </div>

        <!-- 热门资讯-->
        <div class="con favNews">
            <div class="title">
                <h2>热门资讯</h2>
            </div>
            <div class="box">

                <ul class="list" id="list">
                    <li class="item">
                        <a href="#">
                            <img src="__PUBLIC__/statics/images/p_fav.jpg">
                            <div class="txt">
                                <h3>李冰冰 揭秘贫困女奋斗史</h3>

                                <p>2015-10-26</p>
                            </div>
                        </a>
                    </li>
                    <li class="item">
                        <a href="#">
                            <img src="__PUBLIC__/statics/images/p_fav.jpg">
                            <div class="txt">
                                <h3>李冰冰 揭秘贫困女奋斗史</h3>

                                <p>2015-10-26</p>
                            </div>
                        </a>
                    </li>
                    <li class="item">
                        <a href="#">
                            <img src="__PUBLIC__/statics/images/p_fav.jpg">
                            <div class="txt">
                                <h3>李冰冰 揭秘贫困女奋斗史</h3>

                                <p>2015-10-26</p>
                            </div>
                        </a>
                    </li>
                    <li class="item">
                        <a href="#">
                            <img src="__PUBLIC__/statics/images/p_fav.jpg">
                            <div class="txt">
                                <h3>李冰冰 揭秘贫困女奋斗史</h3>

                                <p>2015-10-26</p>
                            </div>
                        </a>
                    </li>
                    <li class="item">
                        <a href="#">
                            <img src="__PUBLIC__/statics/images/p_fav.jpg">
                            <div class="txt">
                                <h3>李冰冰 揭秘贫困女奋斗史</h3>

                                <p>2015-10-26</p>
                            </div>
                        </a>
                    </li>
                    <li class="item">
                        <a href="#">
                            <img src="__PUBLIC__/statics/images/p_fav.jpg">
                            <div class="txt">
                                <h3>李冰冰 揭秘贫困女奋斗史</h3>

                                <p>2015-10-26</p>
                            </div>
                        </a>
                    </li>
                </ul>
                    <a href="javascript:;" class="preview" id="preview"></a>
                    <a href="javascript:;" class="next" id="next"></a>

            </div>
        </div>

        <!-- 底部资讯-->
        <div class="con bottomContent">
            <div class="lastedNews">
                <div class="title">
                    <h2>粉丝焦点</h2>
                    <!-- <a href="#" class="more">更多</a> -->
                </div>
                <div class="list">
                    <div class="item clearFix">
                        <a href="#">
                            <img src="__PUBLIC__/statics/images/p_fav.jpg" alt=""/>
                        </a>
                        <div class="content">
                            <h1>你好，你好，</h1>
                            <p>今日凌晨，彭于晏通过微博晒出两张与洪金宝等人的合照，并留言称，可 爱的师傅和家人，洪家班gogogo。　　照片中，彭于晏搂着师</p>
                            <a href="#" class="details">[详情]</a>
                        </div>
                    </div>
                    <div class="item clearFix">
                        <a href="#">
                            <img src="__PUBLIC__/statics/images/p_fav.jpg" alt=""/>
                        </a>
                        <div class="content">
                            <h1>你好，你好，</h1>
                            <p>今日凌晨，彭于晏通过微博晒出两张与洪金宝等人的合照，并留言称，可 爱的师傅和家人，洪家班gogogo。　　照片中，彭于晏搂着师</p>
                            <a href="#" class="details">[详情]</a>
                        </div>
                    </div>
                    <div class="item clearFix">
                        <a href="#">
                            <img src="__PUBLIC__/statics/images/p_fav.jpg" alt=""/>
                        </a>
                        <div class="content">
                            <h1>你好，你好，</h1>
                            <p>今日凌晨，彭于晏通过微博晒出两张与洪金宝等人的合照，并留言称，可 爱的师傅和家人，洪家班gogogo。　　照片中，彭于晏搂着师</p>
                            <a href="#" class="details">[详情]</a>
                        </div>
                    </div>
                    <div class="item clearFix">
                        <a href="#">
                            <img src="__PUBLIC__/statics/images/p_fav.jpg" alt=""/>
                        </a>
                        <div class="content">
                            <h1>你好，你好，</h1>
                            <p>今日凌晨，彭于晏通过微博晒出两张与洪金宝等人的合照，并留言称，可 爱的师傅和家人，洪家班gogogo。　　照片中，彭于晏搂着师</p>
                            <a href="#" class="details">[详情]</a>
                        </div>
                    </div>
                    <div class="item clearFix">
                        <a href="#">
                            <img src="__PUBLIC__/statics/images/p_fav.jpg" alt=""/>
                        </a>
                        <div class="content">
                            <h1>你好，你好，</h1>
                            <p>今日凌晨，彭于晏通过微博晒出两张与洪金宝等人的合照，并留言称，可 爱的师傅和家人，洪家班gogogo。　　照片中，彭于晏搂着师</p>
                            <a href="#" class="details">[详情]</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ladder">
                <div class="title">
                    <h2>粉丝焦点</h2>
                    <!-- <a href="#" class="more">更多</a> -->
                </div>
                <ul class="list">
                    <li href="#" class="item">
                        <span class="num num1"></span>
                        <a href="#" class="text">喜剧演员。。。。。。。。。。。。。。。。。。。</a>
                    </li>
                    <li href="#" class="item">
                        <span class="num num2"></span>
                        <a href="#" class="text">喜剧演员。。。。。。。。。。。。。。。。。。。</a>
                    </li>
                    <li href="#" class="item">
                        <span class="num num3"></span>
                        <a href="#" class="text">喜剧演员。。。。。。。。。。。。。。。。。。。</a>
                    </li>
                    <li href="#" class="item">
                        <span class="num num4"></span>
                        <a href="#" class="text">喜剧演员。。。。。。。。。。。。。。。。。。。</a>
                    </li>
                    <li href="#" class="item">
                        <span class="num num5"></span>
                        <a href="#" class="text">喜剧演员。。。。。。。。。。。。。。。。。。。</a>
                    </li>
                    <li href="#" class="item">
                        <span class="num num6"></span>
                        <a href="#" class="text">喜剧演员。。。。。。。。。。。。。。。。。。。</a>
                    </li>
                    <li href="#" class="item">
                        <span class="num num7"></span>
                        <a href="#" class="text">喜剧演员。。。。。。。。。。。。。。。。。。。</a>
                    </li>
                    <li href="#" class="item">
                        <span class="num num8"></span>
                        <a href="#" class="text">喜剧演员。。。。。。。。。。。。。。。。。。。</a>
                    </li>
                    <li href="#" class="item">
                        <span class="num num9"></span>
                        <a href="#" class="text">喜剧演员。。。。。。。。。。。。。。。。。。。</a>
                    </li>
                    <li href="#" class="item">
                        <span class="num num10"></span>
                        <a href="#" class="text">喜剧演员。。。。。。。。。。。。。。。。。。。</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>

</div>
<!--webmain end-->


<!--webfooter-->
<div class="webfooter">
    <div class="inner clearFix">
        <div class="logo"></div>
        <div class="info">
            <ul class="clearFix">
                <li class="f"><a href="#">关于我们</a></li>
                <li><a href="#">加入我们</a></li>
                <li><a href="#">联系我们</a></li>
            </ul>
            <p>COPYRIGHT © 2008 - 2015 中国电视好演员. 苏ICP证090011号</p>
        </div>
        <div class="qr">
            <p>扫描二维码</p>
            <span>关注官方微信</span>
        </div>
    </div>
</div>
<!--webfooter end-->


<script src="__PUBLIC__/statics/js/jquery-1.8.0.min.js"></script>
<script src="__PUBLIC__/statics/js/modernizr.com-custom-2.6.1-01.js"></script>
<script src="__PUBLIC__/statics/js/jquery.easing.js"></script>

<script src="__PUBLIC__/statics/js/news_fans.js"></script>

</body>
</html>
