html, body { height: auto; overflow: auto;}
body { background: #c7eafc url(../images/bg.png) 0 0 repeat-x; overflow: auto; padding: 50px 0;}
.wrapper { display: block; width: 1100px; overflow: hidden; margin: 0 auto; background: #fff; position: relative; box-shadow: 0 0 5px rgba(0,0,0,0.1);}
.wrapper .aside { width: 265px; height: inherit; background: #fff; box-shadow: 0 0 7px rgba(0,0,0,0.1); position: relative; left: 0; top: 0; padding: 15px 0 15px 15px; float: left;}
.wrapper .aside h2 { font-weight: normal; font-size: 14px; height: 30px; line-height: 30px; overflow: hidden;}
.wrapper .aside h2 a { color: #479fcf; display: inline-block; background: url(../images/icon1.png) 0 center no-repeat; padding-left: 26px;}
.wrapper .aside ul { font-weight: normal; font-size: 14px; overflow: hidden; padding: 4px 0 4px 12px;}
.wrapper .aside ul li { height: 26px; line-height: 26px; display: block; overflow: hidden;}
.wrapper .aside ul li a { color: #666; display: inline-block; background: url(../images/icon2.png) 0 center no-repeat; padding-left: 16px;}

.wrapper .main { height: 100%; background: #fff; float: left; width: 760px; overflow: hidden; overflow: auto; padding: 20px 30px; font-size: 14px;}
.wrapper .main .title { font-size: 24px; font-weight: normal; color: #ccc; line-height: 24px; padding: 6px 0; margin-bottom: 20px;}
.wrapper .main .inner p { color: #444; margin-bottom: 10px; line-height: 22px;}
.wrapper .main .inner p strong { color: #f00; padding: 0 2px; font-weight: normal;}









