@charset "utf-8";

.webmain .con { margin-bottom: 45px;}
.webmain .con .title { height: 60px; overflow: hidden; background: url(../images/line_contitle.gif) center center repeat-x; margin-bottom: 15px; position: relative;}
.webmain .con .title a.more { display: block; position: absolute; right: 0; top: 16px; background: url(../images/more_contitle.gif); width: 130px; height: 30px; text-indent: -99em; overflow: hidden;}
.webmain .con .title h2 { display: block; width: 100px; height: 60px; background-image: url(../images/txt_contitle.gif); background-repeat: no-repeat; text-indent: -99em; overflow: hidden; float: left;}
.webmain .con .title ul { float: left; height: 26px; background: #fff; padding: 17px 5px 17px 5px;}
.webmain .con .title ul li { float: left; font-size: 16px; height: 26px; line-height: 26px; overflow: hidden; margin-right: 8px;}
.webmain .con .title ul li a { display: block; width: 100%; height: 26px; line-height: 26px; cursor: pointer; padding: 0 8px;}
.webmain .con .title ul li.c a { background: #000; color: #fff;}

.navTitle{color: #ccc}
.navTitle a{color: inherit}
.navTitle a:hover{color: red}

iframe{position: absolute; top: 0; left: 0 ;z-index: 99 }

.webmain .conTop .l { width: 910px; height: 610px; overflow: hidden; float: left; margin-right: 30px; position: relative; display: block;}
.webmain .conTop .l img { display: block; width: 910px; height: 610px;}
.webmain .conTop .l .txt { position: absolute; left: 0; bottom: 0; z-index: 3; width: 100%; padding: 22px 20px 20px 20px; background: rgba(0,0,0,0.34); width: 750px;}
.webmain .conTop .l .txt h3 { color: #fff; font-size: 22px; line-height: 24px; font-weight: normal; margin-bottom: 8px;}
.webmain .conTop .l .txt span { color: #fff; font-size: 14px; line-height: 18px; opacity: 0.7;}
.webmain .conTop .l .play { width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: rgba(0,0,0,0.34); display: none;}
.webmain .conTop .l .play span { position: absolute; left: 50%; top: 50%; width: 60px; height: 60px; margin: -30px 0 0 -30px; background: url(../images/icon_playvideo.png);}
.webmain .conTop .r { width: 260px; height: 610px; overflow: hidden; float: left;}
.webmain .conTop .r .item { width: 120px; height: 90px; overflow: hidden; position: relative; display: block;}
.webmain .conTop .r .item img { display: block; width: 120px; height: 100px;}
.webmain .conTop .r .item .txt { position: absolute; left: 0; bottom: 0; z-index: 3; width: 100%; padding: 5px; background: rgba(0,0,0,0.68);filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr=#57000000,endColorstr=#57000000)}
.webmain .conTop .r .item .txt h3 { color: #fff; font-size: 14px; line-height: 18px; font-weight: normal;}
.webmain .conTop .r .item .txt span { color: #fff; font-size: 12px; line-height: 18px; opacity: 0.7;}
.webmain .conTop .r .t { ; float: left}
.webmain .conTop .r .item .hover { display: block; position: absolute; left: 0; top: 0; width: 100%; height: 100%;background: url("../images/space.png") 0 0 repeat; background: rgba(0,0,0,0);}
.webmain .conTop .r .item .hover:hover{background: #000; background: rgba(0,0,0,0.34);filter: alpha(opacity=34)}
.webmain .conTop .c{
    display: block;
    height: 108px
}
.click .start{background: url("../images/icon_play.jpg") 50% no-repeat; width: 40px;height: 40px;display: inline-block}
.side .des{width: 120px;float: left; padding-left: 15px;font-size: 12px;}
.num{display: inline-block; float: right; padding: 0 5px; color: #ccc ; height: 40px;line-height: 40px}
.date{color: #ccc; display: block}
.side li+li{border-top: 1px solid #9c9c9c; padding-top: 20px;   }

.webmain .conFocus {}
.webmain .conFocus .title h2 { width: 166px;}
.webmain .conFocus .inner .group { float: left; width: 380px; overflow: hidden; margin-left: 30px;}
.webmain .conFocus .inner .group.first { margin-left: 0;}
.webmain .conFocus .inner .group .cover { margin-bottom: 10px; width: 380px; height: 250px; overflow: hidden; position: relative; display: block;}
.webmain .conFocus .inner .group .cover .hover { display: none; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.34);}
.webmain .conFocus .inner .group .cover img { display: block; width: 380px; height: 250px;}
.webmain .conFocus .inner .group .cover .txt { position: absolute; left: 0; bottom: 0; z-index: 3; width: 100%; padding: 12px 10px 10px 10px; background: rgba(0,0,0,0.68); width: 360px;}
.webmain .conFocus .inner .group .cover .txt h3 { color: #fff; font-size: 14px; line-height: 18px; font-weight: normal;}
.webmain .conFocus .inner .group .cover .txt span { color: #fff; font-size: 12px; line-height: 18px; opacity: 0.7;}
.webmain .conFocus .inner .group ul li { display: block; line-height: 20px; height: 20px; overflow: hidden; position: relative; padding-right: 100px; padding: 5px 0;}
.webmain .conFocus .inner .group ul li a { display: inline-block; line-height: 20px;}
.webmain .conFocus .inner .group ul li span { display: block; height: 20px; line-height: 20px; overflow: hidden; position: absolute; right: 0; top: 5px; color: #c1c1c1; font-size: 12px;}

.webmain .conStage {}
.webmain .conStage .title h2 { width: 180px; background-position: 0 0;background-image: url("../images/look.jpg")}
.webmain .conStage .outerFrame{
  height: 140px;
  position: relative;
  overflow: hidden;
}
.webmain .conStage .outerFrame .left{display: inline-block; width: 45px; height: 140px;position: absolute; background: url("../images/pre.png") 50% no-repeat; z-index: 1}
.webmain .conStage .outerFrame .right{display: inline-block; width: 45px; height: 140px;position: absolute; right: 0; background: url("../images/next.png") 50% no-repeat; z-index: 1}
.webmain .conStage .outerFrame li{width: 175px; height: 140px; float: left;position: relative; cursor: pointer}
.webmain .conStage .outerFrame li+li{margin-left: 30px;}
.webmain .conStage .outerFrame .text{position: absolute; bottom: 0; height: 38px; line-height: 38px; color: #fff; background-color: #000;opacity: 50; filter: alpha(opacity:50); width: 100%}
.webmain .conStage .outerFrame ul{width: auto; }
.webmain .conStage .outerFrame .text .time{float: right}



.webmain .conComment { margin-bottom: 0;}
.webmain .conComment .title { margin-bottom: 5px;}
.webmain .conComment .title h2 { width: 120px; background-position: 0 -540px;}
.webmain .conComment .inner .list { margin-bottom: 20px;}
.webmain .conComment .inner .list .item { position: relative; margin-top: 10px;}
.webmain .conComment .inner .list .item .head { width: 50px; height: 50px; float: left; margin-right: 10px;}
.webmain .conComment .inner .list .item .head img { display: block; width: 50px; height: 50px;}
.webmain .conComment .inner .list .item .info { float: left; width: 1140px;}
.webmain .conComment .inner .list .item .info span { color: #c1c1c1; font-size: 12px; line-height: 18px; margin-bottom: 4px; display: block;}
.webmain .conComment .inner .list .item .info p { color: #000; font-size: 14px; line-height: 20px;}
.webmain .conComment .inner .list .item .reply { position: absolute; right: 0; top: 0; line-height: 20px; display: block;}
.webmain .conComment .inner .pager { height: 20px; overflow: hidden; margin-bottom: 15px;}
.webmain .conComment .inner .pager a,
.webmain .conComment .inner .pager span { display: block; float: left; margin-right: 5px; font-size: 12px; padding: 0 2px; line-height: 20px;}
.webmain .conComment .inner .pager a.c { color: #f25e5e;}
.webmain .conComment .inner .send textarea { width: 1178px; height: 120px; padding: 10px; border: 1px solid #000; display: block; margin-bottom: 10px;}
.webmain .conComment .inner .send .submit { width: 80px; height: 32px; line-height: 32px; color: #fff; text-align: center; display: block; background: #000; margin-left: 1122px;}



