<!doctype html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html>
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <title>中演网</title>
  <link href="__PUBLIC__/statics/dist/css/reset.css" rel="stylesheet" type="text/css" />
  <link href="__PUBLIC__/statics/dist/css/common.css" rel="stylesheet" type="text/css" />
  <link href="__PUBLIC__/statics/dist/css/committee/committee.css" rel="stylesheet" type="text/css" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <meta name="Keywords" content="">
  <meta name="Description" content="">
</head>

<body>

  <!--webheader-->
  <include file = "Header/nav" />
  <!--webheader end-->


  <!--webmain-->
  <div class="webmain">
    <!--  导航栏-->
    <div class="navTitle">
      <a href="{:U('Index/index')}">首页</a> > <a href="#">演工委之声</a><!--
           --><include file = "Header/login" />
      </div>

    <div class="topcon">
      <img src="./Uploads{$bannerlist['img']}" alt="" />
      <ul class="link2content">
        <li><a href="{:U('committee_rule',array('type'=>1))}">委员会简介</a></li>
        <li><a href="{:U('committee_rule',array('type'=>2))}">委员会章程</a></li>
        <li><a href="{:U('committee_rule',array('type'=>3))}">委员会人员名册</a></li>
      </ul>
    </div>

    <div class="con notice">
      <div class="title">
        <h2>公告</h2>
      </div>
      <div class="inner">
        <a href="{:U('committee_rule',array('type'=>4))}" class="item">
            <img src="./Uploads{$tall.img}" alt="" />
            <div class="text">
              <h1><?php echo mb_strlen($tall['title'],'utf8')>18?mb_substr($tall['title'],0,18,'utf-8').'...':$tall['title'] ?></h1>
              <h3>{$tall.instime|date= "Y-m-d H:i:s",###}</h3>
            </div>
            <sub></sub>
        </a>
      </div>
    </div>
    <div class="con draft">
      <div class="title">
        <h2>专题摘要</h2>
      </div>
      <div class="inner clearFix">

        <p>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;继中广协电视剧演员委员会后，中国电视艺术家协会演员工作委员会成立大会，于8月6日在钓鱼台国宾馆举行。黄宏出任首届会长，并透露演员入会三条件：得过金鹰奖、得过德艺双馨奖，有社会影响力。他还将演员工作委员会的宗旨概括为六个字：法律、服务、自律。
        </p>
        <p class="div">
          ------------------------------------------------------
        </p>
        <h1>中视协演员委员会成立 黄宏任会长</h1>
        <a href="{:U('committee_rule',array('type'=>1))}">[委员会简介]</a>
        <a href="{:U('committee_rule',array('type'=>2))}">[委员会章程]</a> <br>
        <a href="{:U('committee_rule',array('type'=>3))}">[委员会人员名册]</a>
      <!-- <volist name = "cel" id = "vo">
        <a href="{:U('committee_cel',array('id'=>$vo['id']))}" class="item">
          <h3><?php echo mb_strlen($vo['title'],'utf8')>18?mb_substr($vo['title'],0,18,'utf-8').'...':$vo['title'] ?></h3>
          <span><?php echo floor((time()-$vo['instime'])/3600)?>小时前</span>
        </a>
      </volist> -->

      </div>
    </div>

    <div class="con relative">
      <div class="title">
        <h2>相关简介</h2>
      </div>

      <div class="inner">
    <volist name = "com" id = "vo">
        <div class="item clearFix">
          <!-- <a href="{:U('committee_cel',array('id'=>$vo['id']))}"><?php echo mb_strlen($vo['title'],'utf8')>8?mb_substr($vo['title'],0,7,'utf-8').'...':$vo['title'] ?></a> -->
          <a href="{:U('committee_cel',array('id'=>$vo['id']))}">{$vo.title}</a>
          <div class="maincontent">
            <img src="./Uploads{$vo.img}" alt="" />
            <p>
              <?php echo mb_strlen($vo['digest'],'utf8')>67?mb_substr($vo['digest'],0,67,'utf-8'):$vo['digest'] ?>
            </p>
          </div>
        </div>

  </volist>

      </div>
    </div>
    <div class="clearFix">

    </div>

    <div class="con video">
      <div class="title">
        <h2>视频</h2>
        <!-- <a href="#" class="more">more</a> -->
    </div>
    <div class="inner clearFix">
      <a href="{:U('committee_video',array('id'=>$video[0]['id']))}" class="item">
        <img src="./Uploads{$video[0].img}" alt="" />{$video.img}
        <div class="text">
          <h1><?php echo mb_strlen($video[0]['title'],'utf8')>8?mb_substr($video[0]['title'],0,7,'utf-8').'...':$video[0]['title'] ?></h1>
          <h3>{$video[0].instime|date="Y-m-d H:i:s",###}</h3>
        </div>
        <sub></sub>
      </a>
    </div>
  </div>

    <div class="con committeework">
      <div class="title">
        <h2>中国电视</h2>
      </div>

      <div class="inner">
        <dl class="">
          <dt>法律维权</dt>
          <dd>聘请我国著名的律师设立法律顾问处，增强法律意识，维护合法权益，长年为广大会员提供法律服务</dd>
          <dt>褒奖优秀</dt>
          <dd>创办中国电视演员委员会奖，努力创造优秀品牌，大力扩展社会影响力，增强队伍凝聚力</dd>
          <dt>人事服务</dt>
          <dd>随着我国文化体制及人事制度改革的逐渐深入，工作委员会将负有代理代办会员人事档案的职责；随着专业职称评定制度的发展，努力创造条件，担负起演员专业职称评定的职责</dd>
          <dt>设立基金</dt>
          <dd>设立中国电视演员基金，主要用于为广大会员创造福利，鼓励扶持新人、提倡扶助老弱，奖励创新作品</dd>
          <dt>全面交流</dt>
          <dd>加强与欧美、亚洲韩日等国进行专业交流合作；组织会员和香港、台湾地区演员进行互访交流</dd>
          <dt>参加公益</dt>
          <dd>要积极、及时组织会员参与公益活动、鼓励会员树立“我是中国电视演员”的国家荣誉感</dd>
        </dl>
      </div>
    </div>

    <div class="clearFix">

    </div>

    <div class="con overWatch">
      <div class="title">
        <h2>形象监督</h2>
        <!-- <ul class="group" id="typelist" >
          <li class="active" data-type="redcom">红榜</li>
          <li data-type="blackcom">黑榜</li>
        </ul> -->
      </div>
      <div class="inner clearFix" id="typegroup">
          <!-- <div class="item">
            <a href="#" class="pic">
              <img src="__PUBLIC__/statics/images/p_committee_1.jpg" alt="" />
              <div class="text">
                <h3>电影拍摄花絮</h3>
                <p>2015-10-14 02:13:58</p>
              </div>
              <sub></sub>
            </a>
          </div>
          <div class="item">
            <a href="#" class="pic">
              <img src="__PUBLIC__/statics/images/p_committee_1.jpg" alt="" />
              <div class="text">
                <h3>电影拍摄花絮</h3>
                <p>2015-10-14 02:13:58</p>
              </div>
              <sub></sub>
            </a>
          </div>
          <div class="item">
            <a href="#" class="pic">
              <img src="__PUBLIC__/statics/images/p_committee_1.jpg" alt="" />
              <div class="text">
                <h3>电影拍摄花絮</h3>
                <p>2015-10-14 02:13:58</p>
              </div>
              <sub></sub>
            </a>
          </div>
          <div class="item">
            <a href="#" class="pic">
              <img src="__PUBLIC__/statics/images/p_committee_1.jpg" alt="" />
              <div class="text">
                <h3>电影拍摄花絮</h3>
                <p>2015-10-14 02:13:58</p>
              </div>
              <sub></sub>
            </a>
          </div>
          <div class="item">
            <a href="#" class="pic">
              <img src="__PUBLIC__/statics/images/p_committee_1.jpg" alt="" />
              <div class="text">
                <h3>电影拍摄花絮</h3>
                <p>2015-10-14 02:13:58</p>
              </div>
              <sub></sub>
            </a>
          </div>
          <div class="item">
            <a href="#" class="pic">
              <img src="__PUBLIC__/statics/images/p_committee_1.jpg" alt="" />
              <div class="text">
                <h3>电影拍摄花絮</h3>
                <p>2015-10-14 02:13:58</p>
              </div>
              <sub></sub>
            </a>
          </div> -->
      </div>


      <div class="pagelist" id="pagelist">
        <a href="javacript:;" class="pre">上一页</a>
        <ul class="num">
          <li class="active">1</li>
          <li>2</li>
          <li>3</li>
        </ul>
        <a href="javacript:;" class="next">下一页</a>
      </div>
    </div>

  </div>

  <!--webfooter-->
  <include file="Header/header" />
  <!--webfooter end-->

  <script src="__PUBLIC__/statics/js/jquery-1.8.0.min.js"></script>
  <script src="__PUBLIC__/statics/js/modernizr.com-custom-2.6.1-01.js"></script>
  <script src="__PUBLIC__/statics/js/jquery.easing.js"></script>
  <script src="__PUBLIC__/statics/dist/js/common.js"></script>

  <script src="__PUBLIC__/statics/dist/js/tool/pagev1.js"></script>
  <script src="__PUBLIC__/statics/dist/js/committee/committee.js"></script>

</body>

</html>
