<!doctype html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html> <!--<![endif]-->
<head>
<meta charset="utf-8">
<title>中演网</title>
<link href="__PUBLIC__/statics/style/reset.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/statics/style/common.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/statics/style/committee.css" rel="stylesheet" type="text/css" />
<meta name="viewport" content="width=device-width,initial-scale=1.0" />
<meta name="Keywords" content="">
<meta name="Description" content="">
</head>

<body>

    <!--webheader-->
    <div class="webheader">
        <div class="inner clearFix">
            <a href="index.html" class="logo"></a>
            <div class="nav">
                <ul class="clearFix">
                    <li class="first"><a href="{:U('Index/index')}">首页</a></li>
                    <li><a href="{:U('News/index')}">资讯</a></li>
                    <li><a href="{:U('Active/index')}">活动</a></li>
                    <li  class="c"><a href="{:U('Committee/index')}">演工委之声</a></li>
                    <li><a href="{:U('Vote/index')}">中国电视好演员评选</a></li>
                    <li><a href="{:U('#/index')}">饭团</a></li>
                    <li><a href="{:U('#/index')}">星站</a></li>
                    <li><a href="{:U('#/index')}">明日之星</a></li>
                    <li><a href="{:U('Video/index')}">视频</a></li>
                    <li><a href="{:U('#/index')}">Stage</a></li>
                    <li><a href="{:U('#/index')}">演艺库</a></li>
                </ul>
            </div>
            <a href="#" class="search"></a>
        </div>
    </div>
    <!--webheader end-->


    <!--webmain-->
    <div class="webmain">
        <div class="navTitle">
            <a href="#">首页</a> > <a href="#">演工委之声</a>
        </div>

        <div class="topCon">
            <div class="left">
                <img src="__PUBLIC__/statics/images/p_committee_big.jpg" alt=""/>
                <div class="text">
                    <h3>电影拍摄花絮</h3>
                    <p>2015-10-14 02:13:58</p>
                </div>
                <sub></sub>
            </div>
            <div class="right">

                <div class="item">
                    <a href="#" class="pic">
                        <img src="__PUBLIC__/statics/images/p_committee_1.jpg" alt=""/>
                        <div class="text">
                            <h3>电影拍摄花絮</h3>
                            <p>2015-10-14 02:13:58</p>
                        </div>
                        <sub></sub>
                    </a>
                    <div class="content">
                      <h3>公告</h3>
                      <p>
                        "大黑牛"李晨演喜剧偷师沙溢 圈里是"演员副导演" 喜剧演员黄一山来莞拍微电影 伍迪·艾伦新片再添明星 “绯闻女孩”等演员入选
                      </p>
                    </div>
                </div>
                <div class="item">
                    <a href="#" class="pic">
                        <img src="__PUBLIC__/statics/images/p_committee_1.jpg" alt=""/>
                        <div class="text">
                            <h3>电影拍摄花絮</h3>
                            <p>2015-10-14 02:13:58</p>
                        </div>
                        <sub></sub>
                    </a>
                    <div class="content">
                      <h3>公告</h3>
                      <p>
                        "大黑牛"李晨演喜剧偷师沙溢 圈里是"演员副导演" 喜剧演员黄一山来莞拍微电影 伍迪·艾伦新片再添明星 “绯闻女孩”等演员入选
                      </p>
                    </div>
                </div>
                <div class="item">
                    <a href="#" class="pic">
                        <img src="__PUBLIC__/statics/images/p_committee_1.jpg" alt=""/>
                        <div class="text">
                            <h3>电影拍摄花絮</h3>
                            <p>2015-10-14 02:13:58</p>
                        </div>
                        <sub></sub>
                    </a>
                    <div class="content">
                      <h3>公告</h3>
                      <p>
                        "大黑牛"李晨演喜剧偷师沙溢 圈里是"演员副导演" 喜剧演员黄一山来莞拍微电影 伍迪·艾伦新片再添明星 “绯闻女孩”等演员入选
                      </p>
                    </div>
                </div>

            </div>
        </div>

        <div class="con overWatch">
          <div class="title">
              <h2>形象监督</h2>
              <ul class="group" id="group">
                <li class="active">红榜</li>
                <li>黑榜</li>
              </ul>
          </div>
          <div class="inner clearFix">
            <div class="item">
                <a href="#" class="pic">
                    <img src="__PUBLIC__/statics/images/p_committee_1.jpg" alt=""/>
                    <div class="text">
                        <h3>电影拍摄花絮</h3>
                        <p>2015-10-14 02:13:58</p>
                    </div>
                    <sub></sub>
                </a>
            </div>
            <div class="item">
                <a href="#" class="pic">
                    <img src="__PUBLIC__/statics/images/p_committee_1.jpg" alt=""/>
                    <div class="text">
                        <h3>电影拍摄花絮</h3>
                        <p>2015-10-14 02:13:58</p>
                    </div>
                    <sub></sub>
                </a>
            </div>
            <div class="item">
                <a href="#" class="pic">
                    <img src="__PUBLIC__/statics/images/p_committee_1.jpg" alt=""/>
                    <div class="text">
                        <h3>电影拍摄花絮</h3>
                        <p>2015-10-14 02:13:58</p>
                    </div>
                    <sub></sub>
                </a>
            </div>
            <div class="item">
                <a href="#" class="pic">
                    <img src="__PUBLIC__/statics/images/p_committee_1.jpg" alt=""/>
                    <div class="text">
                        <h3>电影拍摄花絮</h3>
                        <p>2015-10-14 02:13:58</p>
                    </div>
                    <sub></sub>
                </a>
            </div>
            <div class="item">
                <a href="#" class="pic">
                    <img src="__PUBLIC__/statics/images/p_committee_1.jpg" alt=""/>
                    <div class="text">
                        <h3>电影拍摄花絮</h3>
                        <p>2015-10-14 02:13:58</p>
                    </div>
                    <sub></sub>
                </a>
            </div>
            <div class="item">
                <a href="#" class="pic">
                    <img src="__PUBLIC__/statics/images/p_committee_1.jpg" alt=""/>
                    <div class="text">
                        <h3>电影拍摄花絮</h3>
                        <p>2015-10-14 02:13:58</p>
                    </div>
                    <sub></sub>
                </a>
            </div>
            <div class="item">
                  <a href="#" class="pic">
                      <img src="__PUBLIC__/statics/images/p_committee_1.jpg" alt=""/>
                      <div class="text">
                          <h3>电影拍摄花絮</h3>
                          <p>2015-10-14 02:13:58</p>
                      </div>
                      <sub></sub>
                  </a>
              </div>
            <div class="item">
                <a href="#" class="pic">
                    <img src="__PUBLIC__/statics/images/p_committee_1.jpg" alt=""/>
                    <div class="text">
                        <h3>电影拍摄花絮</h3>
                        <p>2015-10-14 02:13:58</p>
                    </div>
                    <sub></sub>
                </a>
            </div>
            <div class="item">
                  <a href="#" class="pic">
                      <img src="__PUBLIC__/statics/images/p_committee_1.jpg" alt=""/>
                      <div class="text">
                          <h3>电影拍摄花絮</h3>
                          <p>2015-10-14 02:13:58</p>
                      </div>
                      <sub></sub>
                  </a>
              </div>

          </div>
        </div>

    </div>

    <!--webfooter-->
    <div class="webfooter">
        <div class="inner clearFix">
            <div class="logo"></div>
            <div class="info">
                <ul class="clearFix">
                    <li class="f"><a href="#">关于我们</a></li>
                    <li><a href="#">加入我们</a></li>
                    <li><a href="#">联系我们</a></li>
                </ul>
                <p>COPYRIGHT © 2008 - 2015 中国电视好演员. 苏ICP证090011号</p>
            </div>
            <div class="qr">
                <p>扫描二维码</p>
                <span>关注官方微信</span>
            </div>
        </div>
    </div>
    <!--webfooter end-->


<script src="__PUBLIC__/statics/js/jquery-1.8.0.min.js"></script>
<script src="__PUBLIC__/statics/js/modernizr.com-custom-2.6.1-01.js"></script>
<script src="__PUBLIC__/statics/js/jquery.easing.js"></script>

<script src="__PUBLIC__/statics/js/committee.js"></script>

</body>
</html>
