<!doctype html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html> <!--<![endif]-->
<head>
<meta charset="utf-8">
<title>中演网</title>
<link href="__PUBLIC__/statics/style/reset.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/statics/style/common.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/statics/style/video.css" rel="stylesheet" type="text/css" />
<meta name="viewport" content="width=device-width,initial-scale=1.0" />
<meta name="Keywords" content="">
<meta name="Description" content="">
</head>

<body>

    <!--webheader-->
    <div class="webheader">
        <div class="inner clearFix">
            <a href="index.html" class="logo"></a>
            <div class="nav">
           
                <ul class="clearFix">
                    <li class="first"><a href="{:U('Index/index')}">首页</a></li>
                    <li><a href="{:U('News/index')}">资讯</a></li>
                    <li><a href="{:U('#/index')}">活动</a></li>
                    <li  class="c"><a href="{:U('Committee/index')}">演工委之声</a></li>
                    <li><a href="{:U('Vote/index')}">中国电视好演员评选</a></li>
                    <li><a href="{:U('#/index')}">饭团</a></li>
                    <li><a href="{:U('#/index')}">星站</a></li>
                    <li><a href="{:U('#/index')}">明日之星</a></li>
                    <li><a href="{:U('Video/index')}">视频</a></li>
                    <li><a href="{:U('#/index')}">Stage</a></li>
                    <li><a href="{:U('#/index')}">演艺库</a></li>
                </ul>
            </div>
            <a href="#" class="search"></a>
        </div>
    </div>
    <!--webheader end-->


    <!--webmain-->
    <div class="webmain">
活动页
    </div>
    <!--webfooter end-->


<script src="__PUBLIC__/statics/js/jquery-1.8.0.min.js"></script>
<script src="__PUBLIC__/statics/js/modernizr.com-custom-2.6.1-01.js"></script>
<script src="__PUBLIC__/statics/js/jquery.easing.js"></script>

<script src="__PUBLIC__/statics/js/video.js"></script>

</body>
</html>
