@charset "UTF-8";

@import "../sasscommon";


// 全局变量
//大图

$bannerwidth:1200px;
$bannerheight:530px;


//banner
.topbanner{
@include banner1($bannerwidth, $bannerheight, 450px);

}



//粉丝社群
.community .inner{
  margin-left: -26px;
  width: 1200px + 26px;
  li{
    display: none;
    &.active{
      display: block;
    }
  }
  .item{
    @include item4(280px, 415px, 50px, 16px);
    float: left;
    margin-left: 26px;
    margin-bottom: 30px;
    .cover{
      text-align: center;
      color: #fff;
      .info{
        display: inline-block;
        margin: 100px 0;
        text-align: center;
        font-size: 12px;
      }
      a{
        position: relative;
        display: inline-block;
        margin: 0 auto;
        width: 120px;
        height: 40px;
        color: #fff;
        font-size: 16px;
        text-align: center;
        line-height: 40px;
        border: 1px solid #fff;
      }
    }
  }
}
