@charset "UTF-8";

@import "../sasscommon";

html,body{
  height: 100%;
}

// 全局变量
//大图

$bannerwidth:1200px;
$bannerheight:530px;


//banner
.topbanner{
@include banner1($bannerwidth, $bannerheight, 450px);

}

.community{
  position: relative;
}

//粉丝社群
.community .inner{
  margin-left: -26px;
  width: 1200px + 26px;
  li{
    display: none;
    &.active{
      display: block;
    }
  }
  .item{
    @include item4(280px, 415px, 50px, 16px);
    float: left;
    margin-left: 26px;
    margin-bottom: 30px;
    .cover{
      text-align: center;
      color: #fff;
      .info{
        display: inline-block;
        margin: 100px 0;
        text-align: center;
        font-size: 12px;
      }
      a{
        position: relative;
        display: inline-block;
        margin: 0 auto;
        width: 120px;
        height: 40px;
        color: #fff;
        font-size: 16px;
        text-align: center;
        line-height: 40px;
        border: 1px solid #fff;
      }
    }
  }
}
.creatRice{
  float: right;
  width: 150px;
  height: 44px;
  margin-top: 8px;
  color: #fff;
  font-size: 14px;
  border: 0;
  background-color: #000;
  cursor: pointer;
}
.create-mask{
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  background: url("../../../images/space.png") 0 0 repeat;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4c000000,endColorstr=#4c000000);
  background-color: rgba(0,0,0,0.3);
  .close{
    position: absolute;
    top: 10px;
    left: 395px;
    cursor: pointer;
  }
}
.create-alert{
  position: relative;
  width: 420px;
  height: 350px;
  top: 300px;
  margin: 0 auto;
  border: 6px solid #999;
  background-color: #fff;
  form{
    margin: {
      left: 80px;
      top: 45px;
    }
  }
}
.create-alert{
  dt{
    float: left;
    width: 70px;
    height: 55px;
    font-size: 14px;
    text-align: right;
    line-height: 55px;
  }
  dd{
    margin-left: 75px;
    height: 55px;
    font-size: 14px;
    line-height: 55px;
    input[type=text]{
      height: 35px;
      border: 1px solid #000;
      background-color: #fff;
      text-indent: 15px;
    }
    select{
      height: 35px;
      width: 70px;
      border: 1px solid #000;
      background-color: #fff;
      text-indent: 10px;
    }
  }
  input[type=submit]{
    position: absolute;
    bottom: 20px;
    height: 35px;
    width: 250px;
    border: 1px solid #000;
    background-color: #000;
    text-indent: 10px;
    color: #fff;
  }
}

.done-mask{
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  background: url("../../../images/space.png") 0 0 repeat;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4c000000,endColorstr=#4c000000);
  background-color: rgba(0,0,0,0.3);
  .close{
    position: absolute;
    top: 10px;
    left: 395px;
    cursor: pointer;
  }
}
.done-alert{
  position: relative;
  width: 420px;
  height: 340px;
  top: 300px;
  margin: 0 auto;
  border: 6px solid #999;
  background-color: #fff;
  .tips1{
    position: absolute;
    left: 25px;
    top: 25px;
  }
  .message{
    position: absolute;
    left: 150px;
    top: 150px;
  }
  .confirm{
    position: absolute;
    left: 80px;
    top: 255px;
    width: 270px;
    height: 35px;
    color: #fff;
    background-color: #000;
    border: 0;
  }



}
.tips2{
  position: absolute;
  top:171px;
  left: 290px;
  font-size: 14px;
}
