<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- initialize -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimum-scale=1.0,maximum-scale=1.0,minimal-ui" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <title>首页</title>
  <!-- css initialize -->
  <link href="__PUBLIC__/termin/css/reset_h5.css" rel="stylesheet" type="text/css" />
  <!--related css-->
  <link href="__PUBLIC__/termin/css/app.css" rel="stylesheet" type="text/css" />
  <link href="__PUBLIC__/termin/css/starvote.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="wrapper">
  <header>
    <a href="javascript:void (0);" class="back" id="topBack"></a><ul id="groupSex"><li class="male active" data-sex="1">男演员</li><li class="female" data-sex="2">女演员</li></ul>
  </header>
  <ul class="group" id="groupColor">
    <li class="active red" data-color="redgroup">红组</li>
    <li class="blue" data-color="bluegroup">蓝组</li>
    <li class="green" data-color="greegroup">绿组</li>
  </ul>
  <ul class="content" id="outerHtml">
    <!--<li class="r">-->
      <!--<div class="no"><span class="de"></span><span class="sig"></span></div>-->
      <!--<span class="face"></span>-->
      <!--<span class="name">范冰冰</span>-->
      <!--<span class="hot">热度：3225565</span>-->
      <!--<div class="ranking"><span class="rankIcon"></span><span>3</span></div>-->
    <!--</li>-->

    <!--<li class="r">-->
      <!--<div class="no"><span class="de"></span><span class="sig"></span></div>-->
      <!--<span class="face"></span>-->
      <!--<span class="name">范冰冰</span>-->
      <!--<span class="hot">热度：3225565</span>-->
      <!--<div class="ranking"><span class="rankIcon"></span><span>3</span></div>-->
    <!--</li>-->

    <!--<li class="r">-->
      <!--<div class="no"><span class="de"></span><span class="sig"></span></div>-->
      <!--<span class="face"></span>-->
      <!--<span class="name">范冰冰</span>-->
      <!--<span class="hot">热度：3225565</span>-->
      <!--<div class="ranking"><span class="rankIcon"></span><span>3</span></div>-->
    <!--</li>-->

    <!--<li class="r">-->
      <!--<div class="no"><span class="de"></span><span class="sig"></span></div>-->
      <!--<span class="face"></span>-->
      <!--<span class="name">范冰冰</span>-->
      <!--<span class="hot">热度：3225565</span>-->
      <!--<div class="ranking"><span class="rankIcon"></span><span>3</span></div>-->
    <!--</li>-->

    <!--<li class="r">-->
      <!--<div class="no"><span class="de"></span><span class="sig"></span></div>-->
      <!--<span class="face"></span>-->
      <!--<span class="name">范冰冰</span>-->
      <!--<span class="hot">热度：3225565</span>-->
      <!--<div class="ranking"><span class="rankIcon"></span><span>3</span></div>-->
    <!--</li>-->

    <!--<li class="r">-->
      <!--<div class="no"><span class="de"></span><span class="sig"></span></div>-->
      <!--<span class="face"></span>-->
      <!--<span class="name">范冰冰</span>-->
      <!--<span class="hot">热度：3225565</span>-->
      <!--<div class="ranking"><span class="rankIcon"></span><span>3</span></div>-->
    <!--</li>-->

    <!--<li class="r">-->
      <!--<div class="no"><span class="de"></span><span class="sig"></span></div>-->
      <!--<span class="face"></span>-->
      <!--<span class="name">范冰冰</span>-->
      <!--<span class="hot">热度：3225565</span>-->
      <!--<div class="ranking"><span class="rankIcon"></span><span>3</span></div>-->
    <!--</li>-->

    <!--<li class="r">-->
      <!--<div class="no"><span class="de"></span><span class="sig"></span></div>-->
      <!--<span class="face"></span>-->
      <!--<span class="name">范冰冰</span>-->
      <!--<span class="hot">热度：3225565</span>-->
      <!--<div class="ranking"><span class="rankIcon"></span><span>3</span></div>-->
    <!--</li>-->

    <!--<li class="r">-->
      <!--<div class="no"><span class="de"></span><span class="sig"></span></div>-->
      <!--<span class="face"></span>-->
      <!--<span class="name">范冰冰</span>-->
      <!--<span class="hot">热度：3225565</span>-->
      <!--<div class="ranking"><span class="rankIcon"></span><span>3</span></div>-->
    <!--</li>-->

    <!--<li class="r">-->
      <!--<div class="no"><span class="de"></span><span class="sig"></span></div>-->
      <!--<span class="face"></span>-->
      <!--<span class="name">范冰冰</span>-->
      <!--<span class="hot">热度：3225565</span>-->
      <!--<div class="ranking"><span class="rankIcon"></span><span>3</span></div>-->
    <!--</li>-->
  </ul>

</div>


<!-- jQ -->
<script type="text/javascript" src="http://m.nadoo.cn/common/js/jquery-2.1.3.min.js"></script>
<!-- seajs -->
<script type="text/javascript" src="http://m.nadoo.cn/common/js/sea.js"></script>
<script type="text/javascript" src="http://m.nadoo.cn/common/js/sea.css.js"></script>
<!-- related js -->
<script>
  seajs.use("__PUBLIC__/termin//js/starvote");
</script>

</body>
</html>