<extend name="Header/header"/>
<block name='header'>
<!DOCTYPE HTML>
<!--[if lt IE 7 ]><html class="ie6 ieOld"><![endif]-->
<!--[if IE 7 ]><html class="ie7 ieOld"><![endif]-->
<!--[if IE 8 ]><html class="ie8 ieOld"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html><!--<![endif]-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>中演网管理平台</title>
<meta name="Keywords" content="">
<meta name="Description" content="">
<link href="__PUBLIC__/statics/style/reset.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/statics/style/base.css" rel="stylesheet" type="text/css" />
<!--每个页面独立的样式文件-->
<style type="text/css">
.table .t1 { text-align: center; width: 80px;}
.table .t2 { text-align: center; width: 100px;}
.table .t2 img { display: block; margin: 0 auto;}
.table .t3 { text-align: center; width: 100px;}
.table .t4 { text-align: center; width: 150px;}
.table .t5 { text-align: center; width: 100px;}
.table .t5 p { text-align: center; color: #41a82c;}
.table .t5 p.cease { color: #ff6363;}
.table .t6 { text-align: center;}
.table .t7 { text-align: center; width: 120px;}
</style>
</head>

<body>
</block>
  

<block name="div">
  <!--container-->
  <div class="webContainer clearFix" id="webContainer">
</block>
<block name="content">
  
 <!--main-->
		<div class="webMain">
			<div class="mainHeader">
				<h1>Stage-作品管理</h1>
				<!--<ul class="menu clearFix">-->
					<!--<li class="current"><a href="#">菜单A</a></li>-->
					<!--<li><a href="#">菜单B</a></li>-->
					<!--<li><a href="#">菜单C</a></li>-->
				<!--</ul>-->
			</div>
			<div class="mainBody">

				<!--摘要提示等-->
				<!--<div class="summary mb20">最近一段时间，互联网圈子里流行“举报”——先有腾讯匿名举报快播视频侵权；后有搜狐“举报”今日头条侵犯版权；日前，阿里巴巴也实名举报《IT时代周刊》舆论胁迫及恶意伤害阿里巴巴声誉。8月7日下午，阿里巴巴公关总监颜乔发表微博，实名举报《IT时代周刊》及下属网站“IT商业新闻网”长期通过舆论胁迫及恶意伤害阿里巴巴集团商誉。</div>-->

				<!--表单-->
				<div class="form">
					<div class="formHeader">
						<h1>作品基本信息</h1>
					</div>
					<form action="{:U('edit',array('id'=>$vedioval['id']))}" method="post" enctype="multipart/form-data">
						<fieldset>
              <!-- 姓名-->
            <div class="l">
                <h6>标题</h6>
                <div class="i"><input type="text" class="input w200"  value="{$vedioval['title']}" name="title" placeholder="请输入标题" /></div>
            </div>

 			<div class="l">
                <h6>视频链接地址</h6>
                <div class="i"><input type="text" class="input w200"  value="{$vedioval['href']}" name="href" placeholder="" /></div>
            </div>
			<div class="l">
                <h6>封面图</h6>
                <div class="i">
                <input type="text" value="{$vedioval['img']}" class="js_imgupload" id="imgurl1" cut="true" width="175" height="140" name="img" />
                </div>
            </div>
			<div class="l">
				<h6>作品简介</h6>
				<div class="i"><textarea class="input" name="content">{$vedioval.content}</textarea></div>
			</div>
			<div class="l">
				<h6>热度</h6>
				<div class="i"><input type="text" class="input w200"  value="{$vedioval['hot']}" name="hot" placeholder="" /></div>
			</div>
			<div class="l">
				<h6>创建时间</h6>
				<div class="i"><input type="text" class="js_date" data-time="true" value="{:date('Y-m-d|H:i',$vedioval['instime'])}" name="instime"/></div>
			</div>
			<div class="l">
                <h6>姓名</h6>
                <div class="i"><input type="text" class="input w200"  value="{$vedioval['acname']}" name="acname" placeholder="请输入姓名" /></div>
            </div>
            <div class="l">
				<h6>性别</h6>
				<div class="i" id="radioClick">
					<input type="radio" name="acsex" value="1" data-val="男"  data-css="r1" <if condition="($vedioval.acsex eq 1)">checked="checked"</if> />
					<input type="radio" name="acsex" value="2" data-val="女"  data-css="r1" <if condition="($vedioval.acsex eq 2)">checked="checked"</if> />
				</div>
			</div>
            <div class="l">
                <h6>出生地</h6>
                <div class="i"><input type="text" class="input w200"  value="{$vedioval['acprovince']}" name="acprovince" placeholder="请输入省" /><input type="text" class="input w200"  value="{$vedioval['accity']}" name="accity" placeholder="请输入市" /></div>
            </div>
            <div class="l">
                <h6>生日</h6>
                <div class="i"><input type="text" class="js_date"   value="{$vedioval['acbirthday']|date='Y-m-d',###}" name="acbirthday" placeholder="请输入生日" /></div>
            </div>
            <div class="l">
                <h6>身高</h6>
                <div class="i"><input type="text" class="input w200"  value="{$vedioval['acheight']}" name="acheight" placeholder="请输入身高" />CM</div>
            </div>
            <div class="l">
                <h6>体重</h6>
                <div class="i"><input type="text" class="input w200"  value="{$vedioval['acweight']}" name="acweight" placeholder="请输入体重" />KG</div>
            </div>
            <div class="l">
                <h6>毕业院校</h6>
                <div class="i"><input type="text" class="input w200"  value="{$vedioval['acschool']}" name="acschool" placeholder="请输入毕业院校" /></div>
            </div>
            <div class="l">
                <h6>个人照片</h6>
                <div class="i"><input type="text" value="{$vedioval['acphoto']}" class="js_imgupload" id="imgurl1" cut="true" width="175" height="140" name="acphoto" /></div>
            </div>
			<div class="l">
                <h6>演艺经历</h6>
                <div class="i"><input type="text" value="{$vedioval['acthrough']}" class="js_imgupload" id="imgurl1" cut="true" width="175" height="140" name="acthrough" /></div>
            </div>
            <div class="l">
                <h6>联系方式</h6>
                <div class="i"><input type="text" value="{$vedioval['phone']}" class="input w200"   width="175" height="140" name="phone" /></div>
            </div>
	<!--主提交按钮-->
				<div class="btnCon btnCon2">
					<input type="submit" class="btnA" value="提交" name = "submit"/>
					<a href="{:U('Stage/index')}" class="btnD">返回</a>
				</div>

						</fieldset>
					</form>
				</div>

			</div>
		</div>
		<!--main end-->

</div>
<!--container end-->
<script type="text/javascript" src="__PUBLIC__/stage/js/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/statics/js/swfobject.js"></script>
<script type="text/javascript" src="__PUBLIC__/statics/js/sea.js"></script>
<script type="text/javascript" src="__PUBLIC__/statics/js/sea.css.js"></script>
<!--富文本编辑器-->
	<script type="text/javascript" charset="utf-8" src="__PUBLIC__/stage/js/ueditor/ueditor.config.js"></script>
	<script type="text/javascript" charset="utf-8" src="__PUBLIC__/stage/js/ueditor/ueditor.all.min.js"></script>
	<script type="text/javascript" charset="utf-8" src="__PUBLIC__/stage/js/ueditor/lang/zh-cn/zh-cn.js"></script>
<!--富文本编辑器 end-->
<script type="text/javascript">
    seajs.use("__PUBLIC__/statics/statics/js/form.js");
</script>
<script>
	var imgUploadServer = "{:urlencode(U("Upload/upload_image?path=vedioimg"))}";
	var imgUploadFile = '__ROOT__/Uploads';
	var swfUrl = "__ROOT__/Public/stage/swf";
	$("#radioClick").click(function(){
		$("#radioClick input").each(function(){
			if($(this).prop("checked")){
				console.log($(this).prop("value"))
				if($(this).prop("value") == 2){
					$("#starAction").show() 
				}else{
					$("#starAction").hide()	
				}
			}
		})
	})
	
	// if($("#setTop input").prop("checked").prop("value") == 1){
	// 		$("#topYes").show()
	// 	}else{
	// 		$("#topYes").hide()
	// }
$("#setTop input").each(function(){
			if($(this).prop("checked")){
				console.log($(this).prop("value"))
				if($(this).prop("value") == 1){
					$("#topYes").show()
				}else{
					$("#topYes").hide()
				}
			}
		})

	$("#setTop").click(function(){
		$("#setTop input").each(function(){
			if($(this).prop("checked")){
				console.log($(this).prop("value"))
				if($(this).prop("value") == 1){
					$("#topYes").show()
				}else{
					$("#topYes").hide()
				}
			}
		})
	})

	$("#J_Form").submit(function(){
		var title=$("#title").val();
		if(title==''||title==null){
			$.tips.error('标题不能为空');
			return false;
		}
	});
</script>
</body>
</html>
</block>