<extend name="Header/header"/>
<block name='header'>
<!DOCTYPE HTML>
<!--[if lt IE 7 ]><html class="ie6 ieOld"><![endif]-->
<!--[if IE 7 ]><html class="ie7 ieOld"><![endif]-->
<!--[if IE 8 ]><html class="ie8 ieOld"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html><!--<![endif]-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>中演网管理平台</title>
<meta name="Keywords" content="">
<meta name="Description" content="">
<link href="__PUBLIC__/statics/style/reset.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/statics/style/base.css" rel="stylesheet" type="text/css" />
<!--每个页面独立的样式文件-->
</head>

<body>
</block>

<block name='div'> 
  <!--container-->
  <div class="webContainer clearFix" id="webContainer">
</block>
    
<block name="content">

    <!--main-->
    <div class="webMain">
      <div class="mainHeader">
        <h1>活动管理</h1>
      </div>
      <div class="mainBody">
        <!--摘要提示等-->
        <!--表单-->
        <div class="form">
          <div class="formHeader">
            <h1>活动详情</h1>
          </div>
          <form action="{:U('Active/upactive')}" method="post" enctype="multipart/form-data" id="J_Form">
            <fieldset>
              <div class="l">
                <h6>活动标题</h6>
                <div class="i"><input type="text" id="title" name="title" class="input" value="{$activeval.title}"/></div>
              </div>

              <div class="l">
                <h6>封面</h6>
                <div class="i">
        <input type="text" value="{$activeval.img}" class="js_imgupload" id="imgurl2" cut="true" width="570" height="810" name="imgpath"/>
                </div>
              </div>

              <div class="l">
                <h6>活动简介</h6>
                <div class="i"><textarea class="input" name="content"><if condition="($activeval.content neq '')">{$activeval.content}</if></textarea></div>
              </div>
              <div class="l">
                <h6>活动地址</h6>
                <div class="i"><input type="text" id="line_address" name="line_address" class="input" value="{$activeval.line_address}"/></div>
              </div>
              <div class="l">
                <h6>活动联系电话</h6>
                <div class="i"><input type="text" id="phone" name="phone" class="input" value="{$activeval.phone}"  onblur="if(/\d{11}/gi.test(this.value)?true:false){}else{alert('活动联系电话输入有误');}"/></div>
              </div>
              <div class="l">
                <h6>开始时间</h6>
                <div class="i"><input type="text" id="date1" class="js_date" name="begin_time" value="{$activeval.begin_time|date='Y-m-d',###}" style="display: none;"></div>
              </div>
              <div class="l">
                <h6>结束时间</h6>
                <div class="i"><input type="text" id="date2" class="js_date" name="last_time" value="{$activeval.last_time|date='Y-m-d',###}" style="display: none;"></div>
              </div>
              <div class="l">
                <h6>设置为推荐</h6>
                <div class="i">
                  <input type="radio" name="order" value="0" data-val="普通活动" data-css="r1" <if condition="$activeval.order eq 0"> checked="checked" </if>/>
                  <input type="radio" name="order" value="1" data-val="推荐活动" data-css="r1" <if condition="$activeval.order eq 1"> checked="checked" </if> />
                </div>
              </div>
              
              <div class="l">
                <h6>主办人姓名</h6>
                <div class="i"><input type="text" id="title" name="sponsor_name" class="input" value="{$activeval.sponsor_name}"/></div>
              </div>
              <div class="l">
                <h6>主办人电话</h6>
                <div class="i"><input type="text" id="title" name="sponsor_phone" class="input" value="{$activeval.sponsor_phone}"  onblur="if(/\d{11}/gi.test(this.value)?true:false){}else{alert('主办人电话输入有误');}"/></div>
              </div>
              <div class="l">
                <h6>主办人地址</h6>
                <div class="i"><input type="text" id="title" name="sponsor_address" class="input" value="{$activeval.sponsor_address}"/></div>
              </div>
              <div class="l">
                <h6>主办人邮箱</h6>
                <div class="i"><input type="text" id="title" name="sponsor_email" class="input" value="{$activeval.sponsor_email}"/></div>
              </div>
              <div class="l">
                <h6>正文</h6>
                <div class="i"><script id="container" name="info" class="js_ueditor" type="text/plain"><?php echo html_entity_decode($activeval['info'])?></script></div>
              </div>
             
              
            </fieldset>
            <div class="btnCon btnCon2">
              <input type="hidden" name="hid_id" class="btnA" value="{$data.id}" />
              <input type="submit" class="btnA" name="submit" value="提交" />
              <a href="{:U('Active/index')}" class="btnA" name="submit">返回</a>
            </div>
          </form>
          
        </div>

        <!--主提交按钮-->
      </div>
    </div>
    <!--main end-->

  </div>
  <!--container end-->




<script type="text/javascript">
var webPath = "";
var imgUploadServer = "{:urlencode(U("Upload/upload_image?path=stage"))}";
var imgUploadFile = '__ROOT__/Uploads';
var swfUrl = "__ROOT__/Public/stage/swf";
var mp3UploadServer = ""; // mp3上传接口地址
var mp3UploadFile = ""; // mp3上传后的文件夹目录
</script>
<script type="text/javascript" src="__PUBLIC__/statics/js/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/statics/js/swfobject.js"></script>
<script type="text/javascript" src="__PUBLIC__/statics/js/sea.js"></script>
<script type="text/javascript" src="__PUBLIC__/statics/js/sea.css.js"></script>
<script type="text/javascript">
    seajs.use("__PUBLIC__/statics/statics/js/form.js");
</script>

<!--富文本编辑器-->
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/statics/js/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/statics/js/ueditor/ueditor.all.min.js"> </script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/statics/js/ueditor/lang/zh-cn/zh-cn.js"></script>
<!--富文本编辑器 end-->

  




</body>
</html>
</block>