<extend name="Header/header"/>
<block name='header'>
<!DOCTYPE HTML>
<!--[if lt IE 7 ]><html class="ie6 ieOld"><![endif]-->
<!--[if IE 7 ]><html class="ie7 ieOld"><![endif]-->
<!--[if IE 8 ]><html class="ie8 ieOld"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html><!--<![endif]-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>中演网管理平台</title>
<meta name="Keywords" content="">
<meta name="Description" content="">
<link href="__PUBLIC__/statics/style/reset.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/statics/style/base.css" rel="stylesheet" type="text/css" />
<!--每个页面独立的样式文件-->
<style type="text/css">
.table .t1 { text-align: center; width: 80px;}
.table .t2 { text-align: center; width: 100px;}
.table .t2 img { display: block; margin: 0 auto;}
.table .t3 { text-align: center; width: 100px;}
.table .t4 { text-align: center; width: 150px;}
.table .t5 { text-align: center; width: 100px;}
.table .t5 p { text-align: center; color: #41a82c;}
.table .t5 p.cease { color: #ff6363;}
.table .t6 { text-align: center;}
.table .t7 { text-align: center; width: 120px;}
</style>
</head>

<body>
</block>
<block name="div">
	<!--container-->
	<div class="webContainer clearFix" id="webContainer">
</block>
<block name="content">
  

  <!--main-->
  <div class="webMain" style="">
    <div class="mainHeader">
      <h1>新闻资讯</h1>
    </div>
    <div class="mainBody">
      <!--筛选-->
      <div class="tableTools clearFix mb30">
        <hr>
        <h6 class="w100 tr">关键字：</h6>
       <!--<form action="" method="post"><div class="i mr20"><input type="text" name="keywords" value="{$Think.session.condition}" class="input w180"></div>
        <div class="i"><input type="submit" name="sousuo" value="查找" class="btnB btnSmall"></a></div>
		</form>--> 
		
       <form action="" method="post"><div class="i mr20">
          <input type="text" name="keywords"
         value="{$Think.session.key}" class="input w180"></div>
        <div class="i"><input type="submit" name="sousuo" value="查找" class="btnB btnSmall"></a></div>
		  </form>
      </div>
      <div class="tableInfo">
        <div class="item"><h2>粉丝焦点</h2><span><a href="{:U('News/index?type='.$group[1]['type'])}">{$group[1]['count(*)']}</a></span></div>
        <div class="item"><h2>星闻动向</h2><span><a href="{:U('News/index?type='.$group[2]['type'])}">{$group[2]['count(*)']}</a></span></div>
        <div class="item"><h2>艺术中国梦</h2><span><a href="{:U('News/index?type='.$group[3]['type'])}">{$group[3]['count(*)']}</a></span></div>
      </div>
      <!--表格-->
      <table class="table" id="J_Table">
        <thead>
        <tr>
          <td class="t1">编号</td>
          <td class="t2">标题</td>
          <td class="t3">封面</td>
          <td class="t4">类型</td>
          <td class="t5">创建时间</td>
          <td class="t6">操作</td>
        </tr>
        </thead>
        <tbody>
		<volist name="result" id="vo">
        <tr>
          <td class="t1">{$i}</td> 
          <td class="t2">{$vo['title']}</td>
		   <td class="t3"><img src="./Uploads{$vo.imgpath}" width="50" height="50"></td>
          <td class="t4">{$vo['type']==1?"粉丝焦点":""}{$vo['type']==2?"星闻动向":""}{$vo['type']==3?"艺术中国梦":""}</td>
          <td class="t6">{$vo['instime']|date='Y-m-d',###}</td>
          <td class="t7">
            <p class="console">
              <a href="{:U('News/add?id='.$vo['id'])}" class="setting">设置</a><a href="javascript:void(0)" data-id="{$vo['id']}" class="delete">删除</a>
            </p>
          </td>
        </tr>
		</volist>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="7">
            <div class="pagers">
              {$page}
            </div>
          </td>
        </tr>
        </tfoot>
      </table>
	  
      <!--主提交按钮-->
	  <div class="btnCon">
       <div class="btnCon">
        <a href="{:U('News/add')}"><input type="button" id="showAlert" class="btnA" value="新增"></a>
      </div>
    </div>
  </div>
  <!--main end-->
</div>
<!--container end-->
<script type="text/javascript" src="__PUBLIC__/stage/js/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/stage/js/common.js"></script>

<script>
    $(function(){
      $("#J_Table").on("click",".delete",function(str){
      	var id = $(this).data("id");
      	$.alert({
      		btnY: "确认",
			btnN: "取消",
			txt:'删除请确认',
			callbackY: function(){
				//window.location = '{:U('News/delete?id='.$vo['id'])}';
				window.location = "./index.php?m=Stage&c=news&a=delete&id="+id;
			}
      	})
      });
    })
  </script>
</body>
</html>
</block>