*{margin: 0;
   padding: 0;
   list-style: none; }
.my-radio{
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url("./radio.gif");
}
.my-radio-active{
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url("./radio.gif");
  background-position: 0  -18px;
}

.my-checkbox{
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("./theme/icon_checkbox.jpg");
}
.my-checkbox-active{
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("./theme/icon_checkbox.jpg");
  background-position: 0  -16px;
}
