<!doctype html>
<!--[if lt IE 7 ]>
<html class="ie6"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie7"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html>
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta name="renderer" content="webkit">
  <title>中演网</title>
  <link href="__PUBLIC__/statics/dist/css/reset.css" rel="stylesheet" type="text/css" />
  <link href="__PUBLIC__/statics/dist/css/common.css" rel="stylesheet" type="text/css" />
  <link href="__PUBLIC__/statics/dist/css/newstar/newstar.css" rel="stylesheet" type="text/css" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <meta name="Keywords" content="">
  <meta name="Description" content="">
</head>

<body>

  <!--webheader-->
 <include file = "Header/nav" />
  <!--webheader end-->


  <!--webmain-->
  <div class="webmain">
    <!--  导航栏-->
    <div class="navTitle">
      <a href="{:U('Index/index')}">首页</a> > <a href="#">明日之星</a><!--
           --><include file = "Header/login" />
    </div>
    <!--  top-->
    <div class="topsection">
      <!--  banner-->
      <div class="topbanner" id="banner">
        <ul class="imglist">
          <volist name="bannerval" id="vo">
            <if condition="$i eq 1">
              <li class="active">
                <a href="{:U('Newstar/classinfo',array('id'=>$vo['newsid']))}">
                  <img src="./Uploads{$vo.img}" alt="1" />
                </a>
              </li>
              <else />
              <li>
                <a href="{:U('Newstar/classinfo',array('id'=>$vo['newsid']))}">
                  <img src="./Uploads{$vo.img}" alt="2" />
                </a>
              </li>
            </if>
          </volist>
        </ul>
        <ul class="dotlist">
          <volist name="bannerval" id="vo">
            <if condition="$i eq 1">
              <li class="active"></li>
              <else />
              <li></li>
            </if>
          </volist>
        </ul>
      </div>
      <!--  最新课程-->
      <div class="course">
        <a href="javascript:;" class="hot active" id="hot">热门排行</a>
        <ul class="hotlist active" id="hotlist">
          <volist name="hotvideo" id="vo">
          <a href = "{:U('Newstar/classinfo',array('id'=>$vo['id']))}">
            <li>
              <span class="no">{$i}.</span>
              <span class="content">
                <?php echo (strlen($vo['title'],'utf8'))>8?mb_substr($vo['title'],0,8,'utf-8').'...':$vo['title'] ?>
              </span>
              <span class="partin">{$vo.hot}</span>
            </li>
            </a>
          </volist>


        </ul>
        <a href="javascript:;" class="new" id="new">最新课程</a>
        <ul class="newlist" id="newlist">
          <volist name="timevideo" id="vo">
          <a href = "{:U('Newstar/classinfo',array('id'=>$vo['id']))}">
            <li>
              <span class="no">{$i}.</span>
              <span class="content">
                <?php echo mb_strlen($vo['title'],'utf8')>8?mb_substr($vo['title'],0,8,'utf-8').'...':$vo['title'] ?>
              </span>asd
              <span class="partin">{$vo.hot}</span>
            </li>
            </a>
          </volist>

        </ul>
      </div>

    </div>

    <!--  热门课程-->
    <div class="con hotcourse">
      <div class="title">
        <h2>热门课程</h2>
        <ul class="group" id="hotcouse">
          <li class="active">直播课</li>
          <li>录播课</li>
        </ul>
      </div>
      <ul class="inner clearFix" id="hotcousegroup">
        <li class="active">
          <volist name="livevideo" id="vo">
            <a href="{:U('Newstar/classinfo',array('id'=>$vo['id']))}">
              <div class="item">
                <img src="./Uploads{$vo.img}" alt="" />
                <div class="text">
                  <h1>
                    <?php echo mb_strlen($vo['title'],'utf8')>15?mb_substr($vo['title'],0,15,'utf-8').'...':$vo['title'] ?>
                  </h1>
                  <h3>{$vo.hot}</h3>
                </div>
                <sub></sub>
              </div>
            </a>
          </volist>
        </li>

        <li class="">
          <volist name="rcevideo" id="vo">
            <a href="{:U('Newstar/classinfo',array('id'=>$vo['id']))}">
              <div class="item">
                <img src="./Uploads{$vo.img}" alt="" />
                <div class="text">
                  <h1>
                    <?php echo mb_strlen($vo['title'],'utf8')>15?mb_substr($vo['title'],0,15,'utf-8').'...':$vo['title'] ?>
                  </h1>
                  <h3>{$vo.hot}</h3>
                </div>
                <sub></sub>
              </div>
            </a>
          </volist>

        </li>

      </ul>
    </div>
    <!--  推荐课程-->
    <div class="con recommendedcourse">
      <div class="title">
        <h2>推荐课程</h2>

      </div>
      <div class="inner clearFix">
        <volist name="revi" id="vo">
          <a href="{:U('Newstar/classinfo',array('id'=>$vo['id']))}">
            <div class="item">
            <if condition = "$vo['topimg'] neq ''">
              <img src="./Uploads{$vo.topimg}" alt="" />
              <else />
              <img src="./Uploads{$vo.img}" alt="" />
            </if>
              <div class="text">
                <h1>
                  <?php echo mb_strlen($vo['title'],'utf8')>15?mb_substr($vo['title'],0,15,'utf-8').'...':$vo['title'] ?>
                </h1>
                <h3>{$vo.hot}</h3>
              </div>
              <sub></sub>
              <div class="des">
                <?php echo mb_strlen($vo['digest'],'utf8')>80?mb_substr($vo['digest'],0,80,'utf-8').'...':$vo['digest'] ?>
              </div>
            </div>
          </a>
        </volist>
      </div>
    </div>


  </div>
  <!--webmain end-->


  <!--webfooter-->
  <include file="Header/header" />
  <!--webfooter end-->


  <script src="__PUBLIC__/statics/js/jquery-1.8.0.min.js"></script>
  <script src="__PUBLIC__/statics/js/modernizr.com-custom-2.6.1-01.js"></script>
  <script src="__PUBLIC__/statics/js/jquery.easing.js"></script>
  <script src="__PUBLIC__/statics/dist/js/common.js"></script>


  <script src="__PUBLIC__/statics/dist/js/tool/tab.js"></script>
  <script src="__PUBLIC__/statics/dist/js/newstar/newstar.js"></script>

</body>

</html>
