<!doctype html>
<!--[if lt IE 7 ]>
<html class="ie6"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie7"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html>
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <title>中演网</title>
  <link href="__PUBLIC__/statics/dist/css/reset.css" rel="stylesheet" type="text/css" />
  <link href="__PUBLIC__/statics/dist/css/common.css" rel="stylesheet" type="text/css" />
  <link href="__PUBLIC__/statics/dist/css/stage/enroll.css" rel="stylesheet" type="text/css" />
  <link href="__PUBLIC__/statics/js/image-cropper/dist/cropper.css" rel="stylesheet" type="text/css"/>
  <link href="__PUBLIC__/statics/js/image-cropper/demo/cropper-demo.css" rel="stylesheet" type="text/css"/>

  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <meta name="Keywords" content="">
  <meta name="Description" content="">
</head>

<body>

  <!--webheader-->
  <div class="webheader">
    <div class="inner clearFix">
      <a href="index.html" class="logo"></a>

      <div class="nav">
        <ul class="clearFix">
          <li class="first"><a href="{:U('Index/index')}">首页</a></li>
          <li><a href="{:U('News/index')}">资讯</a></li>
          <li><a href="{:U('Active/index')}">活动</a></li>
          <li><a href="{:U('Committee/index')}">演工委之声</a></li>
          <li><a href="{:U('Vote/index')}">中国电视好演员评选</a></li>
          <li><a href="{:U('Rice/index')}">饭团</a></li>
          <li><a href="{:U('Starwars/index')}">星站</a></li>
          <li><a href="{:U('Newstar/index')}">明日之星</a></li>
          <li><a href="{:U('Video/index')}">视频</a></li>
          <li class="c"><a href="{:U('Stage/index')}">Stage</a></li>
          <li><a href="{:U('Performing/index')}">演艺库</a></li>
        </ul>
      </div>
      <a href="#" class="search"></a>
    </div>
  </div>
  <!--webheader end-->


  <!--webmain-->
  <div class="webmain">

    <div class="top">
      <h3>报名表</h3>
      <p>
        名要求文案报名要求文案报名要求文案报名要求文案报名要求文案报名要求文案报名要求文案报名要求文案报名要求文案报名要求文案报名要求文案报名要求文案报名要 求文案报名要求文案报名要求文案报名要求文案报名要求文案报名要求文案报名要求文案报名要求文案报名要求文案
      </p>
    </div>
    <div class="chart">
      <form class="" action="{:U('Stage/index')}" method="post">


      <dl class="clearFix">
        <dt>姓名</dt>
        <dd>
          <input type="text" name="name" value="">
        </dd>
        <dt>所属学校/公司</dt>
        <dd>
          <input type="text" name="name" value="">
        </dd>
        <dt>所属院系/部门</dt>
        <dd>
          <input type="text" name="name" value="">
        </dd>
        <dt>通讯地址</dt>
        <dd>
          <input type="text" name="name" value="">
        </dd>
        <dt>手机</dt>
        <dd>
          <input type="text" name="name" value="">
        </dd>
        <dt>电子邮件</dt>
        <dd>
          <input type="text" name="name" value="">
        </dd>
        <dt>备注 </dt>
        <dd>
          <textarea name="name" rows="8" cols="40"></textarea>
        </dd>
        <br>
        <br>
        <br>
        <br>
        <br>
        <dt>个人照片</dt>
        <dd>
          <div class="uploadpic">
            <p>
              <button class="btn-upload btn-lg">选择图片</button>
              <input type="file" name="avatar" id="mypic" /> 支持格式: JPG, PNG
            </p>
            <!--  原图剪裁-->
            <div class="preview-container">

              <!--  原图-->
              <div class="image-container target" id="mypic-target">
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class="noavatar" />
              </div>

              <!--  大图预览-->
              <div class="large-wrapper">
                <div class="image-container large" id="mypic-large">
                  <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class="noavatar" />
                </div>
              </div>
              <!-- <input type="hidden" name="x" value="{{cropContext.left}}"/>
          <input type="hidden" name="y" value="{{cropContext.top}}"/>
          <input type="hidden" name="w" value="{{cropContext.width}}"/>
          <input type="hidden" name="h" value="{{cropContext.height}}"/> -->

            </div>
          </div>
        </dd>
      </dl>
      <div class="submit">
        <input type="submit" name="name" value="确认" class="confirm">
        <a href="{:U('Stage/index')}" class="cancel">取消</a>
      </div>
        </form>
    </div>


  </div>
  <!--webmain end-->


  <include file="Header/header" />
  <!--webfooter end-->


  <script src="__PUBLIC__/statics/js/jquery-1.8.0.min.js"></script>
  <script src="__PUBLIC__/statics/js/modernizr.com-custom-2.6.1-01.js"></script>
  <script src="__PUBLIC__/statics/js/jquery.easing.js"></script>
  <script src="__PUBLIC__/statics/dist/js/stage/enroll.js"></script>
  <script src="__PUBLIC__/statics/js/image-cropper/dist/cropper.js"></script>

</body>

</html>
