<!doctype html>
<!--[if lt IE 7 ]>
<html class="ie6"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie7"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html>
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <title>中演网</title>
  <link href="__PUBLIC__/statics/dist/css/reset.css" rel="stylesheet" type="text/css" />
  <link href="__PUBLIC__/statics/dist/css/common.css" rel="stylesheet" type="text/css" />
  <link href="__PUBLIC__/statics/dist/css/stage/stage.css" rel="stylesheet" type="text/css" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <meta name="Keywords" content="">
  <meta name="Description" content="">
</head>
<body>

  <!--webheader-->
  <div class="webheader">
    <div class="inner clearFix">
      <a href="index.html" class="logo"></a>

      <div class="nav">
        <ul class="clearFix">
          <li class="first"><a href="{:U('Index/index')}">首页</a></li>
          <li><a href="{:U('News/index')}">资讯</a></li>
          <li><a href="{:U('Active/index')}">活动</a></li>
          <li><a href="{:U('Committee/index')}">演工委之声</a></li>
          <li><a href="{:U('Vote/index')}">中国电视好演员评选</a></li>
          <li><a href="{:U('Rice/index')}">饭团</a></li>
          <li><a href="{:U('Starwars/index')}">星站</a></li>
          <li><a href="{:U('Newstar/index')}">明日之星</a></li>
          <li><a href="{:U('Video/index')}">视频</a></li>
          <li class="c"><a href="{:U('Stage/index')}">Stage</a></li>
          <li><a href="{:U('Performing/index')}">演艺库</a></li>
        </ul>
      </div>
      <a href="#" class="search"></a>
    </div>
  </div>
  <!--webheader end-->


  <!--webmain-->
  <div class="webmain">
    <!--  banner-->
    <div class="banner" id="banner">
      <ul class="imglist">
      <volist name = "bannerval" id = "vo">
      <if condition = "$i eq 1">
        <li class="active"><a href="{:U('Performing/actorinfo',array('id'=>$vo['newsid']))}"><img src="./Uploads{$vo.img}" alt="1" /></a></li>
      <else />
        <li><a href="{:U('Performing/actorinfo',array('id'=>$vo['newsid']))}"><img src="./Uploads{$vo.img}" alt="2" /></a></li>
       
      </if>
      </volist>
      </ul>
      <ul class="dotlist">
      <volist name = "bannerval" id = "vo">
      <if condition = "$i eq 1">
         <li class="active"></li>
      <else />
         <li></li>
      </if>
      </volist>
      </ul>
    </div>



    <!--  报名-->
    <div class="enroll">
      <div class="leftsection">
        <button type="button" name="button">在线报名</button>
      </div>
      <div class="rightsection">
        <h3>{$rule.stagetitle}</h3>
        <p>
          {$rule.stagerule}
        </p>
      </div>
    </div>


    <div class="con stage">
      <div class="title">
        <h2>星stage</h2>
      </div>

      <div class="inner clearFix">
        <volist name="list" id="vo">
        <a href="{:U('Performing/actorinfo',array('id'=>$vo['id']))}">
          <div class="item">
        
            <img src="./Uploads{$vo.headimg}" alt="" />
            <p>{$vo.name}</p>
            <sub></sub>
          </div>
        </a>
        </volist>


      </div>
    </div>

    <div class="con work">
      <div class="title">
        <h2>星stage</h2>
        <ul class="group">
          <li class="active">按热门</li>
          <li>按时间</li>
        </ul>
      </div>
      <div class="inner clearFix">
        <ul>
          <li class="byfav active">

            <div class="itembig">
              <img src="#" alt="" />
              <div class="text">
                <h1>xxxx</h1>
                <h3>2015-10-14 02:13:36</h3>
              </div>
              <sub></sub>
            </div>

            <div class="item">
              <img src="#" alt="" />
              <div class="text">
                <span class="left">xxxx</span>
                <span class="right">7:25</span>
              </div>
              <sub></sub>
            </div>

            <div class="item">
              <img src="#" alt="" />
              <div class="text">
                <span class="left">xxxx</span>
                <span class="right">7:25</span>
              </div>
              <sub></sub>
            </div>

            <div class="item">
              <img src="#" alt="" />
              <div class="text">
                <span class="left">xxxx</span>
                <span class="right">7:25</span>
              </div>
              <sub></sub>
            </div>

            <div class="item">
              <img src="#" alt="" />
              <div class="text">
                <span class="left">xxxx</span>
                <span class="right">7:25</span>
              </div>
              <sub></sub>
            </div>

            <div class="item">
              <img src="#" alt="" />
              <div class="text">
                <span class="left">xxxx</span>
                <span class="right">7:25</span>
              </div>
              <sub></sub>
            </div>

            <div class="item">
              <img src="#" alt="" />
              <div class="text">
                <span class="left">xxxx</span>
                <span class="right">7:25</span>
              </div>
              <sub></sub>
            </div>

            <div class="item">
              <img src="#" alt="" />
              <div class="text">
                <span class="left">xxxx</span>
                <span class="right">7:25</span>
              </div>
              <sub></sub>
            </div>

            <div class="item">
              <img src="#" alt="" />
              <div class="text">
                <span class="left">xxxx</span>
                <span class="right">7:25</span>
              </div>
              <sub></sub>
            </div>

            <div class="item">
              <img src="#" alt="" />
              <div class="text">
                <span class="left">xxxx</span>
                <span class="right">7:25</span>
              </div>
              <sub></sub>
            </div>

            <div class="item">
              <img src="#" alt="" />
              <div class="text">
                <span class="left">xxxx</span>
                <span class="right">7:25</span>
              </div>
              <sub></sub>
            </div>

            <div class="item">
              <img src="#" alt="" />
              <div class="text">
                <span class="left">xxxx</span>
                <span class="right">7:25</span>
              </div>
              <sub></sub>
            </div>
          </li>

          <li class="bytime">

            <div class="itembig">
              <img src="#" alt="" />
              <div class="text">
                <h1>xxxx</h1>
                <h3>2015-10-14 02:13:36</h3>
              </div>
              <sub></sub>
            </div>

            <div class="item">
              <img src="#" alt="" />
              <div class="text">
                <span class="left">xxxx</span>
                <span class="right">7:25</span>
              </div>
              <sub></sub>
            </div>

            <div class="item">
              <img src="#" alt="" />
              <div class="text">
                <span class="left">xxxx</span>
                <span class="right">7:25</span>
              </div>
              <sub></sub>
            </div>

            <div class="item">
              <img src="#" alt="" />
              <div class="text">
                <span class="left">xxxx</span>
                <span class="right">7:25</span>
              </div>
              <sub></sub>
            </div>

            <div class="item">
              <img src="#" alt="" />
              <div class="text">
                <span class="left">xxxx</span>
                <span class="right">7:25</span>
              </div>
              <sub></sub>
            </div>

            <div class="item">
              <img src="#" alt="" />
              <div class="text">
                <span class="left">xxxx</span>
                <span class="right">7:25</span>
              </div>
              <sub></sub>
            </div>

            <div class="item">
              <img src="#" alt="" />
              <div class="text">
                <span class="left">xxxx</span>
                <span class="right">7:25</span>
              </div>
              <sub></sub>
            </div>

            <div class="item">
              <img src="#" alt="" />
              <div class="text">
                <span class="left">xxxx</span>
                <span class="right">7:25</span>
              </div>
              <sub></sub>
            </div>

            <div class="item">
              <img src="#" alt="" />
              <div class="text">
                <span class="left">xxxx</span>
                <span class="right">7:25</span>
              </div>
              <sub></sub>
            </div>

            <div class="item">
              <img src="#" alt="" />
              <div class="text">
                <span class="left">xxxx</span>
                <span class="right">7:25</span>
              </div>
              <sub></sub>
            </div>

            <div class="item">
              <img src="#" alt="" />
              <div class="text">
                <span class="left">xxxx</span>
                <span class="right">7:25</span>
              </div>
              <sub></sub>
            </div>

            <div class="item">
              <img src="#" alt="" />
              <div class="text">
                <span class="left">xxxx</span>
                <span class="right">7:25</span>
              </div>
              <sub></sub>
            </div>

          </li>


        </ul>
      </div>
    </div>
  </div>
  <!--webmain end-->


  <include file="Header/header" />
  <!--webfooter end-->


  <script src="__PUBLIC__/statics/js/jquery-1.8.0.min.js"></script>
  <script src="__PUBLIC__/statics/js/modernizr.com-custom-2.6.1-01.js"></script>
  <script src="__PUBLIC__/statics/js/jquery.easing.js"></script>
  <script src="__PUBLIC__/statics/dist/js/tool/tab.js"></script>
  <script src="__PUBLIC__/statics/dist/js/stage/stage.js"></script>

</body>

</html>
