
<!doctype html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html> <!--<![endif]-->
<head>
<meta property="qc:admins" content="2055274421614776367072177" />
<meta charset="utf-8">
<title>中演网</title>
<link href="__PUBLIC__/statics/dist/css/reset.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/statics/dist/css/common.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/statics/dist/css/index/myinfo.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/statics/dist/css/index/setting.css" rel="stylesheet" type="text/css" />

<meta name="viewport" content="width=device-width,initial-scale=1.0" />
<meta name="Keywords" content="">
<meta name="Description" content="">

</head>

<body>

    <!--webheader-->
    <div class="webheader">
        <div class="inner clearFix">
            <a href="index.html" class="logo"></a>
            <div class="nav">
                <ul class="clearFix">
                  <li class="first c"><a href="{:U('Index/index')}">首页</a></li>
                  <li><a href="{:U('News/index')}">资讯</a></li>
                  <li><a href="{:U('Active/index')}">活动</a></li>
                  <li><a href="{:U('Committee/index')}">演工委之声</a></li>
                  <li><a href="{:U('Vote/index')}">中国电视好演员评选</a></li>
                  <li><a href="{:U('#/index')}">饭团</a></li>
                  <li><a href="{:U('Starwars/index')}">星站</a></li>
                  <li><a href="{:U('#/index')}">明日之星</a></li>
                  <li><a href="{:U('Video/index')}">视频</a></li>
                  <li><a href="{:U('#/index')}">Stage</a></li>
                  <li><a href="{:U('Performing/index')}">演艺库</a></li>
                </ul>
            </div>
            <a href="#" class="search"></a>
        </div>
    </div>
    <!--webheader end-->



    <!--webmain-->
    <div class="webmain">
      <div class="con nav clearFix" id="J_nav">
          <div class="navTitle"><a href="{:U('Index/index')}">首页</a> > <a href="#">用户中心</a> ><div class="loginfo"><span class="face"></span><span class="name">用户名</span></div></div>
      </div>
      <div class="content">
        <div class="subnav">
          <div class="title">设置</div>
          <ul class="group">
            <li class="active">基本设置</li>
            <li>安全设置</li>
          </ul>
        </div>
        <ul class="list">



          <li class="active bottomitem">
            <div class="left">
              <ul class="sublist">
                <li class="active">基本资料</li>
                <li>修改头像</li>
                <li>绑定网站</li>
              </ul>
            </div>
            <div class="right">
              <div class="item active">
                <h3>标题</h3>
                <p>
                  大大大大点委屈啊啊大大阿达大大大少打打打打打打打打打大大大大点委屈啊啊大大阿达大大大少打打打打打打打打打大大大大点委屈啊啊大大阿达大大大少打打打打打打打打打大大大大点委屈啊啊大大阿达大大大少打打打打打打打打打大大大大点委屈啊啊大大阿达大大大少打打打打打打打打打
                </p>
              </div>
              <div class="item">
                <h3>标题</h3>
                <p>
                  大大大大点委屈啊啊大大阿达大大大少打打打打打打打打打大大大大点委屈啊啊大大阿达大大大少打打打打打打打打打大大大大点委屈啊啊大大阿达大大大少打打打打打打打打打大大大大点委屈啊啊大大阿达大大大少打打打打打打打打打大大大大点委屈啊啊大大阿达大大大少打打打打打打打打打
                </p>
              </div>
            </div>
          </li>


          <li class="bottomitem">
            <div class="left">
              <ul class="sublist">
                <li class="active">邮箱/手机</li>
                <li>修改密码</li>
              </ul>
            </div>
            <div class="right">
              <div class="item active">
                <h3>标题</h3>
                <p>
                  大大大大点委屈啊啊大大阿达大大大少打打打打打打打打打大大大大点委屈啊啊大大阿达大大大少打打打打打打打打打大大大大点委屈啊啊大大阿达大大大少打打打打打打打打打大大大大点委屈啊啊大大阿达大大大少打打打打打打打打打大大大大点委屈啊啊大大阿达大大大少打打打打打打打打打
                </p>
              </div>
              <div class="item">
                <h3>标题</h3>
                <p>
                  大大大大点委屈啊啊大大阿达大大大少打打打打打打打打打大大大大点委屈啊啊大大阿达大大大少打打打打打打打打打大大大大点委屈啊啊大大阿达大大大少打打打打打打打打打大大大大点委屈啊啊大大阿达大大大少打打打打打打打打打大大大大点委屈啊啊大大阿达大大大少打打打打打打打打打
                </p>
              </div>
            </div>
          </li>



        </ul>
      </div>


    </div>
    <!--webmain end-->


    <!--webfooter-->
    <div class="webfooter">
        <div class="inner clearFix">
            <div class="logo"></div>
            <div class="info">
                <ul class="clearFix">
                    <li class="f"><a href="#">关于我们</a></li>
                    <li><a href="#">加入我们</a></li>
                    <li><a href="#">联系我们</a></li>
                </ul>
                <p>COPYRIGHT © 2008 - 2015 中国电视好演员. 苏ICP证090011号</p>
            </div>
            <div class="qr">
                <p>扫描二维码</p>
                <span>关注官方微信</span>
            </div>
        </div>
    </div>
    <!--webfooter end-->


<script src="__PUBLIC__/statics/js/jquery-1.8.0.min.js"></script>
<script src="__PUBLIC__/statics/js/modernizr.com-custom-2.6.1-01.js"></script>
<script src="__PUBLIC__/statics/js/jquery.easing.js"></script>
<script src="__PUBLIC__/statics/dist/js/index/myinfo.js"></script>

</body>
</html>
