
<!doctype html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html> <!--<![endif]-->
<head>
<meta property="qc:admins" content="2055274421614776367072177" />
<meta charset="utf-8">
<title>中演网</title>
<link href="__PUBLIC__/statics/dist/css/reset.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/statics/dist/css/common.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/statics/dist/css/index/myinfo.css" rel="stylesheet" type="text/css" />
<meta name="viewport" content="width=device-width,initial-scale=1.0" />
<meta name="Keywords" content="">
<meta name="Description" content="">

</head>

<body>
  <div class="wrapper">
    <!--  注册框-->
    <div class="registeralert" id="registeralert">
      <div class="registeralert-main">
        <div class="close" id="close">

        </div>
        <form class="" action="index.html" method="post">

        <div class="registeralert-main-item">
          <label for="mb">手&nbsp;&nbsp;机：</label><input type="text" name="mb" value="" id="mb" placeholder="请输入手机号码">
        </div>
        <div class="registeralert-main-item">
          <label for="password">密&nbsp;&nbsp;码：</label><input type="password" name="password" value="" id="password" placeholder="请输入密码">
        </div>
        <div class="registeralert-main-item">
          <label for="idcode">验证码：</label>
          <input type="text" class="idcode1" name="idcode1" value="" id="idcode1" placeholder="请输入右侧字母">
          <div class="pic"><img src="__PUBLIC__/statics/images/p_identifycode.jpg" alt="" /></div>
          <span class="reflesh"><img src="__PUBLIC__/statics/images/p_reflesh.jpg" alt="" /></span>
        </div>
        <div class="registeralert-main-item">
          <input type="text" name="idcode2" value="" id="idcode2" placeholder="请输入验证码"><!--
          --><span class="getfreemesg">免费获取短信</span>
        </div>
        <div class="registeralert-main-item">
            <input type="checkbox" name="rulechecked" value=""><!--
            --><span class="agree">&nbsp;&nbsp;我同意<em><用户协议></em></span><span class="login">立即登录</span>
        </div>
        <div class="registeralert-main-item">
          <input type="submit" name="name" value="注册">

        </div>
        <div class="registeralert-main-item">
          <span class="login-weibo"></span>
          <span class="login-weichat"></span>
        </div>

      </form>
      </div>
    </div>
    <!--  登录框-->
    <div class="loginalert" id="loginalert">
      <div class="loginalert-main">
        <div class="close" id="close">

        </div>
        <form class="" action="index.html" method="post">

        <div class="loginalert-main-item">
          <label for="mb">手&nbsp;&nbsp;机：</label><input type="text" name="mb" value="" id="mb" placeholder="请输入手机号码">
        </div>
        <div class="loginalert-main-item">
          <label for="password">密&nbsp;&nbsp;码：</label><input type="password" name="password" value="" id="password" placeholder="请输入密码">
        </div>

        <div class="loginalert-main-item">
            <input type="checkbox" name="rulechecked" value=""><!--
            --><span class="remenber">&nbsp;&nbsp;记住我</span><span class="register">立即注册</span><span class="searchpass">找回密码</span>
        </div>
        <div class="loginalert-main-item">
          <input type="submit" name="name" value="注册">

        </div>
        <div class="loginalert-main-item">
          <span class="login-weibo"></span>
          <span class="login-weichat"></span>
        </div>

      </form>
      </div>
    </div>

    <!--  个人中心入口-->
    <div class="myinfoalert">
      <div class="myinfoalert-header">
        <span class="myinfoalert-header-face"></span>
        <div class="myinfoalert-header-content">
          <span class="name">用户名。。。。</span>
          <div class="setting">
             <a href="#" class="set">设置</a>
             <a href="#" class="logout">登出</a>
          </div>
        </div>
      </div>
      <div class="myinfoalert-content">
        <div class="item">
          <a href="#" class="">
            <span class="icon icon1"></span>
            <span class="name">个人中心</span>
          </a>
        </div>
        <div class="item">
          <a href="#" class="">
            <span class="icon icon2"></span>
            <span class="name">我的饭团</span>
          </a>
        </div>
          <div class="item">
            <a href="#" class="">
              <span class="icon icon3"></span>
              <span class="name">我的频道</span>
            </a>
          </div>
      </div>
    </div>

    <div class="pagelist" id="pagelist">
      <a href="#" class="pre">上一页</a>
      <ul class="num">
        <li class="active">1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
        <li>6</li>
        <li>7</li>
        <li>8</li>
        <li>9</li>
        <li>10</li>
      </ul>
      <a href="#" class="next">下一页</a>
    </div>

    <!--webheader-->
    <div class="webheader">
        <div class="inner clearFix">
            <a href="index.html" class="logo"></a>
            <div class="nav">
                <ul class="clearFix">
                    <li class="first c"><a href="{:U('Index/index')}">首页</a></li>
                    <li><a href="{:U('News/index')}">资讯</a></li>
                    <li><a href="{:U('Active/index')}">活动</a></li>
                    <li><a href="{:U('Committee/index')}">演工委之声</a></li>
                    <li><a href="{:U('Vote/index')}">中国电视好演员评选</a></li>
                    <li><a href="{:U('#/index')}">饭团</a></li>
                    <li><a href="{:U('#/index')}">星站</a></li>
                    <li><a href="{:U('#/index')}">明日之星</a></li>
                    <li><a href="{:U('Video/index')}">视频</a></li>
                    <li><a href="{:U('#/index')}">Stage</a></li>
                    <li><a href="{:U('#/index')}">演艺库</a></li>
                </ul>
            </div>
            <a href="#" class="search"></a>
        </div>
    </div>
    <!--webheader end-->



    <!--webmain-->
    <div class="webmain">
      <div class="con nav clearFix" id="J_nav">
          <div class="navTitle"><a href="{:U('Index/index')}">首页</a> > <a href="#">用户中心</a> ><div class="loginfo"><span class="face"></span><span class="name">用户名</span></div></div>
      </div>
      <div class="content">

      </div>


    </div>
    <!--webmain end-->



    <!--webfooter-->
    <div class="webfooter">
        <div class="inner clearFix">
            <div class="logo"></div>
            <div class="info">
                <ul class="clearFix">
                    <li class="f"><a href="#">关于我们</a></li>
                    <li><a href="#">加入我们</a></li>
                    <li><a href="#">联系我们</a></li>
                </ul>
                <p>COPYRIGHT © 2008 - 2015 中国电视好演员. 苏ICP证090011号</p>
            </div>
            <div class="qr">
                <p>扫描二维码</p>
                <span>关注官方微信</span>
            </div>
        </div>
    </div>
    <!--webfooter end-->

</div>
<script src="__PUBLIC__/statics/js/jquery-1.8.0.min.js"></script>
<script src="__PUBLIC__/statics/js/modernizr.com-custom-2.6.1-01.js"></script>
<script src="__PUBLIC__/statics/js/jquery.easing.js"></script>

<script src="__PUBLIC__/statics/dist/js/index/myinfo.js"></script>
<script src="__PUBLIC__/statics/dist/js/pagetool/page.js"></script>
<script src="__PUBLIC__/statics/dist/js/common.js"></script>
<script type="text/javascript" src="__PUBLIC__/statics/js/radio&checkbox/myComponent.js"></script>
<script type="text/javascript">
  initCheckbox("rulechecked");
</script>

</body>
</html>
