<extend name="Header/header"/>
<block name='header'>
<!DOCTYPE HTML>
<!--[if lt IE 7 ]><html class="ie6 ieOld"><![endif]-->
<!--[if IE 7 ]><html class="ie7 ieOld"><![endif]-->
<!--[if IE 8 ]><html class="ie8 ieOld"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html><!--<![endif]-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>中演网管理平台</title>
<meta name="Keywords" content="">
<meta name="Description" content="">
<link href="__PUBLIC__/statics/style/reset.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/statics/style/base.css" rel="stylesheet" type="text/css" />
<!--每个页面独立的样式文件-->
</head>

<body>
</block>

<block name='div'> 
  <!--container-->
  <div class="webContainer clearFix" id="webContainer">
</block>
    
<block name="content">

    <!--main-->
    <div class="webMain">
      <div class="mainHeader">
        <h1>修改明星信息</h1>
        <!--<ul class="menu clearFix">-->
          <!--<li class="current"><a href="#">菜单A</a></li>-->
          <!--<li><a href="#">菜单B</a></li>-->
          <!--<li><a href="#">菜单C</a></li>-->
        <!--</ul>-->
      </div>
      <div class="mainBody">

        <!--摘要提示等-->
        <!--<div class="summary mb20">最近一段时间，互联网圈子里流行“举报”——先有腾讯匿名举报快播视频侵权；后有搜狐“举报”今日头条侵犯版权；日前，阿里巴巴也实名举报《IT时代周刊》舆论胁迫及恶意伤害阿里巴巴声誉。8月7日下午，阿里巴巴公关总监颜乔发表微博，实名举报《IT时代周刊》及下属网站“IT商业新闻网”长期通过舆论胁迫及恶意伤害阿里巴巴集团商誉。</div>-->

        <!--表单-->
        <div class="form">
          <div class="formHeader">
            <h1>请填写基本信息</h1>
          </div>
          <form action="{:U('Performing/edit')}" method="post" enctype="multipart/form-data">
            <fieldset>
              <!-- 姓名-->
              <div class="l">
              <input type="hidden" name="actorid" value="{$actors.id}">
                <h6>姓名</h6>
                <div class="i"><input type="text" class="input w200" value="{$actors.name}" placeholder="请输入姓名" name="name"/></div>
              </div>
              <!-- 头像-->
              <div class="l">
                <h6>头像</h6>
                <div class="i"> <input type="text" value="{$actors.headimg}" class="js_imgupload" id="imgurl2" cut="true" width="100" height="100" name="photo1"/>
                </div>
              </div>
              <!-- 照片-->
              <div class="l">
                <h6>照片</h6>
                <div class="i"> <input type="text" value="{$actors.img}" class="js_imgupload" id="imgurl2" cut="true" width="280" height="310" name="photo2"/>
                </div>
              </div>



              <!-- 性别-->
              <div class="l">
                <h6>性别</h6>
                <div class="i w100">
                  <select name='sex'>
                    <option value= "1"<if condition="$actors.sex eq 1">selected</if> >男</option>
                    <option value= "2"<if condition="$actors.sex eq 2">selected</if>>女</option>
                  </select>
                </div>
              </div>
              <!-- 出生年月-->
              <div class="l">
                <h6>出生年月</h6>
                <div class="i w200">
                  <input type="text" name="birthday" class="js_date" data-time="f alse" value="{:winter_date($actors['birthday'])}" />
                </div>
              </div>
              <!-- 国籍-->
              <div class="l">
                <h6>国籍</h6>
                <div class="i"><input type="text" class="input w200" value="{$actors.national}" placeholder="请输入国籍" name="national" /></div>
              </div>
              <!-- 出生地址-->
              <div class="l">
                <h6>出生地址</h6>
                <div class="i">
                <input type="text" class="input" value="{$actors.address}" placeholder="请输入地址" name="address"/>
                </div>
              </div>
              <div class="l">
                <h6>明星区域</h6>
                <div class="i">
                  <input type="radio" name="area" value="1" data-val="港台" data-css="r1" <if condition="$actors.area eq 1"> checked="checked" </if> />
                  <input type="radio" name="area" value="2" data-val="内地" data-css="r1" <if condition="$actors.area eq 2"> checked="checked" </if> />
                </div>
              </div>
              <div class="l">
                <h6>演艺新人</h6>
                <div class="i">
                  <input type="radio" name="newser" value="0" data-val="不是" data-css="r1" <if condition="$actors.newser eq 0"> checked="checked" </if> />
                  <input type="radio" name="newser" value="1" data-val="是" data-css="r1" <if condition="$actors.newser eq 1"> checked="checked" </if> />
                </div>
              </div>
              
              <!-- 民族-->
              <div class="l">
                <h6>民族</h6>
                <div class="i">
                <input type="text" class="input w200" name="nation" value="{$actors.nation}" placeholder="请输入民族" />
                </div>
              </div>
              <!-- 别名-->
              <div class="l">
                <h6>别名</h6>
                <div class="i">
                <input type="text" class="input w200" name="alias" value="{$actors.alias}" placeholder="请输入别名" />
                </div>
              </div>
              <!-- 星座-->
              <div class="l">
                <h6>星座</h6>
                <div class="i">
                <input type="text" name="constellation" class="input w200" value="{$actors.constellation}" placeholder="请输入星座" />
                </div>
              </div>
              <!-- 血型-->
              <div class="l">
                <h6>血型</h6>
                <div class="i">
                <input type="text" class="input w200" name="blood" value="{$actors.blood}" placeholder="请输入血型" /><span>型</span></div>
              </div>
              <!-- 身高-->
              <div class="l">
                <h6>身高</h6>
                <div class="i"><input type="text" name="height" class="input w200" value="{$actors.height}" placeholder="请输入身高，如180" />CM</div>
              </div>
              <!-- 体重-->
              <div class="l">
                <h6>体重</h6>
                <div class="i"><input type="text" name="weight" class="input w200" value="{$actors.weight}" placeholder="请输入体重，如50" />KG</div>
              </div>
              <!-- 经纪公司-->
              <div class="l">
                <h6>经纪公司</h6>
                <div class="i"><input type="text" name="talent" class="input w300" value="{$actors.talent}" placeholder="请输入经纪公司" /></div>
              </div>
              <div class="l">
                <h6>个人简介</h6>
                <div class="i"><textarea class="input" name="about">{$actors.about}</textarea></div>
              </div>
              <!-- 好演员-->
          <!--     <div class="l">
                <h6>好演员评选</h6>
                <div class="i w100">
                  <select name="promotion">
                    <option name="0" <if condition="$actors.promotion eq 0">selected</if>>预选</option>
                    <option name="36" <if condition="$actors.promotion eq 36">selected</if>>36强</option>
                    <option name="6" <if condition="$actors.promotion eq 6">selected</if>>6强</option>
                  </select>
                </div>
              </div> -->
              <!-- 分组-->
             <!--  <div class="l">
                <h6>好演员分组</h6>
                <div class="i w100">
                  <select name="groupid">
                    <option value="1" <if condition="$actors.groupid eq 1">selected</if> >红组</option>
                    <option value="2" <if condition="$actors.groupid eq 2">selected</if> >蓝组</option>
                    <option value="3" <if condition="$actors.groupid eq 3">selected</if> >绿组</option>
                  </select>
                </div>
              </div> -->
 <!-- 主要成就-->
                        <div class="l">
                            <h6>主要成就</h6>
                            <div class="i"><input type="text" class="input w400" name="achievement" value="{$actors.achievement}"  placeholder="请输入主要成就,用、分隔开"/></div>
                        </div>
                        <div class="l worksList">
                            <h6>代表作</h6>
                            <div class="i" id="J_WorksList">
                              <volist name="production" id = "vo">
                                <div class="item clearFix" data-index="{$i}">
                                    <div class="i w230 mr0"><input type="text" class="input w200" name="title[{$i}]" value="{$vo.title}" placeholder="请输入代表作名字"/></div>
                                    <div class="i w350"><input type="text" value="{$vo.img}" class="js_imgupload" id="imgurl1" cut="true" width="500" height="700" name="photo[{$i}]"/></div>
                                    <div class="i w100"><a href="javascript:void(0);" class="del">删除</a></div>
                                </div>
                            </volist>
                                <a href="javascript:void(0);" class="btnB btnSmall" id="J_AppendWorks">添加代表作</a>
                            </div>
                        </div>

          <div class="btnCon btnCon2">
            <a href="{:U('Performing/index')}" class="btnD">取消</a>
            <input type="submit" class="btnA" name="submit" value="提交" />
          </div>



            </fieldset>
          </form>
        </div>
<!--
       主提交按钮   ajax提交
        <div class="btnCon btnCon2">
          <a href="#" class="btnD">取消</a>
          <input type="submit" class="btnA" value="提交" />
        </div>
-->




      </div>
    </div>
    <!--main end-->

  </div>
  <!--container end-->




<script type="text/javascript">
var webPath = "";
var imgUploadServer = "{:urlencode(U("Upload/upload_image?path=stage"))}";
var imgUploadFile = '__ROOT__/Uploads';
var swfUrl = "__ROOT__/Public/stage/swf";
var mp3UploadServer = ""; // mp3上传接口地址
var mp3UploadFile = ""; // mp3上传后的文件夹目录
</script>
<script type="text/javascript" src="__PUBLIC__/statics/js/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/statics/js/swfobject.js"></script>
<script type="text/javascript" src="__PUBLIC__/statics/js/sea.js"></script>
<script type="text/javascript" src="__PUBLIC__/statics/js/sea.css.js"></script>
<script type="text/javascript">
    seajs.use("__PUBLIC__/statics/statics/js/form.js");
</script>

<!--富文本编辑器-->
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/statics/js/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/statics/js/ueditor/ueditor.all.min.js"> </script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/statics/js/ueditor/lang/zh-cn/zh-cn.js"></script>
<!--富文本编辑器 end-->
<script type="text/javascript">
    $(function(){
            $(".worksList").on("click",".del",function(){
                $(this).parents(".item").remove();
            });


            //动态添加代表作
            var J_AppendWorks =  $("#J_AppendWorks"),
                J_WorksList = $("#J_WorksList");

            J_AppendWorks.on("click", appendWorks);
            function appendWorks(){
                var _item = J_WorksList.find(".item"), _index = 1;
                if(_item.length > 0){
                    _index = +_item.eq(_item.length - 1).data("index");
                    _index ++;
                }
                var d = new Date().getTime();
                J_AppendWorks.before('<div class="item clearFix" data-index="'+ _index +'">'+
                        '<div class="i w230 mr0"><input type="text" class="input w200" name="title['+ _index +']" value="" placeholder="请输入代表作名字"/></div>'+
                        '<div class="i w350"><input type="text" value="" class="js_imgupload" id="imgurl'+ d +'" cut="true" width="500" height="700" name="photo['+ _index +']"/></div>'+
                        '<div class="i w100"><a href="javascript:void(0);" class="del">删除</a></div>'+
                        '</div>');
                $("#imgurl" + d).imgUploadInit();
            }
        });

</script>
  




</body>
</html>
</block>