<!doctype html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html>
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <title>中演网</title>
  <link href="__PUBLIC__/statics/dist/css/reset.css" rel="stylesheet" type="text/css" />
  <link href="__PUBLIC__/statics/dist/css/common.css" rel="stylesheet" type="text/css" />
  <link href="__PUBLIC__/statics/dist/css/rice/homepage.css" rel="stylesheet" type="text/css" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <meta name="Keywords" content="">
  <meta name="Description" content="">
</head>

<body>

  <!--webheader-->
<include file = "Header/nav" />
  <!--webheader end-->


  <!--webmain-->
  <div class="webmain">

    <div class="navTitle">
      <a href="{:U('Index/index')}">首页</a> > <a href="#">饭团</a> > <a href="#">粉丝社群</a> > <a href="#">李易峰</a><!--
           --><include file = "Header/login" />
    </div>

    <div class="headsection">
      <img src="#" alt="" class="face"/><br>
      <span class="name">李易峰</span><br>
      <a href="#" class="join">+ 入团</a>
    </div>
    <ul class="sectiontab">
      <li class="active">主页</li>
      <li>相册</li>
    </ul>
    <div class="maincontent">
      <div class="leftsection">
        <ul class="commentlist">
          <li>
            <div class="comment-list-head">
              <img src="#" alt="" class="userhead" />
              <span class="username">用户名</span>
            </div>
            <div class="commentsec">
              <div class="comment-title">
                评论标题
              </div>
              <div class="comment-body">
                插入富文本
              </div>
              <div class="remark">
                <span>10月30号</span>
                <div class="focussection">
                  <span class="remarknum">22555</span>
                  <span class="hotnum">22095</span>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="rightsection">
        <ul class="fansinfo">
          <li class="item">
            <span>3669</span>
            <span>粉丝数</span>
          </li>
          <li class="item">
            <span>3669</span>
            <span>发帖量</span>
          </li>
          <li class="item">
            <span>3669</span>
            <span>阅读</span>
          </li>
        </ul>
      </div>
    </div>


  </div>
  <!--webmain end-->


  <!--webfooter-->
  <include file="Header/header" />
  <!--webfooter end-->


  <script src="__PUBLIC__/statics/js/jquery-1.8.0.min.js"></script>
  <script src="__PUBLIC__/statics/js/modernizr.com-custom-2.6.1-01.js"></script>
  <script src="__PUBLIC__/statics/js/jquery.easing.js"></script>
  <script src="__PUBLIC__/statics/dist/js/common.js"></script>
  <script src="__PUBLIC__/statics/dist/js/rice/homepage.js"></script>

</body>

</html>
