<!doctype html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html>
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <title>中演网</title>
  <link href="__PUBLIC__/statics/dist/css/reset.css" rel="stylesheet" type="text/css" />
  <link href="__PUBLIC__/statics/dist/css/common.css" rel="stylesheet" type="text/css" />
  <link href="__PUBLIC__/statics/dist/css/rice/homepage.css" rel="stylesheet" type="text/css" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <meta name="Keywords" content="">
  <meta name="Description" content="">
</head>

<body>

  <!--webheader-->
<include file = "Header/nav" />
  <!--webheader end-->


  <!--webmain-->
  <div class="webmain" data-id="{$list.id}">

    <div class="navTitle">
      <a href="{:U('Index/index')}">首页</a> > <a href="{:U('Rice/index')}">饭团</a> > <a href="{:U('Rice/riceall')}">粉丝社群</a> > <a href="#">{$list.name}</a><!--
           --><include file = "Header/login" />
    </div>

    <div class="headsection">
      <img src="./Uploads{$list.img}" alt="" class="face"/><br>
      <span class="name">{$list.name}</span><br>
      <a href="#" class="join">+ 入团</a>
    </div>
    <ul class="sectiontab">
      <li class="active">主页</li>
      <li>相册</li>
    </ul>
    <div class="maincontent">
      <div class="leftsection">
        <ul class="commentlist">
        <volist name = "posts" id = "vo">
        <if condition = "$i">
          <li>
            <div class="comment-list-head clearFix">
              <img src="#" alt="" class="userhead" />
              <span class="username">用户名</span>
            </div>
            <div class="commentsec">
              <div class="comment-title">
                评论标题
              </div>
              <div class="comment-body">
                <div class="comment-content">
                  adadaddada
                </div>
                <div class="piclist clearFix">
                  <img src="#" alt="" />
                </div>
              </div>
              <div class="remark">
                <span>10月30号</span>
                <div class="focussection">
                  <span class="remarknum">22555</span>
                  <span class="hotnum">22095</span>
                </div>
              </div>
            </div>
          </li>
          <else />
          <li>
            <div class="comment-list-head clearFix">
              <img src="#" alt="" class="userhead" />
              <span class="username">用户名</span>
            </div>
            <div class="commentsec">
              <div class="comment-title">
                评论标题
              </div>
              <div class="comment-body">
                <div class="comment-content">
                  adadaddada
                </div>
              </div>
              <div class="remark">
                <span>10月30号</span>
                <div class="focussection">
                  <span class="remarknum">22555</span>
                  <span class="hotnum">22095</span>
                </div>
              </div>
            </div>
          </li>
        </if>
        </volist>
        </ul>

      </div>
      <div class="rightsection">
        <ul class="fansinfo clearFix">
          <li class="item">
            <span class="no">3669</span>
            <span class="tit">粉丝数</span>
          </li>
          <li class="item">
            <span class="no">3669</span>
            <span class="tit">发帖量</span>
          </li>
          <li class="item">
            <span class="no">3669</span>
            <span class="tit">阅读</span>
          </li>
        </ul>
        <div class="cols active">
          <div class="title">

          </div>
          <a href="#" class="item">
            <img src="#" alt="" />
            <div class="text">
              <h1>标题</h1>
              <h3>10.25-11.11</h3>
            </div>
            <sub></sub>
          </a>
          <p>
            活动介绍活动介绍
          </p>
          <span class="focus">25888</span>
        </div>
        <div class="cols interview">
          <div class="title">

          </div>
          <a href="#" class="item">
            <img src="#" alt="" />
            <div class="text">
              <h1>本期嘉宾</h1>
              <h3>范冰冰</h3>
            </div>
            <sub></sub>
          </a>

        </div>

      </div>
    </div>
    <div class="con comments">
      <div class="title">
        <h2>发帖</h2>

      </div>
      <!-- <form class="" action="#" method="post">
        <textarea name="name" rows="8" cols="40"></textarea>
      </form> -->
      <input type="text" name="title" value="" class="articletitle" >
      <textarea id="editor_id" name="content" style="width:700px;height:300px;"></textarea>
      <button type="button" name="button" class="submitmessage">发布</button>

    </div>

  </div>
  <!--webmain end-->


  <!--webfooter-->
  <include file="Header/header" />
  <!--webfooter end-->


  <script src="__PUBLIC__/statics/js/jquery-1.8.0.min.js"></script>
  <script src="__PUBLIC__/statics/js/modernizr.com-custom-2.6.1-01.js"></script>
  <script src="__PUBLIC__/statics/js/jquery.easing.js"></script>
  <script src="__PUBLIC__/statics/dist/js/common.js"></script>
  <script src="__PUBLIC__/statics/dist/js/rice/homepage.js"></script>

  <!--  kindeditor-->
  <script charset="utf-8" src="__PUBLIC__/statics/js/kindeditor/kindeditor.js"></script>
  <script charset="utf-8" src="__PUBLIC__/statics/js/kindeditor/lang/zh_CN.js"></script>
  <script>
        var options = {
          items: [
            'cut','copy','paste','justifyleft','justifycenter','justifyright','justifyfull','fontsize','forecolor','bold','italic',
            'image','emoticons'
          ],
          width : '1198px'
        };
        KindEditor.ready(function(K) {
          window.editor = K.create('#editor_id',options);
        });
  </script>
  <!--  kindeditor end-->

</body>

</html>
