<!doctype html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>中演网</title>
    <link href="__PUBLIC__/statics/dist/css/reset.css" rel="stylesheet" type="text/css"/>
    <link href="__PUBLIC__/statics/dist/css/common.css" rel="stylesheet" type="text/css"/>
    <link href="__PUBLIC__/statics/dist/css/rice/rice.css" rel="stylesheet" type="text/css"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <meta name="Keywords" content="">
    <meta name="Description" content="">
</head>

<body>

<!--webheader-->
<div class="webheader">
    <div class="inner clearFix">
        <a href="index.html" class="logo"></a>

        <div class="nav">
            <ul class="clearFix">
                <li class="first"><a href="{:U('Index/index')}">首页</a></li>
                <li><a href="{:U('News/index')}">资讯</a></li>
                <li><a href="{:U('Active/index')}">活动</a></li>
                <li><a href="{:U('Committee/index')}">演工委之声</a></li>
                <li><a href="{:U('Vote/index')}">中国电视好演员评选</a></li>
                <li class="c"><a href="{:U('#/index')}">饭团</a></li>
                <li><a href="{:U('Starwars/index')}">星站</a></li>
                <li><a href="{:U('Newstar/index')}">明日之星</a></li>
                <li><a href="{:U('Video/index')}">视频</a></li>
                <li><a href="{:U('Stage/index')}">Stage</a></li>
                <li><a href="{:U('Performing/index')}">演艺库</a></li>
            </ul>
        </div>
        <a href="#" class="search"></a>
    </div>
</div>
<!--webheader end-->


<!--webmain-->
<div class="webmain">

  <div class="navTitle">
      <a href="#">首页</a> > <a href="#">饭团</a><!--
       --><div class="loginfo"><span class="face"></span><span class="name">用户名</span></div>
  </div>


  <div class="topbanner" id="banner">
    <ul class="imglist">
      <li class="active"><a href="#"><img src="#" alt="1" /></a></li>
      <li><a href="#"><img src="#" alt="2" /></a></li>
      <li><a href="#"><img src="#" alt="3"  /></a></li>
      <li><a href="#"><img src="#" alt="4"  /></a></li>
    </ul>
    <ul class="dotlist">
      <li class="active"></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>

  <div class="con community" id="community">
    <div class="title community-title">
      <h2>粉丝社群</h2>
      <ul class="group">
        <li class="active">人数</li>
        <li>人气</li>
        <li>活跃</li>
      </ul>
      <a href="{:U('Rice/riceall')}" class="more">more</a>
    </div>
    <ul class="inner clearFix">
      <li class="active">
          <div class="item">
            <img src="#" alt="" />
            <p>郑秀金</p>
            <div class="cover">
              <div class="info">
                粉丝数 1111&nbsp;&nbsp;贴&nbsp;量 231313131
              </div>
              <a href="javascript:;">我要报名</a>
            </div>
          </div>
          <div class="item">
            <img src="#" alt="" />
            <p>郑秀金</p>
            <div class="cover">
              <div class="info">
                粉丝数 1111&nbsp;&nbsp;贴&nbsp;量 231313131
              </div>
              <a href="javascript:;">我要报名</a>
            </div>
          </div>
          <div class="item">
            <img src="#" alt="" />
            <p>郑秀金</p>
            <div class="cover">
              <div class="info">
                粉丝数 1111&nbsp;&nbsp;贴&nbsp;量 231313131
              </div>
              <a href="javascript:;">我要报名</a>
            </div>
          </div>
          <div class="item">
            <img src="#" alt="" />
            <p>郑秀金</p>
            <div class="cover">
              <div class="info">
                粉丝数 1111&nbsp;&nbsp;贴&nbsp;量 231313131
              </div>
              <a href="javascript:;">我要报名</a>
            </div>
          </div>
          <div class="item">
            <img src="#" alt="" />
            <p>郑秀金</p>
            <div class="cover">
              <div class="info">
                粉丝数 1111&nbsp;&nbsp;贴&nbsp;量 231313131
              </div>
              <a href="javascript:;">我要报名</a>
            </div>
          </div>
          <div class="item">
            <img src="#" alt="" />
            <p>郑秀金</p>
            <div class="cover">
              <div class="info">
                粉丝数 1111&nbsp;&nbsp;贴&nbsp;量 231313131
              </div>
              <a href="javascript:;">我要报名</a>
            </div>
          </div>
          <div class="item">
            <img src="#" alt="" />
            <p>郑秀金</p>
            <div class="cover">
              <div class="info">
                粉丝数 1111&nbsp;&nbsp;贴&nbsp;量 231313131
              </div>
              <a href="javascript:;">我要报名</a>
            </div>
          </div>
          <div class="item">
            <img src="#" alt="" />
            <p>郑秀金</p>
            <div class="cover">
              <div class="info">
                粉丝数 1111&nbsp;&nbsp;贴&nbsp;量 231313131
              </div>
              <a href="javascript:;">我要报名</a>
            </div>
          </div>
      </li>
      <li class="">
          <div class="item">
            <img src="#" alt="" />
            <p>郑秀金</p>
            <div class="cover">
              <div class="info">
                粉丝数 1111&nbsp;&nbsp;贴&nbsp;量 231313131
              </div>
              <a href="javascript:;">我要报名</a>
            </div>
          </div>
          <div class="item">
            <img src="#" alt="" />
            <p>郑秀金</p>
            <div class="cover">
              <div class="info">
                粉丝数 1111&nbsp;&nbsp;贴&nbsp;量 231313131
              </div>
              <a href="javascript:;">我要报名</a>
            </div>
          </div>
          <div class="item">
            <img src="#" alt="" />
            <p>郑秀金</p>
            <div class="cover">
              <div class="info">
                粉丝数 1111&nbsp;&nbsp;贴&nbsp;量 231313131
              </div>
              <a href="javascript:;">我要报名</a>
            </div>
          </div>
          <div class="item">
            <img src="#" alt="" />
            <p>郑秀金</p>
            <div class="cover">
              <div class="info">
                粉丝数 1111&nbsp;&nbsp;贴&nbsp;量 231313131
              </div>
              <a href="javascript:;">我要报名</a>
            </div>
          </div>
          <div class="item">
            <img src="#" alt="" />
            <p>郑秀金</p>
            <div class="cover">
              <div class="info">
                粉丝数 1111&nbsp;&nbsp;贴&nbsp;量 231313131
              </div>
              <a href="javascript:;">我要报名</a>
            </div>
          </div>
          <div class="item">
            <img src="#" alt="" />
            <p>郑秀金</p>
            <div class="cover">
              <div class="info">
                粉丝数 1111&nbsp;&nbsp;贴&nbsp;量 231313131
              </div>
              <a href="javascript:;">我要报名</a>
            </div>
          </div>
          <div class="item">
            <img src="#" alt="" />
            <p>郑秀金</p>
            <div class="cover">
              <div class="info">
                粉丝数 1111&nbsp;&nbsp;贴&nbsp;量 231313131
              </div>
              <a href="javascript:;">我要报名</a>
            </div>
          </div>
          <div class="item">
            <img src="#" alt="" />
            <p>郑秀金</p>
            <div class="cover">
              <div class="info">
                粉丝数 1111&nbsp;&nbsp;贴&nbsp;量 231313131
              </div>
              <a href="javascript:;">我要报名</a>
            </div>
          </div>
      </li>
      <li class="">
          <div class="item">
            <img src="#" alt="" />
            <p>郑秀金</p>
            <div class="cover">
              <div class="info">
                粉丝数 1111&nbsp;&nbsp;贴&nbsp;量 231313131
              </div>
              <a href="javascript:;">我要报名</a>
            </div>
          </div>
          <div class="item">
            <img src="#" alt="" />
            <p>郑秀金</p>
            <div class="cover">
              <div class="info">
                粉丝数 1111&nbsp;&nbsp;贴&nbsp;量 231313131
              </div>
              <a href="javascript:;">我要报名</a>
            </div>
          </div>
          <div class="item">
            <img src="#" alt="" />
            <p>郑秀金</p>
            <div class="cover">
              <div class="info">
                粉丝数 1111&nbsp;&nbsp;贴&nbsp;量 231313131
              </div>
              <a href="javascript:;">我要报名</a>
            </div>
          </div>
          <div class="item">
            <img src="#" alt="" />
            <p>郑秀金</p>
            <div class="cover">
              <div class="info">
                粉丝数 1111&nbsp;&nbsp;贴&nbsp;量 231313131
              </div>
              <a href="javascript:;">我要报名</a>
            </div>
          </div>
          <div class="item">
            <img src="#" alt="" />
            <p>郑秀金</p>
            <div class="cover">
              <div class="info">
                粉丝数 1111&nbsp;&nbsp;贴&nbsp;量 231313131
              </div>
              <a href="javascript:;">我要报名</a>
            </div>
          </div>
          <div class="item">
            <img src="#" alt="" />
            <p>郑秀金</p>
            <div class="cover">
              <div class="info">
                粉丝数 1111&nbsp;&nbsp;贴&nbsp;量 231313131
              </div>
              <a href="javascript:;">我要报名</a>
            </div>
          </div>
          <div class="item">
            <img src="#" alt="" />
            <p>郑秀金</p>
            <div class="cover">
              <div class="info">
                粉丝数 1111&nbsp;&nbsp;贴&nbsp;量 231313131
              </div>
              <a href="javascript:;">我要报名</a>
            </div>
          </div>
          <div class="item">
            <img src="#" alt="" />
            <p>郑秀金</p>
            <div class="cover">
              <div class="info">
                粉丝数 1111&nbsp;&nbsp;贴&nbsp;量 231313131
              </div>
              <a href="javascript:;">我要报名</a>
            </div>
          </div>
      </li>
    </ul>
  </div>


</div>
<!--webmain end-->


<!--webfooter-->
<include file="Header/header" />
<!--webfooter end-->


<script src="__PUBLIC__/statics/js/jquery-1.8.0.min.js"></script>
<script src="__PUBLIC__/statics/js/modernizr.com-custom-2.6.1-01.js"></script>
<script src="__PUBLIC__/statics/js/jquery.easing.js"></script>
<script src="__PUBLIC__/statics/dist/js/common.js"></script>
<script src="__PUBLIC__/statics/dist/js/tool/tab.js"></script>
<script src="__PUBLIC__/statics/dist/js/rice/rice.js"></script>

</body>
</html>
