<!doctype html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html>
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <title>中演网</title>
  <link href="__PUBLIC__/statics/dist/css/reset.css" rel="stylesheet" type="text/css" />
  <link href="__PUBLIC__/statics/dist/css/common.css" rel="stylesheet" type="text/css" />
  <link href="__PUBLIC__/statics/dist/css/rice/stick.css" rel="stylesheet" type="text/css" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <meta name="Keywords" content="">
  <meta name="Description" content="">
</head>

<body>

  <!--webheader-->
<include file = "Header/nav" />
  <!--webheader end-->


  <!--webmain-->
    <div class="webmain" data-id="{$postslist.id}">

    <div class="navTitle">
      <a href="{:U('Index/index')}">首页</a> > <a href="{:U('Rice/index')}">饭团</a> > <a href="{:U('Rice/riceall')}">粉丝社群</a> > <a href="{:U('Rice/homepage',array('id'=>$clublist['id']))}">{$clublist.name}</a> > <a href="{:U('Rice/post_details',array('id'=>$postslist['id']))}">{$postslist['title']}</a><!--
           --><include file = "Header/login" />
    </div>


    <div class="sectionleft">
      <div class="topcon">
        <img src="./Uploads{$clublist.img}" class="head"><span class="stickname">{$clublist.name}</span>
        <!-- <div class="buttons">
          <button type="button" name="button">已入团</button><button type="button" name="button">发帖</button>
        </div> -->
      </div>


      <div class="content">
        <div class="content-head">
          <div class="userinfo">
            <div class="content-head-face">
              <img src="./Uploads{$postslist.headimg}" alt="  " />
            </div>
            <div class="content-head-name">
              {$postslist.username}
            </div>
          </div>
          <div class="content-title">
            <h3>{$postslist.title}</h3>
            <div class="content-info">
              <span class="time">{$postslist.instime|date="Y-m-d H:i:s",###}</span>
              <div class="focusinfo">
                <span class="reply">{$postslist.comments}</span>
                <span class="focus">{$postslist.readers}</span>
              </div>
            </div>
          </div>

          <div class="inner-content">
            {:html_entity_decode($postslist['content'])}
          </div>
          <div class="mainreply">
            <input type="text" name="name" value="" id="mainreplycontent">
            <button type="button" name="button" class="mainreply-button" id="mainreply">评论</button>
          </div>
          <div class="comment">
       <volist name = "list" id = "vo">
            <div class="outeritem" data-id="{$vo.flist.id}" data-name="{$vo.flist.username}">
              
              <div class="item">
                <div class="item-left">
                  <img src="./Uploads{$vo.flist.headimg}" alt="" /> 
                </div>
                <div class="item-right">
                  <div class="item-title">
                    <span class="name">{$vo.flist.name}</span>
                    <span>{$vo.flist.content}</span>
                    <span class="time">{$vo.flist.instime|date="Y-m-d H:i:s",###}</span>
                  </div>
                  <div class="replysection">
                    <div class="clearFix">
                     <button type="button" name="button" class="reply itemreplybutton" data-id="{$vo.flist.id}">回复</button>
                    </div>
                  </div>
                </div>
              </div>
<!-- h回复 -->
              <div class="replygroup">
              <volist name = "vo['slist']" id= "svo"> 
                <div data-name="{$svo.name}" data-id="{$svo.id}" class="itemreply clearFix">

                  <div class="itemreply-left">
                    <img src="./Uploads{$svo.headimg}" alt="" />
                  </div>
                  <div class="itemreply-right">
                    <div class="itemreply-title">
                      <span class="name">{$svo.name}</span>
                      <span>{$svo.content}</span>
                      <a href="javascript:;" class="replybutton" data-id="{$svo.id}">回复</a>
                      <span class="time">{$svo.instime|date="Y-m-d H:i:s",###}</span>
                    </div>
                  </div>
                </div>
              </volist>

              </div>
         

              <div class="inputsection clearFix">
                <form class="" action="#" method="post">
                  <input type="text" name="content" value="" class="replytext">
                  <input type="submit" name="submit"  class="reply subreplysubmit" value="确定">
                </form>
              </div>

            </div>
          </volist>
            
            {$page}
          </div>
        </div>
      </div>
    </div>
    <div class="sectionright">
      <div class="con fans">
        <div class="title">
          <h2>推荐活动</h2>
        </div>
        <div class="inner">
          <a href="{:U('Active/active_details',array('id'=>$activeval['id']))}" class="item">
            <img src="./Uploads{$activeval.img}" alt="" />
            <div class="text">
              <h1>{$activeval.title}</h1>
              <h3>{$activeval.begin_time|date="m.d",###}-{$activeval.last_time|date="m.d",###}</h3>
            </div>
            <sub></sub>
          </a>
          <p>
            <?php echo mb_strlen($activeval['content'],'utf8')>75?mb_substr($activeval['content'], 0,80,'utf8'):$activeval['title'] ?>
          </p>
        </div>
      </div>
      <div class="con talk">
        <div class="title">
          <h2>微访谈</h2>
        </div>
        <div class="inner">
          <a href="#" class="item">
            <img src="#" alt="" />
            <div class="text">
              <h1>xxx</h1>
              <h3>xxxx</h3>
            </div>
            <sub></sub>
          </a>
        </div>
      </div>
    </div>
</div>

  </div>
  <!--webmain end-->


  <!--webfooter-->
  <include file="Header/header" />
  <!--webfooter end-->


  <script src="__PUBLIC__/statics/js/jquery-1.8.0.min.js"></script>
  <script src="__PUBLIC__/statics/js/modernizr.com-custom-2.6.1-01.js"></script>
  <script src="__PUBLIC__/statics/js/jquery.easing.js"></script>
  <script src="__PUBLIC__/statics/dist/js/common.js"></script>
  <script src="__PUBLIC__/statics/dist/js/rice/stick.js"></script>


</body>

</html>
