<!doctype html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html>
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <title>中演网</title>
  <link href="__PUBLIC__/statics/dist/css/reset.css" rel="stylesheet" type="text/css" />
  <link href="__PUBLIC__/statics/dist/css/common.css" rel="stylesheet" type="text/css" />
  <link href="__PUBLIC__/statics/dist/css/rice/stick.css" rel="stylesheet" type="text/css" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <meta name="Keywords" content="">
  <meta name="Description" content="">
</head>

<body>

  <!--webheader-->
<include file = "Header/nav" />
  <!--webheader end-->


  <!--webmain-->
    <div class="webmain">

    <div class="navTitle">
      <a href="{:U('Index/index')}">首页</a> > <a href="#">饭团</a> > <a href="#">粉丝社群</a> > <a href="#">李易峰</a> > <a href="#">贴贴贴</a><!--
           --><include file = "Header/login" />
    </div>
    <div class="sectionleft">
      <div class="topcon">
        <img src="#" class="head"><span class="stickname">霍建华粉丝团</span>
        <div class="buttons">
          <button type="button" name="button">已入团</button><button type="button" name="button">发帖</button>
        </div>
      </div>
      <div class="content">
        <div class="content-head">
          <div class="userinfo">
            <div class="content-head-face">
              <img src="#" alt="  " />
            </div>
            <div class="content-head-name">
              用户名
            </div>
          </div>
          <div class="content-title">
            <h3>标题</h3>
            <div class="content-info">
              <span class="time">10月10日</span>
              <div class="focusinfo">
                <span class="reply">131313</span>
                <span class="focus">1313131</span>
              </div>
            </div>
          </div>
          <div class="inner-content">
            正文内容  <br>
            正文内容  <br>
            正文内容  <br>
            正文内容  <br>
            正文内容  <br>
          </div>
          <div class="comment">
            <div class="outeritem">
              <div class="item">
                <div class="item-left">
                  <img src="#" alt="" />
                </div>
                <div class="item-right">
                  <div class="item-title">
                    <span class="name">用户名</span>
                    <span>大家好。。。。。。。。。</span>
                    <span class="time">06-07 10:30</span>
                  </div>
                  <div class="replysection">
                    <div class="clearFix">
                     <button type="button" name="button" class="reply itemreplybutton">回复</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="replygroup">
                <div data-name="王小二" class="itemreply clearFix">
                  <div class="itemreply-left">
                    <img src="#" alt="" />
                  </div>
                  <div class="itemreply-right">
                    <div class="itemreply-title">
                      <span class="name">用户名</span>
                      <span>大家好。。。。。。。。。</span>
                      <a href="javascript:;" class="replybutton">回复</a>
                      <span class="time">06-07 10:30</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="inputsection clearFix">
                <form class="" action="index.html" method="post">
                  <input type="text" name="content" value="" class="replytext">
                  <input type="submit" name="submit"  class="reply" value="确定">
                </form>
              </div>
            </div>
            <div class="outeritem">
              <div class="item">
                <div class="item-left">
                  <img src="#" alt="" />
                </div>
                <div class="item-right">
                  <div class="item-title">
                    <span class="name">用户名</span>
                    <span>大家好。。。。。。。。。</span>
                    <span class="time">06-07 10:30</span>
                  </div>
                  <div class="replysection">
                    <div class="clearFix">
                     <button type="button" name="button" class="reply itemreplybutton">回复</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="replygroup">
                <div data-name="王小二" class="itemreply clearFix">
                  <div class="itemreply-left">
                    <img src="#" alt="" />
                  </div>
                  <div class="itemreply-right">
                    <div class="itemreply-title">
                      <span class="name">用户名</span>
                      <span>大家好。。。。。。。。。</span>
                      <a href="javascript:;" class="replybutton">回复</a>
                      <span class="time">06-07 10:30</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="inputsection clearFix">
                <form class="" action="index.html" method="post">
                  <input type="text" name="content" value="" class="replytext">
                  <input type="submit" name="submit"  class="reply" value="确定">
                </form>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="sectionright">
      <div class="con fans">
        <div class="title">
          <h2>推荐活动</h2>
        </div>
        <div class="inner">
          <a href="#" class="item">
            <img src="#" alt="" />
            <div class="text">
              <h1>xxx</h1>
              <h3>xxxx</h3>
            </div>
            <sub></sub>
          </a>
          <p>
            活动介绍
          </p>
        </div>
      </div>
      <div class="con talk">
        <div class="title">
          <h2>微访谈</h2>
        </div>
        <div class="inner">
          <a href="#" class="item">
            <img src="#" alt="" />
            <div class="text">
              <h1>xxx</h1>
              <h3>xxxx</h3>
            </div>
            <sub></sub>
          </a>
        </div>
      </div>
    </div>


  </div>
  <!--webmain end-->


  <!--webfooter-->
  <include file="Header/header" />
  <!--webfooter end-->


  <script src="__PUBLIC__/statics/js/jquery-1.8.0.min.js"></script>
  <script src="__PUBLIC__/statics/js/modernizr.com-custom-2.6.1-01.js"></script>
  <script src="__PUBLIC__/statics/js/jquery.easing.js"></script>
  <script src="__PUBLIC__/statics/dist/js/common.js"></script>
  <script src="__PUBLIC__/statics/dist/js/rice/stick.js"></script>


</body>

</html>
