<!DOCTYPE html>
<html>
<head>
  <script src="__PUBLIC__/statics/js/avalon/avalon.min.js"></script>
  <script src="__PUBLIC__/statics/js/avalon/avalon.dropdownlist.js"></script>
    <script type="text/javascript">
        function getData() {
            var data = [1,2,3];

            return data
        }
        require(['/avalon.dropdownlist.js', "ready!"], function() {
            avalon.define('dropdown', function(vm) {
                vm.$skipArray = ['dropdownlist']
                vm.dropdownlist = {
                    getRealTimeData: function(search, dropdownlist) {
                        setTimeout(function() {
                            dropdownlist.render(getData())
                        }, 100)
                    },
                    realTimeData: true
                }
            });
            avalon.scan();
        });
    </script>
</head>
<body>
<div class="wrapper" ms-controller="dropdown">
    <div>
        <h2>dropdownlist（下拉框）</h2>
        <p>配置getRealTimeData根据搜索内容实时从远程获取数据来渲染选项列表，注意必须配置realTimeData为true</p>
        <select ms-widget="dropdownlist, a">
        </select>
    </div>
</div>
</body>
</html>
