
<!doctype html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html> <!--<![endif]-->
<head>
<meta property="qc:admins" content="2055274421614776367072177" />
<meta charset="utf-8">
<meta name="renderer" content="webkit">
<title>中演网</title>
<link href="__PUBLIC__/statics/dist/css/reset.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/statics/dist/css/common.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/statics/dist/css/user/myinfo.css" rel="stylesheet" type="text/css" />

<meta name="viewport" content="width=device-width,initial-scale=1.0" />
<meta name="Keywords" content="">
<meta name="Description" content="">

</head>

<body>

    <!--webheader-->
<include file = "Header/nav" />
  <!--webheader end-->



    <!--webmain-->
    <div class="webmain">
      <div class="con nav clearFix" id="J_nav">
          <div class="navTitle"><a href="{:U('Index/index')}">首页</a> > <a href="#">用户中心</a> >
            <include file = "Header/login" />
          </div>
      </div>
      <div class="content">
        <div class="subnav">
          <div class="title">个人中心</div>
          <ul class="group">
            <li><a href="#"><a href="{:U('User/myinfo_rice')}">我的饭团</a></a></li>
            <li class="active"><a href="{:U('User/myinfo_active')}">我的活动</a></li>
            <li><a href="{:U('User/myinfo_news')}">我的消息<if condition = "$sum neq 0"><span class="tips-num tips-num-3">{$sum}</span></if></a></li>
          </ul>
        </div>
        <ul class="activity">

          <li class="active bottomitem">
            <div class="left">
              <ul class="sublist">
                <li class="active">历史浏览</li>
                <li>发起的活动</li>
              </ul>
            </div>
            <div class="right">
                <!--  基本资料-->
              <div class="item active">
                <span class="tips">最近浏览</span>
                <div class="container">

                <volist name = "list" id = "vo">
                  <a href="{:U('Active/active_details',array('id'=>$vo['id']))}" class="subitem">
                      <img src="./Uploads{$vo.img}" alt="" />
                      <div class="text">
                        <h1>{$vo.title}</h1>
                        <h3>{$vo.begin_time|date="m.d",###}-{$vo.last_time|date="m.d",###}</h3>
                      </div>
                      <sub></sub>
                  </a>
                </volist>

                </div>
              </div>

                <!--  修改头像-->
              <div class="item">
                <span class="tips">通过审核</span>
                <div class="container clearFix">
                <volist name = "passactive" id = "vo">

                  <a href="{:U('Active/active_details',array('id'=>$vo['id']))}" class="subitem">
                      <img src="./Uploads{$vo.img}" alt="" />
                      <div class="text">
                        <h1>{$vo.title}</h1>
                        <h3>{$vo.begin_time|date="m.d",###}-{$vo.last_time|date="m.d",###}</h3>
                      </div>
                      <sub></sub>
                  </a>
                </volist>
                </div>
                <span class="tips">待审核</span>
                <div class="container clearFix">
                <volist name = "checkpending" id = "vo">
                  <a href="{:U('Active/active_details',array('id'=>$vo['id']))}" class="subitem">
                      <img src="./Uploads{$vo.img}" alt="" />
                      <div class="text">
                        <h1>{$vo.title}</h1>
                        <h3>{$vo.begin_time|date="m.d",###}-{$vo.last_time|date="m.d",###}</h3>
                      </div>
                      <sub></sub>
                  </a>
                </volist>
                </div>
              </div>

              </div>
            </div>
          </li>




        </ul>
      </div>


    </div>
    <!--webmain end-->


<include file="Header/header" />


<script src="__PUBLIC__/statics/js/jquery-1.8.0.min.js"></script>
<script src="__PUBLIC__/statics/js/modernizr.com-custom-2.6.1-01.js"></script>
<script src="__PUBLIC__/statics/js/jquery.easing.js"></script>
<script src="__PUBLIC__/statics/dist/js/common.js"></script>

<script src="__PUBLIC__/statics/dist/js/index/myinfo.js"></script>
<script src="__PUBLIC__/statics/js/form/myComponent.js"></script>
</body>
</html>
