<!doctype html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html> <!--<![endif]-->
<head>
<meta property="qc:admins" content="2055274421614776367072177" />
<meta charset="utf-8">
<meta name="renderer" content="webkit">
<title>中演网</title>
<link href="__PUBLIC__/statics/dist/css/reset.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/statics/dist/css/common.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/statics/dist/css/user/myinfo.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/statics/dist/css/user/setting.css" rel="stylesheet" type="text/css" />

<meta name="viewport" content="width=device-width,initial-scale=1.0" />
<meta name="Keywords" content="">
<meta name="Description" content="">

</head>

<body>

    <!--webheader-->
<include file = "Header/nav" />
  <!--webheader end-->



    <!--webmain-->
    <div class="webmain">
      <div class="con nav clearFix" id="J_nav">
          <div class="navTitle"><a href="{:U('Index/index')}">首页</a> > <a href="#">用户中心</a> >
            <include file = "Header/login" />
          </div>
      </div>
      <div class="content">
        <div class="subnav">
          <div class="title">设置</div>
          <ul class="group">
            <li class="active">基本设置</li>
            <li>安全设置</li>
          </ul>
        </div>
        <ul class="list">

          <li class="active bottomitem">
            <div class="left">
              <ul class="sublist">
                <li class="active">基本资料</li>
                <li>修改头像</li>
              </ul>
            </div>
            <div class="right">
                <!--  基本资料-->
              <div class="item active">
                <form class="" action="{:U('setting')}" method="post">
                  <ul>
                    <li>
                      <span class="item-head">昵&nbsp;称：</span>
                      <div class="item-body">
                        <input type="text" name="nickname" value="{$userinfo.nickname}" placeholder="用户名">
                      </div>
                    </li>
                    <li>
                      <span class="item-head">性&nbsp;别：</span>
                      <div class="item-body">
                        <input type="radio" <if condition = "$userinfo.sex eq 1">checked</if> name="sex" value="1">&nbsp;男
                        <input type="radio" <if condition = "$userinfo.sex eq 2">checked</if> name="sex" value="2">女
                      </div>
                    </li>
                    <li>
                      <span class="item-head">所在地：</span>
                      <div class="item-body">
                        <select class="" name="province" id="province">
                          <volist name = "province" id = "vo">
                          <if condition = "$userinfo['provinceid'] eq $vo['provinceid']">
                          <option value="{$vo.provinceid}|{$vo.province}" data-id = "{$vo.provinceid}" selected="selected">{$vo.province}</option>

                          <else />
                          <option value="{$vo.provinceid}|{$vo.province}" data-id = "{$vo.provinceid}">{$vo.province}</option>
                          </if>

                          </volist>
                        </select>

                        <select class="" name="cities" id="city">
                          <!-- <option>普陀区</option>
                          <option>黄浦区</option> -->
                          <volist name = "cities" id = "vo">
                          <if condition = "$userinfo['cityid'] eq $vo['cityid']">
                          <option value="{$vo.cityid}|{$vo.city}" selected="selected">{$vo.city}</option>
                          <else />
                          <option value="{$vo.cityid}|{$vo.city}">{$vo.city}</option>
                          </if>
                          </volist>
                        </select>
                      </div>
                    </li>
                    <li>
                      <span class="item-head">生&nbsp;日：</span>
                      <div class="item-body">
                        <input type="text" value = "{$userinfo['birthday']|date = 'Y-m-d',###}" placeholder="活动日期" class="fromTime" name="birthday" id="fromTime" onClick="WdatePicker({skin:'twoer',dateFmt:'yyyy-MM-dd'})" />
                      </div>
                    </li>
                    <li>
                      <input type="submit" name="submit" value="保存">
                    </li>
                  </ul>

                </form>

              </div>

                <!--  修改头像-->
              <div class="item">
                <form class="" action="{:U('uploadimg')}" method="post" enctype="multipart/form-data"s>
                  <!-- <button type="file" name="button">上传头像</button> -->
                  <input type="file" name="photo" value="上传头像" id="photo">
                  <span>(建议大小100*100PX，支持jpg,gif,png格式)</span>
                  <div class="uploadpic">
                  </div>
                    <!-- <button type="button" name="button">保存</button> -->
                  <br>
                  <img class="uploadimg" src="{$userinfo.headpic}" alt="头像" style="width: 100px; height: 100px;"/>
                  <br>
                  <input type="submit" name="submit" value="保存">
                </form>
              </div>
              <div class="item">
                <!--  绑定网站-->
              </div>
            </div>
          </li>


          <li class="bottomitem">
            <div class="left">
              <ul class="sublist">
                <li class="active">手机</li>
                <li>修改密码</li>
              </ul>
            </div>
            <div class="right">
              <div class="item active" id="changemb">
                <div class="step step1">
                  <span class="clip1">已绑定手机：</span><span>{$userinfo.mobile}</span><a href="javascript:;" class="changeNum" id="changeNum">更换号码</span>
                </div>
                <div class="step step2">
                  <dl class="">
                    <dt>手机：</dt>
                    <dd><input type="text" class="mbchange" value="" placeholder="输入更换号码"><button type="button" name="button" id="sendverify">发送验证码</button><span class="error" id="error"></span></dd>
                    <dt>验证码：</dt>
                    <dd><input type="text" name="veri" value="" placeholder="输入手机验证码"></dd>
                  </dl>
                    <a href="javascript:;" class="confirmmb" id="confirmmb">下一步</a>
                </div>
                <div class="step step3">
                  <span>已绑定手机:</span><span class="newmb">1315***6666</span><span class="successtips">绑定成功</span>
                </div>
              </div>
              <div class="item" id="changecode">
                <div class="step step1">
                  <span class="tips">为了保证您的账号安全，修改密码需进行安全验证</span>
                  <dl class="">
                    <dt>手机号码：</dt>
                    <dd><input type="text" name="codemb" value="" placeholder="输入手机号码"><button type="button" id="codesendverify" name="button">发送验证码</button><span class="error"></span></dd>
                    <dt>短信验证码：</dt>
                    <dd><input type="text" name="recode" value="" placeholder="输入短信验证码"></dd>
                  </dl>
                    <a href="javascript:;" class="confirmmb" id="codesendmbverify">下一步</a>
                  </div>
                <div class="step step2">
                  <span class="tips">为了保证您的账号安全，修改密码需进行安全验证</span>
                  <dl class="">
                    <dt>旧密码：</dt>
                    <dd><input type="password" name="oldcode" value="" placeholder="输入当前账号密码"></dd>
                    <dt>新密码：</dt>
                    <dd><input type="password" name="newcode" value="" placeholder="至少8位，至少包含数字和字符"></dd>
                    <dt>再次输入：</dt>
                    <dd><input type="password" name="repeatnewcode" value="" placeholder="两次输入密码必须一致"></dd>
                  </dl>
                    <a href="javascript:;" class="confirmmb" id="confirmmbcode">确认</a>
                </div>

              </div>


              </div>
            </div>
          </li>



        </ul>
      </div>


    </div>
    <!--webmain end-->


<include file="Header/header" />


<script src="__PUBLIC__/statics/js/jquery-1.8.0.min.js"></script>
<script src="__PUBLIC__/statics/js/modernizr.com-custom-2.6.1-01.js"></script>
<script src="__PUBLIC__/statics/js/jquery.easing.js"></script>
<script src="__PUBLIC__/statics/dist/js/common.js"></script>

<script language="javascript" type="text/javascript" src="__PUBLIC__/statics/js/DatePicker/WdatePicker.js"></script>

<script src="__PUBLIC__/statics/dist/js/user/mysetting.js"></script>
<!-- <script src="__PUBLIC__/statics/js/form/myComponent.js"></script> -->
</body>
</html>
