
<!doctype html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html> <!--<![endif]-->
<head>
<meta property="qc:admins" content="2055274421614776367072177" />
<meta charset="utf-8">
<title>中演网</title>
<link href="__PUBLIC__/statics/dist/css/reset.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/statics/dist/css/common.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/statics/dist/css/user/myinfo.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/statics/dist/css/user/setting.css" rel="stylesheet" type="text/css" />

<meta name="viewport" content="width=device-width,initial-scale=1.0" />
<meta name="Keywords" content="">
<meta name="Description" content="">

</head>

<body>

    <!--webheader-->
    <div class="webheader">
        <div class="inner clearFix">
            <a href="index.html" class="logo"></a>
            <div class="nav">
                <ul class="clearFix">
                  <li class="first c"><a href="{:U('Index/index')}">首页</a></li>
                  <li><a href="{:U('News/index')}">资讯</a></li>
                  <li><a href="{:U('Active/index')}">活动</a></li>
                  <li><a href="{:U('Committee/index')}">演工委之声</a></li>
                  <li><a href="{:U('Vote/index')}">中国电视好演员评选</a></li>
                  <li><a href="{:U('#/index')}">饭团</a></li>
                  <li><a href="{:U('Starwars/index')}">星站</a></li>
                  <li><a href="{:U('#/index')}">明日之星</a></li>
                  <li><a href="{:U('Video/index')}">视频</a></li>
                  <li><a href="{:U('#/index')}">Stage</a></li>
                  <li><a href="{:U('Performing/index')}">演艺库</a></li>
                </ul>
            </div>
            <a href="#" class="search"></a>
        </div>
    </div>
    <!--webheader end-->



    <!--webmain-->
    <div class="webmain">
      <div class="con nav clearFix" id="J_nav">
          <div class="navTitle"><a href="{:U('Index/index')}">首页</a> > <a href="#">用户中心</a> ><div class="loginfo"><span class="face"></span><span class="name">用户名</span></div></div>
      </div>
      <div class="content">
        <div class="subnav">
          <div class="title">设置</div>
          <ul class="group">
            <li class="active">基本设置</li>
            <li>安全设置</li>
          </ul>
        </div>
        <ul class="list">



          <li class="active bottomitem">
            <div class="left">
              <ul class="sublist">
                <li class="active">基本资料</li>
                <li>修改头像</li>
              </ul>
            </div>
            <div class="right">
                <!--  基本资料-->
              <div class="item active">
                <form class="" action="#" method="post">
                  <ul>
                    <li>
                      <span class="item-head">昵&nbsp;称：</span>
                      <div class="item-body">
                        <span>用户名</span><span>修改</span>
                      </div>
                    </li>
                    <li>
                      <span class="item-head">性&nbsp;别：</span>
                      <div class="item-body">
                        <input type="radio" name="sex" value="male">&nbsp;男
                        <input type="radio" name="sex" value="female">女
                      </div>
                    </li>
                    <li>
                      <span class="item-head">所在地：</span>
                      <div class="item-body">
                        <select class="" name="province">
                          <option>上海市</option>
                          <option>北京市</option>
                        </select>
                        <select class="" name="city">
                          <option>普陀区</option>
                          <option>黄浦区</option>
                        </select>
                      </div>
                    </li>
                    <li>
                      <span class="item-head">生&nbsp;日：</span>
                      <div class="item-body">
                        <select class="" name="year">
                          <option>2000</option>
                          <option>1999</option>
                        </select>
                        <select class="" name="month">
                          <option>1</option>
                          <option>2</option>
                        </select>
                        <select class="" name="day">
                          <option>1</option>
                          <option>2</option>
                        </select>
                      </div>
                    </li>
                    <li>
                      <input type="submit" name="" value="保存">
                    </li>
                  </ul>

                </form>

              </div>

                <!--  修改头像-->
              <div class="item">
                <!-- <button type="file" name="button">上传头像</button> -->
                <input type="file" name="name" value="上传头像">
                <span>(建议大小100*100PX，支持jpg,gif,png格式)</span>
                <div class="uploadpic">

                </div>

                <!-- <button type="button" name="button">保存</button> -->
                <br>
                <br>
                <input type="submit" name="submit" value="保存">
              </div>
              <div class="item">
                <!--  绑定网站-->
              </div>
            </div>
          </li>


          <li class="bottomitem">
            <div class="left">
              <ul class="sublist">
                <li class="active">邮箱/手机</li>
                <li>修改密码</li>
              </ul>
            </div>
            <div class="right">
              <div class="item active" id="changemb">
                <div class="step step1">
                  <span>已绑定手机</span><span>13155556666</span><span>更换号码</span>
                </div>
                <div class="step step2">
                  <dl class="">
                    <dt>手机：</dt>
                    <dd><input type="text" name="mbchange" value="" placeholder="输入更换号码"><button type="button" name="button">发送验证码</button></dd>
                    <dt>验证码：</dt>
                    <dd><input type="text" name="veri" value="" placeholder="输入手机验证码"></dd>
                  </dl>
                    <input type="submit" name="submit" value="下一步">
                </div>
                <div class="step step3">
                  <span>已绑定手机</span><span>13155556666</span><span>绑定成功</span>
                </div>
              </div>
              <div class="item">
                <h3>标题</h3>
                <p>
                  大大大大点委屈啊啊大大阿达大大大少打打打打打打打打打大大大大点委屈啊啊大大阿达大大大少打打打打打打打打打大大大大点委屈啊啊大大阿达大大大少打打打打打打打打打大大大大点委屈啊啊大大阿达大大大少打打打打打打打打打大大大大点委屈啊啊大大阿达大大大少打打打打打打打打打
                </p>
              </div>
            </div>
          </li>



        </ul>
      </div>


    </div>
    <!--webmain end-->


<include file="Header/header" />


<script src="__PUBLIC__/statics/js/jquery-1.8.0.min.js"></script>
<script src="__PUBLIC__/statics/js/modernizr.com-custom-2.6.1-01.js"></script>
<script src="__PUBLIC__/statics/js/jquery.easing.js"></script>
<script src="__PUBLIC__/statics/dist/js/user/myinfo.js"></script>
<!-- <script src="__PUBLIC__/statics/js/form/myComponent.js"></script> -->
</body>
</html>
