@charset "utf-8";

@import "../sasscommon";

// topCon
.topcon{
  %wh{
    width: 1200px;
    height: 470px;
  }
  img{
    @extend %wh;
  }
  .link2content{
    position: absolute;
    margin:{
      left: 717px;
      top: -63px;
    }
    li{
      float: left;
      margin-left: 3px;
      a{
        display: inline-block;
        width: 150px;
        height: 50px;
        color: #fff;
        background: url("../../../images/space.png") 0 0 repeat;
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
        background: rgba(0,0,0,.6);
        text-align: center;
        line-height: 50px;
      }
    }
  }

}

.webmain .con .title h2{
  width: 200px;
  background: url("../../../images/sprite_committee2.gif") 0 0 no-repeat;
}
.webmain .notice{
  float: left;
  width: 380px;
  .title h2{

  }
  .inner{
    .item{
      @include item3(380px, 280px, 60px, 14px, 12px);
    }
  }
}

.webmain .draft{
  float: left;
  width: 380px;
  margin-left: 30px;
  .title h2{
    background-position: 0 -60px;
  }
  .inner{
    text-align: center;
    p{
      font-size: 16px;
      line-height: 30px;
    }
    .div{
      line-height: 10px;
    }
    h1{
      font-size: 22px;
      text-align: center;
    }
    a{
      font-size: 16px;
      line-height: 30px;
    }
    // .item{
    //   display: block;
    //   overflow: hidden;
    //   height: 30px;
    //   font-size: 12px;
    //   line-height: 30px;
    //   h3{
    //     float: left;
    //     display: inline-block;
    //     font-size: 14px;
    //   }
    //   span{
    //     float: right;
    //     color: #999;
    //     font-size: 12px;
    //   }
    // }
  }
}
.webmain .relative{
  float: left;
  width: 380px;
  margin-left: 30px;
  .title h2{
    background-position: 0 -120px;
  }
  .inner{
    .item+.item{
      margin-top: 20px;
    }
    .item{
      // margin-bottom: 20px;
      a{
        font-size: 16px;
        font-weight: bold;
      }
      .maincontent{
        margin-top: 10px;
        img{
          float: left;
          width: 80px;
          height: 80px;
          margin-top: 10px;
        }
        p{
          margin-left: 100px;
          font-size: 16px;
          line-height: 32px;
        }
      }
    }
  }
}
.webmain .video{
  float: left;
  width: 380px;
  .title h2{
    background-position: 0 -180px;
  }
  .inner{
    .item{
      @include item3(380px, 285px, 60px, 14px, 12px);
    }
  }

}

.webmain .committeework{
  margin-left: 410px;
  .title h2{
    background-position: 0 -240px;
    width: 500px;

  }
  .inner{
    dl{
      font-size: 16px;
      line-height: 32px;
    }
    dt{
      float: left;
      font-weight: bold;
    }
    dd{
      margin-left: 90px;
    }
  }
}





//红黑榜
.webmain .overWatch {
  position: relative;
}
.webmain .overWatch .group li {
  width: 57px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 16px;
}
.webmain .overWatch .group li.active {
  color: #fff;
  background-color: #000;
}
.webmain .overWatch .inner {
  width: 1230px;
  margin-left: -30px;
}
.webmain .overWatch .item {
  float: left;
  width: 380px;
  height: 250px;
  margin-bottom: 30px;
  margin-left: 30px;
}
.webmain .overWatch .pic {
  float: left;
  width: 380px;
  height: 250px;
}
.webmain .overWatch .pic sub {
  display: block;
  z-index: 1;
  position: absolute;
  width: 380px;
  height: 250px;
  margin-top: -250px;
  background: rgba(0,0,0,0);
  background: url("../../../images/space.png") 0 0 repeat;
}
.webmain .overWatch .pic sub:hover {
  background: rgba(0,0,0,.3);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4c000000,endColorstr=#4c000000);
}
.webmain .overWatch .pic img {
  width: 380px;
  height: 250px;
}
.webmain .overWatch .pic .text {
  position: absolute;
  height: 60px;
  width: 360px;
  margin-top: -60px;
  color: #fff;
  padding: 0 0 0 20px;
  background: url("../../../images/space.png") 0 0 repeat;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
  background: rgba(0,0,0,.6);
}
.webmain .overWatch .pic .text h3 {
  font-size: 14px;
  line-height: 35px;
}
.webmain .overWatch .pic .text p {
  font-size: 12px;
  line-height: 20px;
}

//标题
.webmain .overWatch .title h2 {
  width: 166px;
  background-position:  0 -300px;
}
