@charset "utf-8";

@import "../sasscommon";

.webmain .con {
  margin-bottom: 45px;
}
.webmain .con .title {
  height: 60px;
  overflow: hidden;
  background: url("../../../images/line_contitle.gif") center center repeat-x;
  margin-bottom: 15px;
  position: relative;
  float: left;
}
.webmain .con .title a.more {
  display: block;
  position: absolute;
  right: 0;
  top: 15px;
  background: url("../../../images/more_contitle.gif");
  width: 130px;
  height: 30px;
  text-indent: -99em;
  overflow: hidden;
}
.webmain .con .title h2 {
  display: block;
  height: 60px;
  background-image: url("../../../images/txt_contitle.gif");
  background-repeat: no-repeat;
  text-indent: -99em;
  overflow: hidden;
  float: left;
}
.webmain .con .title ul {
  float: left;
  height: 26px;
  background: #fff;
  padding: 17px 5px;
}
.webmain .con .title ul li {
  float: left;
  font-size: 16px;
  height: 26px;
  line-height: 26px;
  overflow: hidden;
  margin-right: 8px;
}
.webmain .con .title ul li a {
  display: block;
  width: 100%;
  height: 26px;
  line-height: 26px;
  cursor: pointer;
  padding: 0 8px;
}
.webmain .con .title ul li.c a {
  background: #000;
  color: #fff;
}
.navTitle {
  color: #ccc;
  position: relative;
}
.navTitle a {
  color: inherit;
}
.navTitle a:hover {
  color: red;
}
// .navTitle .loginfo {
//   position: absolute;
//   right: 0;
//   top: 0;
//   height: 30px;
//   margin-right: 15px;
// }
// .navTitle .loginfo .face,
// .navTitle .loginfo .name {
//   display: inline-block;
//   float: left;
//   height: 20px;
//   margin-top: 5px;
// }
// .navTitle .loginfo .face {
//   width: 20px;
//   background: url("../../../images/icon-logface.jpg") 50% no-repeat;
// }
// .navTitle .loginfo .name {
//   margin-left: 15px;
//   line-height: 20px;
//   cursor: pointer;
// }
// .navTitle .loginfo .name::after {
//   content: "";
//   display: block;
//   position: absolute;
//   top: 50%;
//   right: -15px;
//   border-top: 6px solid #000;
//   border-right: 6px solid #fff;
//   border-left: 6px solid #fff;
// }
.tabctrl {
  position: absolute;
  bottom: 15px;
  left: 100px;
  width: 986px;
  height: 62px;
  background: url("../../../images/space.png");
  background: rgba(0,0,0,.5);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000, endColorstr=#7F000000);
}
.bannerlist,
.bannerlist li {
  position: relative;
  float: left;
}
.tabctrl .text {
  display: inline-block;
  float: left;
  margin-top: 5px;
  width: 250px;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  line-height: 25px;
  padding-left: 20px;
}
.bannerlist {
  width: 650px;
  height: 50px;
  margin-top: 6px;
  margin-left: 50px;
}
.bannerlist li {
  display: inline-block;
  margin-right: 6px;
}
.webmain .conTopbanner .bannerlist li img {
  width: 84px;
  height: 50px;
}
.webmain .conTopbanner .bannerlist .frame {
  display: none;
  position: absolute;
  width: 76px;
  height: 42px;
  top: 0;
  left: 0;
  border: 4px solid #b162e4;
}
.webmain .conTopbanner {
  position: relative;
  height: 470px;
  overflow: hidden;
}
.webmain .conTopbanner img {
  display: block;
  width: 100%;
  height: 470px;
}
.webmain .content {
  width: 770px;
  float: left;
  word-wrap: break-word;
  overflow: hidden;
  img{
    display: inline;
  }
}
.webmain .rightCol {
  float: left;
  width: 380px;
}
.webmain .con .title h2 {
  background: url("../../../images/favnews.jpg") 0 5px no-repeat;
  width: 200px;
}


.webmain .con .newsList {
  float: left;
  width: 100%;
  margin-bottom: 30px;
}
.webmain .con .newsList li {
  display: block;
  line-height: 30px;
  height: 30px;
  font-size: 12px;
}
.webmain .con .newsList li .time {
  color: #ccc;
  float: right;
}
.webmain .con .title {
  width: 100%;
}
.webmain .con .title.event h2 {
  background: url("../../../images/icon-event.jpg") 0 5px no-repeat;
  width: 200px;
}
.webmain .con .title.event
.webmain .con .active {
  float: left;
  font-size: 12px;
}
.webmain .con .focus {
  float: left;
  height: 30px;
  color: #ccc;
  line-height: 30px;
  width: 100%;
}
.webmain .con .focus .iconPart {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url("../../../images/icon_parti.jpg") 50% no-repeat;
}
.webmain .con .focus .iconFocus {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url("../../../images/icon_focus.jpg") 50% no-repeat;
}
.webmain .con .focus .text {
  float: right;
}
.webmain .wrapper .content {
  margin-right: 50px;
  min-height: 500px;

}
.webmain .wrapper .content .header {
  width: 100%;
  margin-bottom: 80px;
}
.webmain .wrapper .content .header h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 25px;
}
.webmain .wrapper .content .header h3 {
  text-align: center;
  font-size: 14px;
  color: #a5a5a5;
}

.webmain .con .item1{
  @include item3(380px, 250px, 60px, 14px, 12px);
  margin-bottom: 10px;
  display: block;
}
.webmain .con .item2{
  @include item3(380px, 285px, 60px, 14px, 12px);
  margin-bottom: 10px;
  display: block;
}
