
<!DOCTYPE HTML>
<!--[if lt IE 7 ]><html class="ie6 ieOld"><![endif]-->
<!--[if IE 7 ]><html class="ie7 ieOld"><![endif]-->
<!--[if IE 8 ]><html class="ie8 ieOld"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html><!--<![endif]-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>首页</title>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="format-detection" content="telephone=no">
<!--禁用手机号码链接(for iPhone)-->
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimum-scale=1.0,maximum-scale=1.0,minimal-ui" />
<!--自适应设备宽度-->
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<!--控制全屏时顶部状态栏的外，默认白色-->
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="Keywords" content="">
<meta name="Description" content="">

<link href="style/wxreset.css" rel="stylesheet" type="text/css" />
</head>

<body>

	<div class="wrapper">
		<div class="wrapper-title">
			<h1>清纯美女约会二次元男友 网友:触不到的恋人好心酸(组图)</h1>
			<span>2014-12-12</span><span class="author">斯柯达斯柯达</span>
		</div>

		<div class="wrapper-content">
			<p><img alt="" src="http://img.myhsw.cn/2015-01-09/wil1m6m206t349eirzz4.jpg"/></p><p>美女约会二次元男友 不存在的恋人触动网友心弦范玮琪38岁高龄造人失败 革命尚未成功还需努力具足虫绝食5年零43天后死亡 这到底是一种什么样 ...北京地铁饮食罚500元 超八成受访者认为此处罚规 ...3月1日起企业年检正式取消 企业家：年报代替年检...泸县男子深夜强奸准岳母 女友已生一女情何以堪? 今年情人节前夕，网友“西行寺-吃货子”拍摄了一组特殊的“情侣”照，展现了美女约会二次元男友的相处场景。照片在微博曝光之后，两天就被转发了5600多次，网友们纷纷称赞“创意太棒了”，却也有不少人评价照片“好虐心”。</p>
		</div>

		<a href="#" class="outlink">阅读原文</a>
	</div>


</body>
</html>