<!doctype html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html>
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <title>中演网</title>
  <link href="__PUBLIC__/statics/dist/css/reset.css" rel="stylesheet" type="text/css" />
  <link href="__PUBLIC__/statics/dist/css/common.css" rel="stylesheet" type="text/css" />
  <link href="__PUBLIC__/statics/dist/css/video/video.css" rel="stylesheet" type="text/css" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <meta name="Keywords" content="">
  <meta name="Description" content="">
</head>

<body>

  <!--webheader-->
  <div class="webheader">
    <div class="inner clearFix">
      <a href="index.html" class="logo"></a>
      <div class="nav">

        <ul class="clearFix">
          <li class="first"><a href="{:U('Index/index')}">首页</a></li>
          <li><a href="{:U('News/index')}">资讯</a></li>
          <li><a href="{:U('Active/index')}">活动</a></li>
          <li><a href="{:U('Committee/index')}">演工委之声</a></li>
          <li><a href="{:U('Vote/index')}">中国电视好演员评选</a></li>
          <li><a href="{:U('Rice/index')}">饭团</a></li>
          <li><a href="{:U('Starwars/index')}">星站</a></li>
          <li><a href="{:U('Newstar/index')}">明日之星</a></li>
          <li class="c"><a href="{:U('Video/index')}">视频</a></li>
          <li><a href="{:U('Stage/index')}">Stage</a></li>
          <li><a href="{:U('Performing/index')}">演艺库</a></li>
        </ul>
      </div>
      <a href="#" class="search"></a>
    </div>
  </div>
  <!--webheader end-->


  <!--webmain-->
  <div class="webmain">

    <!--  导航栏-->
    <div class="navTitle">
      <a href="{:U('Index/index')}">首页</a> > <a href="#">视频</a><!--
           --><div class="loginfo">
        <span class="face"></span>
        <span class="name" id="login">用户名</span>
        <!--  登陆-->
        <!--  个人中心入口-->
        <div class="myinfoalert" id="myinfoalert">
          <div class="myinfoalert-header">
            <span class="myinfoalert-header-face"></span>
            <div class="myinfoalert-header-content">
              <span class="name">用户名。。。。</span>
              <div class="setting">
                <a href="{:U('Index/setting')}" class="set">设置</a>
                <a href="#" class="logout">登出</a>
              </div>
            </div>
          </div>
          <div class="myinfoalert-content">
            <div class="item">
              <a href="{:U('Index/myinfo')}" class="">
                <span class="icon icon1"></span>
                <span class="name">个人中心</span>
              </a>
            </div>
            <div class="item">
              <a href="{:U('Index/myinfo')}" class="">
                <span class="icon icon2"></span>
                <span class="name">我的饭团</span>
              </a>
            </div>
            <div class="item">
              <a href="{:U('Index/myinfo')}" class="">
                <span class="icon icon3"></span>
                <span class="name">我的频道</span>
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>


    <div class="banner" id="banner">
      <ul class="imglist">
        <volist name="banner" id="vo">
          <if condition="$i eq 1">
            <li class="active">
              <a href="{:U('vidioinfo',array('id'=>$vo['id']))}">
                <img src="./Uploads{$vo.img}" alt="{$vo.title}" />
              </a>
            </li>
            <else />
            <li>
              <a href="{:U('vidioinfo',array('id'=>$vo['id']))}">
                <img src="./Uploads{$vo.img}" alt="{$vo.title}" />
              </a>
            </li>
          </if>
        </volist>
      </ul>
      <ul class="dotlist">
        <volist name="banner" id="vo">
          <if condition="$i eq 1">
            <li class="active"></li>
            <else />
            <li></li>
          </if>
        </volist>
      </ul>
    </div>

    <!--  今日热门-->
    <div class="con todayhot">
      <div class="title">
        <h2>今日热门</h2>
      </div>
      <div class="inner clearFix">

        <div class="left">

          <div class="item">
            <img src="#" alt="" />
            <div class="text">
              <h1>xxx</h1>
              <h3>xxxx</h3>
            </div>
            <sub></sub>
          </div>
          
        </div>

        <div class="middle clearFix">
          <div class="item">
            <img src="#" alt="" />
            <div class="text">
              <span class="left">xxxx</span>
              <span class="right">7:25</span>
            </div>
            <sub></sub>
          </div>
          <div class="item">
            <img src="#" alt="" />
            <div class="text">
              <span class="left">xxxx</span>
              <span class="right">7:25</span>
            </div>
            <sub></sub>
          </div>
          <div class="item">
            <img src="#" alt="" />
            <div class="text">
              <span class="left">xxxx</span>
              <span class="right">7:25</span>
            </div>
            <sub></sub>
          </div>
          <div class="item">
            <img src="#" alt="" />
            <div class="text">
              <span class="left">xxxx</span>
              <span class="right">7:25</span>
            </div>
            <sub></sub>
          </div>
        </div>
        <ul class="right">
          <li>
            <h3>xxxx</h3>
            <span>3小时前</span>
          </li>
          <li>
            <h3>xxxx</h3>
            <span>3小时前</span>
          </li>
          <li>
            <h3>xxxx</h3>
            <span>3小时前</span>
          </li>
          <li>
            <h3>xxxx</h3>
            <span>3小时前</span>
          </li>
          <li>
            <h3>xxxx</h3>
            <span>3小时前</span>
          </li>
          <li>
            <h3>xxxx</h3>
            <span>3小时前</span>
          </li>
          <li>
            <h3>xxxx</h3>
            <span>3小时前</span>
          </li>
          <li>
            <h3>xxxx</h3>
            <span>3小时前</span>
          </li>
          <li>
            <h3>xxxx</h3>
            <span>3小时前</span>
          </li>
        </ul>


      </div>
    </div>
    <!--  娱乐
    <div class="con entertainment">
      <div class="title">
        <h2></h2>
        <a href="#" class="more">more</a>
      </div>
      <div class="inner clearFix">
        <div class="item1">
          <img src="#" alt="" />
          <div class="text">
            <h1>xxx</h1>
            <h3>xxxx</h3>
          </div>
          <sub></sub>
        </div>
        <div class="item2">
          <img src="#" alt="" />
          <div class="text">
            <span class="left">xxxx</span>
            <span class="right">7:25</span>
          </div>
          <sub></sub>
        </div>
        <div class="item2">
          <img src="#" alt="" />
          <div class="text">
            <span class="left">xxxx</span>
            <span class="right">7:25</span>
          </div>
          <sub></sub>
        </div>
        <div class="item2">
          <img src="#" alt="" />
          <div class="text">
            <span class="left">xxxx</span>
            <span class="right">7:25</span>
          </div>
          <sub></sub>
        </div>
        <div class="item2">
          <img src="#" alt="" />
          <div class="text">
            <span class="left">xxxx</span>
            <span class="right">7:25</span>
          </div>
          <sub></sub>
        </div>
        <div class="item2">
          <img src="#" alt="" />
          <div class="text">
            <span class="left">xxxx</span>
            <span class="right">7:25</span>
          </div>
          <sub></sub>
        </div>
        <div class="item2">
          <img src="#" alt="" />
          <div class="text">
            <span class="left">xxxx</span>
            <span class="right">7:25</span>
          </div>
          <sub></sub>
        </div>
        <div class="item2">
          <img src="#" alt="" />
          <div class="text">
            <span class="left">xxxx</span>
            <span class="right">7:25</span>
          </div>
          <sub></sub>
        </div>
        <div class="item2">
          <img src="#" alt="" />
          <div class="text">
            <span class="left">xxxx</span>
            <span class="right">7:25</span>
          </div>
          <sub></sub>
        </div>

      </div>
    </div>-->
    <!--  视频汇-->
    <div class="con video">
      <div class="title">
        <h2>视频汇</h2>
        <ul class="group" id="group">
          <li class="active">电影电视</li>
          <li>制作花絮</li>
          <li>影视教学</li>
          <li>探班周边</li>
        </ul>
        <a href="#" class="more">more</a>
      </div>
      <ul>
        <li class="innergroup active">
          <div class="inner clearFix">
            <div class="colsection">
              <div class="item">
                <img src="#" alt="" />
                <div class="text">
                  <h1>xxx</h1>
                  <h3>xxxx</h3>
                </div>
                <sub></sub>
              </div>
              <ul>
                <li>
                  <h3>xxxx</h3>
                  <span>7-25</span>
                </li>
                <li>
                  <h3>xxxx</h3>
                  <span>7-25</span>
                </li>
                <li>
                  <h3>xxxx</h3>
                  <span>7-25</span>
                </li>
                <li>
                  <h3>xxxx</h3>
                  <span>7-25</span>
                </li>
              </ul>
            </div>
            <div class="colsection">
              <div class="item">
                <img src="#" alt="" />
                <div class="text">
                  <h1>xxx</h1>
                  <h3>xxxx</h3>
                </div>
                <sub></sub>
              </div>
              <ul>
                <li>
                  <h3>xxxx</h3>
                  <span>7-25</span>
                </li>
                <li>
                  <h3>xxxx</h3>
                  <span>7-25</span>
                </li>
                <li>
                  <h3>xxxx</h3>
                  <span>7-25</span>
                </li>
                <li>
                  <h3>xxxx</h3>
                  <span>7-25</span>
                </li>
              </ul>
            </div>
            <div class="colsection">
              <div class="item">
                <img src="#" alt="" />
                <div class="text">
                  <h1>xxx</h1>
                  <h3>xxxx</h3>
                </div>
                <sub></sub>
              </div>
              <ul>
                <li>
                  <h3>xxxx</h3>
                  <span>7-25</span>
                </li>
                <li>
                  <h3>xxxx</h3>
                  <span>7-25</span>
                </li>
                <li>
                  <h3>xxxx</h3>
                  <span>7-25</span>
                </li>
                <li>
                  <h3>xxxx</h3>
                  <span>7-25</span>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="innergroup">
          <div class="inner clearFix">
            <div class="colsection">
              <div class="item">
                <img src="#" alt="" />
                <div class="text">
                  <h1>xxx</h1>
                  <h3>xxxx</h3>
                </div>
                <sub></sub>
              </div>
              <ul>
                <li>
                  <h3>xxxx</h3>
                  <span>7-25</span>
                </li>
                <li>
                  <h3>xxxx</h3>
                  <span>7-25</span>
                </li>
                <li>
                  <h3>xxxx</h3>
                  <span>7-25</span>
                </li>
                <li>
                  <h3>xxxx</h3>
                  <span>7-25</span>
                </li>
              </ul>
            </div>
            <div class="colsection">
              <div class="item">
                <img src="#" alt="" />
                <div class="text">
                  <h1>xxx</h1>
                  <h3>xxxx</h3>
                </div>
                <sub></sub>
              </div>
              <ul>
                <li>
                  <h3>xxxx</h3>
                  <span>7-25</span>
                </li>
                <li>
                  <h3>xxxx</h3>
                  <span>7-25</span>
                </li>
                <li>
                  <h3>xxxx</h3>
                  <span>7-25</span>
                </li>
                <li>
                  <h3>xxxx</h3>
                  <span>7-25</span>
                </li>
              </ul>
            </div>
            <div class="colsection">
              <div class="item">
                <img src="#" alt="" />
                <div class="text">
                  <h1>xxx</h1>
                  <h3>xxxx</h3>
                </div>
                <sub></sub>
              </div>
              <ul>
                <li>
                  <h3>xxxx</h3>
                  <span>7-25</span>
                </li>
                <li>
                  <h3>xxxx</h3>
                  <span>7-25</span>
                </li>
                <li>
                  <h3>xxxx</h3>
                  <span>7-25</span>
                </li>
                <li>
                  <h3>xxxx</h3>
                  <span>7-25</span>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="innergroup">
          <div class="inner clearFix">
            <div class="colsection">
              <div class="item">
                <img src="#" alt="" />
                <div class="text">
                  <h1>xxx</h1>
                  <h3>xxxx</h3>
                </div>
                <sub></sub>
              </div>
              <ul>
                <li>
                  <h3>xxxx</h3>
                  <span>7-25</span>
                </li>
                <li>
                  <h3>xxxx</h3>
                  <span>7-25</span>
                </li>
                <li>
                  <h3>xxxx</h3>
                  <span>7-25</span>
                </li>
                <li>
                  <h3>xxxx</h3>
                  <span>7-25</span>
                </li>
              </ul>
            </div>
            <div class="colsection">
              <div class="item">
                <img src="#" alt="" />
                <div class="text">
                  <h1>xxx</h1>
                  <h3>xxxx</h3>
                </div>
                <sub></sub>
              </div>
              <ul>
                <li>
                  <h3>xxxx</h3>
                  <span>7-25</span>
                </li>
                <li>
                  <h3>xxxx</h3>
                  <span>7-25</span>
                </li>
                <li>
                  <h3>xxxx</h3>
                  <span>7-25</span>
                </li>
                <li>
                  <h3>xxxx</h3>
                  <span>7-25</span>
                </li>
              </ul>
            </div>
            <div class="colsection">
              <div class="item">
                <img src="#" alt="" />
                <div class="text">
                  <h1>xxx</h1>
                  <h3>xxxx</h3>
                </div>
                <sub></sub>
              </div>
              <ul>
                <li>
                  <h3>xxxx</h3>
                  <span>7-25</span>
                </li>
                <li>
                  <h3>xxxx</h3>
                  <span>7-25</span>
                </li>
                <li>
                  <h3>xxxx</h3>
                  <span>7-25</span>
                </li>
                <li>
                  <h3>xxxx</h3>
                  <span>7-25</span>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="innergroup">
          <div class="inner clearFix">
            <div class="colsection">
              <div class="item">
                <img src="#" alt="" />
                <div class="text">
                  <h1>xxx</h1>
                  <h3>xxxx</h3>
                </div>
                <sub></sub>
              </div>
              <ul>
                <li>
                  <h3>xxxx</h3>
                  <span>7-25</span>
                </li>
                <li>
                  <h3>xxxx</h3>
                  <span>7-25</span>
                </li>
                <li>
                  <h3>xxxx</h3>
                  <span>7-25</span>
                </li>
                <li>
                  <h3>xxxx</h3>
                  <span>7-25</span>
                </li>
              </ul>
            </div>
            <div class="colsection">
              <div class="item">
                <img src="#" alt="" />
                <div class="text">
                  <h1>xxx</h1>
                  <h3>xxxx</h3>
                </div>
                <sub></sub>
              </div>
              <ul>
                <li>
                  <h3>xxxx</h3>
                  <span>7-25</span>
                </li>
                <li>
                  <h3>xxxx</h3>
                  <span>7-25</span>
                </li>
                <li>
                  <h3>xxxx</h3>
                  <span>7-25</span>
                </li>
                <li>
                  <h3>xxxx</h3>
                  <span>7-25</span>
                </li>
              </ul>
            </div>
            <div class="colsection">
              <div class="item">
                <img src="#" alt="" />
                <div class="text">
                  <h1>xxx</h1>
                  <h3>xxxx</h3>
                </div>
                <sub></sub>
              </div>
              <ul>
                <li>
                  <h3>xxxx</h3>
                  <span>7-25</span>
                </li>
                <li>
                  <h3>xxxx</h3>
                  <span>7-25</span>
                </li>
                <li>
                  <h3>xxxx</h3>
                  <span>7-25</span>
                </li>
                <li>
                  <h3>xxxx</h3>
                  <span>7-25</span>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>

    </div>

    <div class="con guess">
      <div class="title">
        <h2>猜你喜欢</h2>
        <a href="#" class="more">change</a>
      </div>
      <div class="inner clearFix">
        <div class="item1">
          <img src="#" alt="" />
          <div class="text">
            <h1>xxx</h1>
            <h3>xxxx</h3>
          </div>
          <sub></sub>
        </div>
        <div class="item2">
          <img src="#" alt="" />
          <div class="text">
            <span class="left">xxxx</span>
            <span class="right">7:25</span>
          </div>
          <sub></sub>
        </div>
        <div class="item2">
          <img src="#" alt="" />
          <div class="text">
            <span class="left">xxxx</span>
            <span class="right">7:25</span>
          </div>
          <sub></sub>
        </div>
        <div class="item2">
          <img src="#" alt="" />
          <div class="text">
            <span class="left">xxxx</span>
            <span class="right">7:25</span>
          </div>
          <sub></sub>
        </div>
        <div class="item2">
          <img src="#" alt="" />
          <div class="text">
            <span class="left">xxxx</span>
            <span class="right">7:25</span>
          </div>
          <sub></sub>
        </div>
        <div class="item2">
          <img src="#" alt="" />
          <div class="text">
            <span class="left">xxxx</span>
            <span class="right">7:25</span>
          </div>
          <sub></sub>
        </div>
        <div class="item2">
          <img src="#" alt="" />
          <div class="text">
            <span class="left">xxxx</span>
            <span class="right">7:25</span>
          </div>
          <sub></sub>
        </div>
        <div class="item2">
          <img src="#" alt="" />
          <div class="text">
            <span class="left">xxxx</span>
            <span class="right">7:25</span>
          </div>
          <sub></sub>
        </div>

        <a href="#" class="go2info">

        </a>


      </div>
    </div>

  </div>
  <!--webmain end-->


  <!--webfooter-->
  <include file="Header/header" />
  <!--webfooter end-->


  <script src="__PUBLIC__/statics/js/jquery-1.8.0.min.js"></script>
  <script src="__PUBLIC__/statics/js/modernizr.com-custom-2.6.1-01.js"></script>
  <script src="__PUBLIC__/statics/js/jquery.easing.js"></script>
  <script src="__PUBLIC__/statics/dist/js/tool/tab.js"></script>
  <script src="__PUBLIC__/statics/dist/js/video/video.js"></script>

</body>

</html>
