<!doctype html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html>
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <title>中演网</title>
  <link href="__PUBLIC__/statics/dist/css/reset.css" rel="stylesheet" type="text/css" />
  <link href="__PUBLIC__/statics/dist/css/common.css" rel="stylesheet" type="text/css" />
  <link href="__PUBLIC__/statics/dist/css/video/video.css" rel="stylesheet" type="text/css" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <meta name="Keywords" content="">
  <meta name="Description" content="">
</head>

<body>

  <!--webheader-->
 <include file = "Header/nav" />
  <!--webheader end-->


  <!--webmain-->
  <div class="webmain">

    <!--  导航栏-->
    <div class="navTitle">
      <a href="{:U('Index/index')}">首页</a> > <a href="#">视频</a><!--
           --><include file = "Header/login" />
    </div>


    <div class="banner" id="banner">
      <ul class="imglist">
        <volist name="banner" id="vo">
          <if condition="$i eq 1">
            <li class="active">
              <a href="{:U('video_details',array('id'=>$vo['id']))}">
                <img src="./Uploads{$vo.img}" alt="{$vo.title}" />
              </a>
            </li>
            <else />
            <li>
             <a href="{:U('video_details',array('id'=>$vo['id']))}">
                <img src="./Uploads{$vo.img}" alt="{$vo.title}" />
              </a>
            </li>
          </if>
        </volist>
      </ul>
      <ul class="dotlist">
        <volist name="banner" id="vo">
          <if condition="$i eq 1">
            <li class="active"></li>
            <else />
            <li></li>
          </if>
        </volist>
      </ul>
    </div>

    <!--  今日热门-->
    <div class="con todayhot">
      <div class="title">
        <h2>今日热门</h2>
      </div>
      <div class="inner clearFix">

        <div class="left">
  <volist name = "videohot" id = "vo" offset = "0" length = "1">
    <a href="{:U('video_details',array('id'=>$vo['id']))}">
          <div class="item">
            <img src="./Uploads{$vo.bigimg}" alt="" />
            <div class="text">
              <h1>
              <?php echo strlen($vo['title'],'utf8')>13?mb_substr($vo['title'],0,13,'utf-8').'...':$vo['title'] ?></h1>
              <h3>{$vo.instime|date="Y-m-d H:i:s",###}</h3>
            </div>
            <sub></sub>
          </div>
    </a>
</volist>
        </div>

        <div class="middle clearFix">
<volist name = "videohot" id = "vo" offset="1" length = "4">
<a href="{:U('video_details',array('id'=>$vo['id']))}">
          <div class="item">
            <img src="./Uploads{$vo.img}" alt="" />
            <div class="text">
              <span class="left"><?php echo strlen($vo['title'],'utf8')>7?mb_substr($vo['title'],0,6,'utf-8').'...':$vo['title'] ?></span>
              <span class="right">{$vo.instime|date="H:i",###}</span>
            </div>
            <sub></sub>
          </div>
</a>
</volist>
        
        </div>
        <ul class="right">
<volist name = "videohot" id = "vo" offset = "5" length = "9">
  <a href="{:U('video_details',array('id'=>$vo['id']))}">
          <li>
            <h3><?php echo strlen($vo['title'],'utf8')>23?mb_substr($vo['title'],0,22,'utf-8').'...':$vo['title'] ?></h3>
            <span><?php echo floor((time()-$vo['instime'])/3600)?>小时前</span>
          </li>
  </a>
</volist>
         
        </ul>


      </div>
    </div>
    <!--  娱乐
    <div class="con entertainment">
      <div class="title">
        <h2></h2>
        <a href="#" class="more">more</a>
      </div>
      <div class="inner clearFix">
        <div class="item1">
          <img src="#" alt="" />
          <div class="text">
            <h1>xxx</h1>
            <h3>xxxx</h3>
          </div>
          <sub></sub>
        </div>
        <div class="item2">
          <img src="#" alt="" />
          <div class="text">
            <span class="left">xxxx</span>
            <span class="right">7:25</span>
          </div>
          <sub></sub>
        </div>
        <div class="item2">
          <img src="#" alt="" />
          <div class="text">
            <span class="left">xxxx</span>
            <span class="right">7:25</span>
          </div>
          <sub></sub>
        </div>
        <div class="item2">
          <img src="#" alt="" />
          <div class="text">
            <span class="left">xxxx</span>
            <span class="right">7:25</span>
          </div>
          <sub></sub>
        </div>
        <div class="item2">
          <img src="#" alt="" />
          <div class="text">
            <span class="left">xxxx</span>
            <span class="right">7:25</span>
          </div>
          <sub></sub>
        </div>
        <div class="item2">
          <img src="#" alt="" />
          <div class="text">
            <span class="left">xxxx</span>
            <span class="right">7:25</span>
          </div>
          <sub></sub>
        </div>
        <div class="item2">
          <img src="#" alt="" />
          <div class="text">
            <span class="left">xxxx</span>
            <span class="right">7:25</span>
          </div>
          <sub></sub>
        </div>
        <div class="item2">
          <img src="#" alt="" />
          <div class="text">
            <span class="left">xxxx</span>
            <span class="right">7:25</span>
          </div>
          <sub></sub>
        </div>
        <div class="item2">
          <img src="#" alt="" />
          <div class="text">
            <span class="left">xxxx</span>
            <span class="right">7:25</span>
          </div>
          <sub></sub>
        </div>

      </div>
    </div>-->
    <!--  视频汇-->
    <div class="con video">
      <div class="title">
        <h2>视频汇</h2>
        <ul class="group" id="group">
          <li class="active">电影电视</li>
          <li>制作花絮</li>
          <li>影视教学</li>
          <li>探班周边</li>
        </ul>
        <a href="{:U('video_more')}" class="more">more</a>
      </div>
      <ul>
        <li class="innergroup active">
          <div class="inner clearFix">
            <div class="colsection">
            <volist name = "tvvideo" id = "vo" offset = "0" length = "1">
            <a href="{:U('video_details',array('id'=>$vo['id']))}">
              <div class="item">
                <img src="./Uploads{$vo.bigimg}" alt="" />
                <div class="text">
                  <h1><?php echo strlen($vo['title'],'utf8')>16?mb_substr($vo['title'],0,15,'utf-8').'...':$vo['title'] ?></h1>
                  <h3>{$vo.instime|date="H:i",###}</h3>
                </div>
                <sub></sub>
              </div>
              </a>
            </volist>
              <ul>

            <volist name = "tvvideo" id = "vo" offset = "3" length = "4">
            <a href="{:U('video_details',array('id'=>$vo['id']))}">
                <li>
                  <h3><?php echo strlen($vo['title'],'utf8')>24?mb_substr($vo['title'],0,23,'utf-8').'...':$vo['title'] ?></h3>
                  <span>{$vo.instime|date="m-d",###}</span>
                </li>
                </a>
            </volist>
              

              </ul>
            </div>
            <div class="colsection">

             <volist name = "tvvideo" id = "vo" offset = "1" length = "1">
             <a href="{:U('video_details',array('id'=>$vo['id']))}">
              <div class="item">
                <img src="./Uploads{$vo.bigimg}" alt="" />
                <div class="text">
                  <h1><?php echo strlen($vo['title'],'utf8')>16?mb_substr($vo['title'],0,15,'utf-8').'...':$vo['title'] ?></h1>
                  <h3>{$vo.instime|date="H:i"}</h3>
                </div>
                <sub></sub>
              </div>
              </a>
            </volist>

              <ul>
            <volist name = "tvvideo" id = "vo" offset = "7" length = "4">
               <a href="{:U('video_details',array('id'=>$vo['id']))}">
                <li>
                  <h3><?php echo strlen($vo['title'],'utf8')>24?mb_substr($vo['title'],0,23,'utf-8').'...':$vo['title'] ?></h3>
                  <span>{$vo.instime|date="m-d",###}</span>
                </li>
                </a>
            </volist>
            
              </ul>
            </div>
            <div class="colsection">
            <volist name = "tvvideo" id = "vo" offset = "2" length = "1">
            <a href="{:U('video_details',array('id'=>$vo['id']))}">
              <div class="item">
                <img src="./Uploads{$vo.bigimg}" alt="" />
                <div class="text">
                  <h1><?php echo strlen($vo['title'],'utf8')>16?mb_substr($vo['title'],0,15,'utf-8').'...':$vo['title'] ?></h1>
                  <h3>{$vo.instime|date="H:i"}</h3>
                </div>
                <sub></sub>
              </div>
              </a>
            </volist>
              <ul>
            <volist name = "tvvideo" id = "vo" offset = "11" length = "4">
            <a href="{:U('video_details',array('id'=>$vo['id']))}">
                <li>
                  <h3><?php echo strlen($vo['title'],'utf8')>24?mb_substr($vo['title'],0,23,'utf-8').'...':$vo['title'] ?></h3>
                  <span>{$vo.instime|date="m-d",###}</span>
                </li>
                </a>
            </volist>
             
              </ul>
            </div>
          </div>
        </li>
        <li class="innergroup">
           <div class="inner clearFix">
            <div class="colsection">
            <volist name = "hxvideo" id = "vo" offset = "0" length = "1">
            <a href="{:U('video_details',array('id'=>$vo['id']))}">
              <div class="item">
                <img src="./Uploads{$vo.bigimg}" alt="" />
                <div class="text">
                  <h1><?php echo strlen($vo['title'],'utf8')>16?mb_substr($vo['title'],0,15,'utf-8').'...':$vo['title'] ?></h1>
                  <h3>{$vo.instime|date="H:i",###}</h3>
                </div>
                <sub></sub>
              </div>
              </a>
            </volist>
              <ul>

            <volist name = "hxvideo" id = "vo" offset = "3" length = "4">
            <a href="{:U('video_details',array('id'=>$vo['id']))}">
                <li>
                  <h3><?php echo strlen($vo['title'],'utf8')>24?mb_substr($vo['title'],0,23,'utf-8').'...':$vo['title'] ?></h3>
                  <span>{$vo.instime|date="m-d",###}</span>
                </li>
                </a>
            </volist>
              

              </ul>
            </div>
            <div class="colsection">

             <volist name = "hxvideo" id = "vo" offset = "1" length = "1">
             <a href="{:U('video_details',array('id'=>$vo['id']))}">
              <div class="item">
                <img src="./Uploads{$vo.bigimg}" alt="" />
                <div class="text">
                  <h1><?php echo strlen($vo['title'],'utf8')>16?mb_substr($vo['title'],0,15,'utf-8').'...':$vo['title'] ?></h1>
                  <h3>{$vo.instime|date="H:i"}</h3>
                </div>
                <sub></sub>
              </div>
              </a>
            </volist>

              <ul>
            <volist name = "hxvideo" id = "vo" offset = "7" length = "4">
            <a href="{:U('video_details',array('id'=>$vo['id']))}">
                <li>
                  <h3><?php echo strlen($vo['title'],'utf8')>24?mb_substr($vo['title'],0,23,'utf-8').'...':$vo['title'] ?></h3>
                  <span>{$vo.instime|date="m-d",###}</span>
                </li>
                </a>
            </volist>
            
              </ul>
            </div>
            <div class="colsection">
            <volist name = "hxvideo" id = "vo" offset = "2" length = "1">
            <a href="{:U('video_details',array('id'=>$vo['id']))}">
              <div class="item">
                <img src="./Uploads{$vo.bigimg}" alt="" />
                <div class="text">
                  <h1><?php echo strlen($vo['title'],'utf8')>16?mb_substr($vo['title'],0,15,'utf-8').'...':$vo['title'] ?></h1>
                  <h3>{$vo.instime|date="H:i"}</h3>
                </div>
                <sub></sub>
              </div>
              </a>
            </volist>
              <ul>
            <volist name = "hxvideo" id = "vo" offset = "11" length = "4">
            <a href="{:U('video_details',array('id'=>$vo['id']))}">
                <li>
                  <h3><?php echo strlen($vo['title'],'utf8')>24?mb_substr($vo['title'],0,23,'utf-8').'...':$vo['title'] ?></h3>
                  <span>{$vo.instime|date="m-d",###}</span>
                </li>
                </a>
            </volist>
             
              </ul>
            </div>
          </div>
        </li>

        <li class="innergroup">
            <div class="inner clearFix">
            <div class="colsection">
            <volist name = "spvideo" id = "vo" offset = "0" length = "1">
              <div class="item">
                <img src="./Uploads{$vo.bigimg}" alt="" />
                <div class="text">
                  <h1><?php echo strlen($vo['title'],'utf8')>16?mb_substr($vo['title'],0,15,'utf-8').'...':$vo['title'] ?></h1>
                  <h3>{$vo.instime|date="H:i",###}</h3>
                </div>
                <sub></sub>
              </div>
            </volist>
              <ul>

            <volist name = "spvideo" id = "vo" offset = "3" length = "4">
            <a href="{:U('video_details',array('id'=>$vo['id']))}">
                <li>
                  <h3><?php echo strlen($vo['title'],'utf8')>24?mb_substr($vo['title'],0,23,'utf-8').'...':$vo['title'] ?></h3>
                  <span>{$vo.instime|date="m-d",###}</span>
                </li>
                </a>
            </volist>
              

              </ul>
            </div>
            <div class="colsection">

             <volist name = "spvideo" id = "vo" offset = "1" length = "1">
             <a href="{:U('video_details',array('id'=>$vo['id']))}">
              <div class="item">
                <img src="./Uploads{$vo.bigimg}" alt="" />
                <div class="text">
                  <h1><?php echo strlen($vo['title'],'utf8')>16?mb_substr($vo['title'],0,15,'utf-8').'...':$vo['title'] ?></h1>
                  <h3>{$vo.instime|date="H:i"}</h3>
                </div>
                <sub></sub>
              </div>
              </a>
            </volist>

              <ul>
            <volist name = "spvideo" id = "vo" offset = "7" length = "4">
            <a href="{:U('video_details',array('id'=>$vo['id']))}">
                <li>
                  <h3><?php echo strlen($vo['title'],'utf8')>24?mb_substr($vo['title'],0,23,'utf-8').'...':$vo['title'] ?></h3>
                  <span>{$vo.instime|date="m-d",###}</span>
                </li>
                </a>
            </volist>
            
              </ul>
            </div>
            <div class="colsection">
            <volist name = "spvideo" id = "vo" offset = "2" length = "1">
            <a href="{:U('video_details',array('id'=>$vo['id']))}">
              <div class="item">
                <img src="./Uploads{$vo.bigimg}" alt="" />
                <div class="text">
                  <h1><?php echo strlen($vo['title'],'utf8')>16?mb_substr($vo['title'],0,15,'utf-8').'...':$vo['title'] ?></h1>
                  <h3>{$vo.instime|date="H:i"}</h3>
                </div>
                <sub></sub>
              </div>
              </a>
            </volist>
              <ul>
            <volist name = "spvideo" id = "vo" offset = "11" length = "4">
            <a href="{:U('video_details',array('id'=>$vo['id']))}">
                <li>
                  <h3><?php echo strlen($vo['title'],'utf8')>24?mb_substr($vo['title'],0,23,'utf-8').'...':$vo['title'] ?></h3>
                  <span>{$vo.instime|date="m-d",###}</span>
                </li>
                </a>
            </volist>
             
              </ul>
            </div>
          </div>
        </li>

        <li class="innergroup">
           <div class="inner clearFix">
            <div class="colsection">
            <volist name = "tbvideo" id = "vo" offset = "0" length = "1">
            <a href="{:U('video_details',array('id'=>$vo['id']))}">
              <div class="item">
                <img src="./Uploads{$vo.bigimg}" alt="" />
                <div class="text">
                  <h1><?php echo strlen($vo['title'],'utf8')>16?mb_substr($vo['title'],0,15,'utf-8').'...':$vo['title'] ?></h1>
                  <h3>{$vo.instime|date="H:i",###}</h3>
                </div>
                <sub></sub>
              </div>
              </a>
            </volist>
              <ul>

            <volist name = "tbvideo" id = "vo" offset = "3" length = "4">
            <a href="{:U('video_details',array('id'=>$vo['id']))}">
                <li>
                  <h3><?php echo strlen($vo['title'],'utf8')>24?mb_substr($vo['title'],0,23,'utf-8').'...':$vo['title'] ?></h3>
                  <span>{$vo.instime|date="m-d",###}</span>
                </li>
                </a>
            </volist>
              

              </ul>
            </div>
            <div class="colsection">

             <volist name = "tbvideo" id = "vo" offset = "1" length = "1">
             <a href="{:U('video_details',array('id'=>$vo['id']))}">
              <div class="item">
                <img src="./Uploads{$vo.bigimg}" alt="" />
                <div class="text">
                  <h1><?php echo strlen($vo['title'],'utf8')>16?mb_substr($vo['title'],0,15,'utf-8').'...':$vo['title'] ?></h1>
                  <h3>{$vo.instime|date="H:i"}</h3>
                </div>
                <sub></sub>
              </div>
              </a>
            </volist>

              <ul>
            <volist name = "tbvideo" id = "vo" offset = "7" length = "4">
            <a href="{:U('video_details',array('id'=>$vo['id']))}">
                <li>
                  <h3><?php echo strlen($vo['title'],'utf8')>24?mb_substr($vo['title'],0,23,'utf-8').'...':$vo['title'] ?></h3>
                  <span>{$vo.instime|date="m-d",###}</span>
                </li>
                </a>
            </volist>
            
              </ul>
            </div>
            <div class="colsection">
            <volist name = "tbvideo" id = "vo" offset = "2" length = "1">
            <a href="{:U('video_details',array('id'=>$vo['id']))}">
              <div class="item">
                <img src="./Uploads{$vo.bigimg}" alt="" />
                <div class="text">
                  <h1><?php echo strlen($vo['title'],'utf8')>16?mb_substr($vo['title'],0,15,'utf-8').'...':$vo['title'] ?></h1>
                  <h3>{$vo.instime|date="H:i"}</h3>
                </div>
                <sub></sub>
              </div>
              </a>
            </volist>
              <ul>
            <volist name = "tbvideo" id = "vo" offset = "11" length = "4">
            <a href="{:U('video_details',array('id'=>$vo['id']))}">
                <li>
                  <h3><?php echo strlen($vo['title'],'utf8')>24?mb_substr($vo['title'],0,23,'utf-8').'...':$vo['title'] ?></h3>
                  <span>{$vo.instime|date="m-d",###}</span>
                </li>
                </a>
            </volist>
             
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="con guess">
      <div class="title">
        <h2>猜你喜欢</h2>
       <!--  <a href="#" class="more">change</a> -->
      </div>
      <div class="inner clearFix">
      
      <volist name ="acval" id = "vo" offset = "0" length="1">
      <div class="item1">
       <img src="./Uploads{$vo.imgpath}" />
        <a href="{:U('News/news_details',array('id'=>$vo['id']))}" class="l">
          <div class="text">
            <h1><?php echo (strlen($vo['title'],'utf8'))>8?mb_substr($vo['title'],0,8,'utf-8').'...':$vo['title'] ?></h1>
            <h3>{$vo.instime|date="m-d",###}</h3>
          </div>
         
          <sub class="hover"></sub>
        </a>
        </div>
        </volist>
      <volist name = "acval" id = "vo" offset = "1" length = "3">
        <div class="item2">
          <a href="{:U('News/news_details',array('id'=>$vo['id']))}">
            <img src="./Uploads{$vo.imgpath}" alt="" />
            <div class="text">
              <span class="left"><?php echo (mb_strlen($vo['title'],'utf8'))>8?mb_substr($vo['title'],0,8,'utf-8').'...':$vo['title'] ?></span>
              <span class="right">{$vo.instime|date="m-d",###}</span>
            </div>
            <sub></sub>
          </a>
        </div>
      </volist>
      <volist name = "actval" id = "vo">
        <div class="item2">
          <a href="{:U('Active/active_details',array('id'=>$vo['id']))}">
            <img src="./Uploads{$vo.img}" alt="" />
            <div class="text">
              <span class="left"><?php echo (mb_strlen($vo['title'],'utf8'))>8?mb_substr($vo['title'],0,8,'utf-8').'...':$vo['title'] ?></span>
              <span class="right">{$vo.instime|date="m-d",###}</span>
            </div>
            <sub></sub>
          </a>
        </div>
      </volist>
      <volist name = "veval" id = "vo">
        <div class="item2">
          <a href="{:U('Video/video_details',array('id'=>$vo['id']))}">
            <img src="./Uploads{$vo.img}" alt="" />
            <div class="text">
              <span class="left"><?php echo (mb_strlen($vo['title'],'utf8'))>8?mb_substr($vo['title'],0,8,'utf-8').'...':$vo['title'] ?></span>
              <span class="right">{$vo.instime|date="m-d",###}</span>
            </div>
            <sub></sub>
          </a>
        </div>
      </volist>
<!--         
        <a href="#" class="go2info">

        </a> -->


      </div>
    </div>

  </div>
  <!--webmain end-->


  <!--webfooter-->
  <include file="Header/header" />
  <!--webfooter end-->


  <script src="__PUBLIC__/statics/js/jquery-1.8.0.min.js"></script>
  <script src="__PUBLIC__/statics/js/modernizr.com-custom-2.6.1-01.js"></script>
  <script src="__PUBLIC__/statics/js/jquery.easing.js"></script>
  <script src="__PUBLIC__/statics/dist/js/tool/tab.js"></script>
  <script src="__PUBLIC__/statics/dist/js/video/video.js"></script>

</body>

</html>
