<extend name="Header/header"/>
<block name='header'>
    <!DOCTYPE HTML>
    <!--[if lt IE 7 ]>
    <html class="ie6 ieOld"><![endif]-->
    <!--[if IE 7 ]>
    <html class="ie7 ieOld"><![endif]-->
    <!--[if IE 8 ]>
    <html class="ie8 ieOld"><![endif]-->
    <!--[if (gte IE 9)|!(IE)]><!-->
    <html><!--<![endif]-->
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>中演网管理平台</title>
        <meta name="Keywords" content="">
        <meta name="Description" content="">
        <link href="__PUBLIC__/statics/style/reset.css" rel="stylesheet" type="text/css"/>
        <link href="__PUBLIC__/statics/style/base.css" rel="stylesheet" type="text/css"/>
        <!--每个页面独立的样式文件-->
    </head>

    <body>
</block>

<block name='div'>
    <!--container-->
    <div class="webContainer clearFix" id="webContainer">
</block>

<block name="content">
    <!--main-->
    <div class="webMain">
        <div class="mainHeader">
            <h1>添加推荐团成员</h1>
            <!--<ul class="menu clearFix">-->
            <!--<li class="current"><a href="#">菜单A</a></li>-->
            <!--<li><a href="#">菜单B</a></li>-->
            <!--<li><a href="#">菜单C</a></li>-->
            <!--</ul>-->
        </div>
        <div class="mainBody">

            <!--表单-->
            <div class="form">
                <div class="formHeader">
                    <h1>请填写基本信息</h1>
                </div>
                <form method="post" action="{:U('Recommend/addcommend')}" enctype="multipart/form-data">
                    <fieldset>
                        <!-- 头像-->
                        <div class="l">
                            <h6>头像</h6>
                            <div class="i">
                                <input type="text" value="" class="js_imgupload" id="imgurl2" cut="true" width="280" height="310" name="img"/>
                            </div>
                        </div>
                        <!-- 姓名-->
                        <div class="l">
                            <h6>姓名</h6>
                            <div class="i"><input type="text" class="input w200" value="" placeholder="请输入姓名" name="name"/></div>
                        </div>
                        <!-- 分组-->
                        <div class="l">
                            <h6>代表分组</h6>

                            <div class="i w150">
                                <select style="display: none;">
                                    <option>艺术家</option>
                                    <option>导演</option>
                                    <option>制片人</option>
                                    <option>编剧</option>
                                </select>
                            </div>
                        </div>
                        <!-- 国籍-->
                        <div class="l">
                            <h6>国籍</h6>

                            <div class="i"><input type="text" class="input w200" value="" name="national"
                                                  placeholder="请输入国籍"/></div>
                        </div>
                        <!-- 民族-->
                        <div class="l">
                            <h6>民族</h6>

                            <div class="i"><input type="text" class="input w200" name="nation" value=""
                                                  placeholder="请输入民族"/></div>
                        </div>
                        <!-- 身高-->
                        <div class="l">
                            <h6>身高</h6>

                            <div class="i"><input type="text" class="input w200" name="height" value=""
                                                  placeholder="请输入身高，如180"/>CM
                            </div>
                        </div>
                        <!-- 体重-->
                        <div class="l">
                            <h6>体重</h6>

                            <div class="i"><input type="text" class="input w200" name="weight" value=""
                                                  placeholder="请输入体重，如50"/>KG
                            </div>
                        </div>
                        <!-- 出生地址-->
                        <div class="l">
                            <h6>出生地址</h6>

                            <div class="i"><input type="text" class="input" value="" name="address"
                                                  placeholder="请输入地址"/>
                            </div>
                        </div>
                        <!-- 出生年月-->
                        <div class="l">
                            <h6>出生年月</h6>

                            <div class="i w200">
                                <input type="text" class="js_date" data-time="false" value="1990-2-20|23:15" name="birthday"/>
                            </div>
                        </div>
                        <!-- 职业-->
                        <div class="l">
                            <h6>职业</h6>
                            <div class="i"><input type="text" class="input w200" name="alias" value="" placeholder="请输入职业"/>
                            </div>
                        </div>
                        <!-- 毕业院校-->
                        <div class="l">
                            <h6>毕业院校</h6>

                            <div class="i"><input type="text" class="input w300" name="alias" value=""
                                                  placeholder="请输入毕业院校"/></div>
                        </div>
                        <!-- 主要成就-->
                        <div class="l">
                            <h6>主要成就</h6>
                            <div class="i"><input type="text" class="input w400" name="alias" value=""  placeholder="请输入主要成就"/></div>
                        </div>
                        <div class="l worksList">
                            <h6>代表作</h6>
                            <div class="i" id="J_WorksList">
                                 <div class="item clearFix" data-index="1">
                                    <div class="i w230 mr0"><input type="text" class="input w200" name="title[{$i}]" value="{$vo.title}" placeholder="请输入代表作名字"/></div>
                                    <div class="i w350"><input type="text" value="{$vo.img}" class="js_imgupload" id="imgurl1" cut="true" width="280" height="310" name="photo[{$i}]"/></div>
                                    <div class="i w100"><a href="javascript:void(0);" class="del">删除</a></div>
                                </div>
                               
                                <a href="javascript:void(0);" class="btnB btnSmall" id="J_AppendWorks">添加代表作</a>
                            </div>
                        </div>
                         <!--主提交按钮-->
            <div class="btnCon btnCon2">
                <a href="{:U('Recommend/index')}" class="btnD">取消</a>
                <input type="submit" class="btnA" value="提交" name="submit"/>
            </div>
                    </fieldset>
                </form>
            </div>


           


        </div>
    </div>
    <!--main end-->

    </div>
    <!--container end-->


    <script type="text/javascript" src="__PUBLIC__/statics/js/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/statics/js/swfobject.js"></script>
    <script type="text/javascript" src="__PUBLIC__/statics/js/sea.js"></script>
    <script type="text/javascript" src="__PUBLIC__/statics/js/sea.css.js"></script>
    <script type="text/javascript">
        seajs.use("__PUBLIC__/statics/statics/js/form.js");
    </script>
    <script type="text/javascript" src="__PUBLIC__/sxx.js">
    </script>
    <!--富文本编辑器-->
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/statics/js/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/statics/js/ueditor/ueditor.all.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/statics/js/ueditor/lang/zh-cn/zh-cn.js"></script>
    <!--富文本编辑器 end-->
 <script>


        var imgUploadServer = "{:urlencode(U("Upload/upload_image?path=stage"))}";
        var imgUploadFile = '__ROOT__/Uploads';
        var swfUrl = "__ROOT__/Public/stage/swf";

        $(function(){
            $(".worksList").on("click",".del",function(){
                $(this).parents(".item").remove();
            });


            //动态添加代表作
            var J_AppendWorks =  $("#J_AppendWorks"),
                J_WorksList = $("#J_WorksList");

            J_AppendWorks.on("click", appendWorks);
            function appendWorks(){
                var _item = J_WorksList.find(".item"), _index = 1;
                if(_item.length > 0){
                    _index = +_item.eq(_item.length - 1).data("index");
                    _index ++;
                }

                var d = new Date().getTime();
                J_AppendWorks.before('<div class="item clearFix" data-index="'+ _index +'">'+
                        '<div class="i w230 mr0"><input type="text" class="input w200" name="title['+ _index +']" value="" placeholder="请输入代表作名字"/></div>'+
                        '<div class="i w350"><input type="text" value="" class="js_imgupload" id="imgurl'+ d +'" cut="true" width="280" height="310" name="photo['+ _index +']"/></div>'+
                        '<div class="i w100"><a href="javascript:void(0);" class="del">删除</a></div>'+
                        '</div>');
                $("#imgurl" + d).imgUploadInit();
            }
        });
    </script>


    </body>
    </html>
</block>