@charset "UTF-8";
.webmain .judge-content .item p, .webmain .starrecommend-content .item p { background: url("../../images/space.png") 0 0 repeat; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000); background: rgba(0, 0, 0, 0.6); }
.webmain .judge-content .item sub, .webmain .starrecommend-content .item sub { background: url("../../images/space.png") 0 0 repeat; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000,endColorstr=#00000000); background: transparent; }
.webmain .judge-content .item sub:hover, .webmain .starrecommend-content .item sub:hover { background: url("../../images/space.png") 0 0 repeat; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4c000000,endColorstr=#4c000000); background: rgba(0, 0, 0, 0.3); }

/*标题，抬头css*/
.webmain .con { margin-bottom: 45px; }

.webmain .con .title { height: 60px; overflow: hidden; background: url(../../images/line_contitle.gif) center center repeat-x; margin-bottom: 15px; position: relative; }

.webmain .con .title a.more { display: block; position: absolute; right: 0; top: 16px; background: url(../../images/more_contitle.gif); width: 130px; height: 30px; text-indent: -99em; overflow: hidden; }

.webmain .con .title h2 { display: block; width: 100px; height: 60px; background-image: url(../../images/sprite_starwars.jpg); background-repeat: no-repeat; text-indent: -99em; overflow: hidden; float: left; }

.webmain .con .title ul { float: left; height: 26px; background: #fff; padding: 17px 5px 17px 5px; }

.webmain .con .title ul li { float: left; font-size: 16px; height: 26px; line-height: 26px; overflow: hidden; margin-right: 8px; }

.webmain .con .title ul li a { display: block; width: 100%; height: 26px; line-height: 26px; cursor: pointer; padding: 0 8px; }

.webmain .con .title ul li.c a { background: #000; color: #fff; }

/*导航栏*/
.navTitle { color: #ccc; margin-bottom: 30px; }

.navTitle a { color: inherit; }

.navTitle a:hover { color: red; }

.navTitle .loginfo { float: right; margin: 0 20px 0 15px; }

.navTitle .loginfo .face { display: inline-block; float: left; width: 20px; height: 20px; background: url("../../images/icon-logface.jpg") 50% no-repeat; }

.navTitle .loginfo .name { display: inline-block; float: left; height: 20px; margin-left: 15px; line-height: 20px; cursor: pointer; }

.navTitle .loginfo .name:after { content: ""; display: block; position: absolute; margin-left: 55px; margin-top: -10px; border-top: 6px solid #000; border-right: 6px solid #fff; border-left: 6px solid #fff; }

/*banner轮播*/
.topbanner, .topbanner-imglist li, .topbanner-imglist img { width: 1200px; height: 530px; }

.topbanner { position: relative; text-align: center; margin-bottom: 15px; }

.topbanner-imglist { position: absolute; }
.topbanner-imglist li { display: none; }
.topbanner-imglist li.active { display: block; }

.topbanner-dotlist { display: inline-block; position: relative; margin-top: 490px; }
.topbanner-dotlist li { float: left; width: 12px; height: 12px; margin-left: 10px; margin-right: 10px; background-color: #fff; border-radius: 50%; }
.topbanner-dotlist li.active { background-color: #cc66ff; }

.webmain .judge .judge-title h2 { width: 190px; }
.webmain .judge .judge-title li { width: 110px; height: 25px; text-align: center; }
.webmain .judge .judge-title li.active { color: #fff; background-color: #000; }

.webmain .judge-content .item, .webmain .judge-content .item img, .webmain .judge-content .item sub { width: 125px; height: 138px; }

.webmain .judge-content { width: 1228px; margin-left: -28px; }
.webmain .judge-content .item { float: left; margin-left: 28px; margin-bottom: 15px; }
.webmain .judge-content .item p { position: absolute; height: 35px; width: 125px; line-height: 35px; margin-top: -35px; text-align: center; color: #fff; }
.webmain .judge-content .item sub { display: block; position: absolute; margin-top: -138px; }

.webmain .starrecommend-content .item, .webmain .starrecommend-content .item img, .webmain .starrecommend-content .item sub { width: 280px; height: 410px; }

.webmain .starrecommend .starrecommend-title h2 { width: 180px; background-position: 0 -60px; }

.webmain .starrecommend-content { width: 1226px; margin-left: -26px; }
.webmain .starrecommend-content .item { margin-left: 26px; float: left; }
.webmain .starrecommend-content .item p { position: absolute; height: 45px; width: 280px; margin-top: -45px; text-align: center; line-height: 45px; color: #fff; }
.webmain .starrecommend-content .item sub { display: block; position: absolute; margin-top: -410px; }

/*# sourceMappingURL=starwars.css.map */
