@charset "UTF-8";
@import "../sasscommon";
.webmain .con .title h2 {
  background: url("../../../images/sprite_video.gif") 0 0 no-repeat;
}
.webmain .video {
  .title {
    h2 {
      width: 145px;
      background-position: 0 -120px;
    }
    .group li {
      width: 90px;
    }
  }

  .inner {
    width: 1230px;
    margin-left: -30px;
    .item {
      float: left;
      margin:{
        left: 30px;
        bottom: 30px;
      }
      @include item3(380px, 285px, 60px, 14px, 12px);
    }
  }
}
