@charset "utf-8";
@import "../sasscommon";
.webmain .conComment .title h2 {
  background: url("../../../images/sprite_comment.gif") 0 0 no-repeat;
}
iframe {
  margin-top: 45px;
  z-index: 99;
}
.webmain{
  overflow: visible; 
}
.webmain .conComment {
  margin-bottom: 0;
  position: relative;
}
.pagelist{
  bottom: -22px;
}
.webmain .conComment .title {
  margin-bottom: 5px;
}
.webmain .conComment .inner .list {
  margin-bottom: 20px;
}
.webmain .conComment .inner .list .item {
  position: relative;
  margin-top: 10px;
}
.webmain .conComment .inner .list .item .head {
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 10px;
}
.webmain .conComment .inner .list .item .head img {
  display: block;
  width: 50px;
  height: 50px;
}
.webmain .conComment .inner .list .item .info {
  float: left;
  width: 1140px;
}
.webmain .conComment .inner .list .item .info span {
  color: #c1c1c1;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 4px;
  display: block;
}
.webmain .conComment .inner .list .item .info p {
  color: #000;
  font-size: 14px;
  line-height: 20px;
}
.webmain .conComment .inner .list .item .reply {
  position: absolute;
  right: 0;
  top: 0;
  line-height: 20px;
  display: block;
}
.webmain .conComment .inner .pager {
  height: 20px;
  overflow: hidden;
  margin-bottom: 15px;
}
.webmain .conComment .inner .pager a,
.webmain .conComment .inner .pager span {
  display: block;
  float: left;
  margin-right: 5px;
  font-size: 12px;
  padding: 0 2px;
  line-height: 20px;
}
.webmain .conComment .inner .pager a.c {
  color: #f25e5e;
}
.webmain .conComment .inner .send textarea {
  width: 1178px;
  height: 120px;
  padding: 10px;
  border: 1px solid #000;
  display: block;
  margin-bottom: 10px;
  background-color: #fff;
  overflow: visible;
}
.webmain .conComment .inner .send .submit {
  width: 80px;
  height: 32px;
  line-height: 32px;
  color: #fff;
  text-align: center;
  display: block;
  background: #000;
  margin-left: 1122px;
}
