.banner p {
    height: 40px;
    display: -webkit-box;
    -webkit-box-align: center;
}

.banner .title {
    font-size: 16px;
    text-indent: 5px;
    margin-left: 15px;
}

.banner .digest {
    font-size: 12px;
    color: #6c6c6c;
}

.banner .padding {
    padding: 0 15px;
}

.banner .padding p:nth-child(3) {
    color: #8d8d8d;
}

.news {
    padding: 0 15px;
}

.news li {
    display: -webkit-box;
    -webkit-box-pack: justify;
    margin-bottom: 20px;
}

.news li div {
    display: -webkit-box;
    -webkit-box-pack: justify;
    -webkit-box-orient: vertical;
}

.news li p {
    font-size: 10px;
    color: #8d8d8d;
}

.news li h2 {
    font-size: 14px;
}

.news li .bottom-info {
    display: -webkit-box;
    -webkit-box-pack: justify;
    -webkit-box-orient: horizontal;
}

.news li .date {
    font-size: 9px;
    color: #8d8d8d;
}

.news li .recommend {
    display: block;
    width: 14px;
    height: 14px;
    background: url("../img/icon_recommend_news.jpg") 50% no-repeat;
    background-size: cover;
}

.popUpWin {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 60%;
    -webkit-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
    transform: translateX(100%);
    z-index: 9;
}

.popUpWin.active {
    transform: translateX(0);
}

.selectBox {
    background-color: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
}

.selectBox li {
    display: -webkit-box;
    -webkit-box-align: center;
    height: 50px;
    /*border-bottom: 1px solid #ccc ;*/
    padding-left: 30px;
}

.selectBox li .dot {
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #000000;
}

.selectBox li .text {
    color: #000;
    padding-left: 15px;
}

.selectBox li .text.myFocus {
    display: block;
    text-indent: 6px;
    color: #ccc;
}

.selectBox li .hot {
    display: block;
    width: 30px;
    height: 16px;
    margin-left: 15px;
    background: url("../img/icon_hot_popupwin.jpg") 50% no-repeat;
    background-size: cover;
}

.mask {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /*background: #000;*/
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    pointer-events: none;
}

.mask.active {
    pointer-events: auto;
    opacity: 1;
    /*background: rgba(0, 0, 0, 0.7);*/
}
