@charset "UTF-8";

.webmain .con .title h2 {
  display: block;
  width: 140px;
  height: 60px;
  background-image: url("../../../images/p_performing_title.jpg");
  background-repeat: no-repeat;
  text-indent: -99em;
  overflow: hidden;
  float: left;
}
