<block name="header"></block>
<!--header-->
  <div class="webHeader" id="webHeader">
    <div class="inner">
      <h1 class="logo">中演网管理平台</h1>
      <div class="userInfo">
        <div class="head"><img src="__PUBLIC__/statics/images/yggxwxlogo.jpg" /></div>
        <div class="info">
          <h2>您好，<span>admin</span>！</h2>
          <ul class="tools">
            <li><a href="javascript:void(0)" class="chagepw">修改密码</a></li>
            <li><a href="#">安全退出</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!--header end-->
<block name="div"></block>
<!--aside-->
    <div class="webAside">
      <div class="menu">

        <dl class="ft">
          <dt><span></span>基本元素</dt>
          <dd>
            <ul>
              <li><a href="index.html">Table表格</a></li>
              <li class="current"><a href="{:U('Gactor/index')}">演员管理</a></li>
              <li><a href="{:U('Recommend/index')}">推荐团管理<sub>192</sub></a></li>
            </ul>
          </dd>
        </dl>

        <dl>
          <dt><span></span>第二类</dt>
          <dd>
            <ul>
              <li><a href="#">子菜单1</a></li>
              <li><a href="#">子菜单2</a></li>
              <li><a href="#">子菜单3</a></li>
            </ul>
          </dd>
        </dl>

        <dl>
          <dt><span></span>第三类</dt>
          <dd>
            <ul>
              <li><a href="#">子菜单1</a></li>
              <li><a href="#">子菜单2</a></li>
              <li><a href="#">子菜单3</a></li>
            </ul>
          </dd>
        </dl>


      </div>
    </div>
    <!--aside end-->
    <block name='content'></block>