@charset "utf-8";

.webmain .con { margin-bottom: 45px;}
.webmain .con .title { height: 60px; overflow: hidden; background: url(../images/line_contitle.gif) center center repeat-x; margin-bottom: 16px; position: relative;}
.webmain .con .title a.more { display: block; position: absolute; right: 0; top: 16px; background: url(../images/more_contitle.gif); width: 130px; height: 30px; text-indent: -99em; overflow: hidden;}
.webmain .con .title h2 { display: block; width: 100px; height: 60px; background-image: url(../images/txt_contitle.gif); background-repeat: no-repeat; text-indent: -99em; overflow: hidden; float: left;}
.webmain .con .title ul { float: left; height: 26px; background: #fff; padding: 17px 5px 17px 5px;}
.webmain .con .title ul li { float: left; font-size: 16px; height: 26px; line-height: 26px; overflow: hidden; margin-right: 8px;}
.webmain .con .title ul li a { display: block; width: 100%; height: 26px; line-height: 26px; cursor: pointer; padding: 0 8px;}
.webmain .con .title ul li.c a { background: #000; color: #fff;}


.webmain .conTop .l { width: 790px; height: 530px; overflow: hidden; float: left; margin-right: 30px; position: relative; display: block;}
.webmain .conTop .l img { display: block; width: 790px; height: 530px;}
.webmain .conTop .l .txt { position: absolute; left: 0; bottom: 0; z-index: 3; width: 100%; padding: 22px 20px 20px 20px;background: rgb(0,0,0); background: rgba(0,0,0,0.34); width: 750px;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#57000000,endColorstr=#57000000);}
.webmain .conTop .l .txt h3 { color: #fff; font-size: 22px; line-height: 24px; font-weight: normal; margin-bottom: 8px;}
.webmain .conTop .l .txt span { color: #fff; font-size: 14px; line-height: 18px; opacity: 0.7;}
.webmain .conTop .l .play { width: 100%; height: 100%;   position: absolute; left: 0; top: 0; background: rgba(0, 0, 0, 0);  background: url("../images/space.png") 0 0 repeat; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000,endColorstr=#00000000); }
.webmain .conTop .l .play:hover{background: url("../images/space.png") 0 0 repeat; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#57000000,endColorstr=#57000000); background: rgba(0, 0, 0, 0.34);}
.webmain .conTop .l .play span { position: absolute; left: 50%; top: 50%; width: 60px; height: 60px; margin: -30px 0 0 -30px; background: url(../images/icon_playvideo.png);}
.webmain .conTop .r { width: 380px; height: 530px; overflow: hidden; float: left;}
.webmain .conTop .r .item { width: 380px; height: 250px; overflow: hidden; position: relative; display: block;}
.webmain .conTop .r .item img { display: block; width: 380px; height: 250px;}
.webmain .conTop .r .item .txt { position: absolute; left: 0; bottom: 0; z-index: 3; width: 100%; padding: 12px 10px 10px 10px;background: rgb(0,0,0); background: rgba(0,0,0,0.68); width: 360px; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#AE000000,endColorstr=#AE000000);}
.webmain .conTop .r .item .txt h3 { color: #fff; font-size: 14px; line-height: 18px; font-weight: normal;}
.webmain .conTop .r .item .txt span { color: #fff; font-size: 12px; line-height: 18px; opacity: 0.7;}
.webmain .conTop .r .t { margin-bottom: 30px;}
.webmain .conTop .r .item .hover { position: absolute; left: 0; top: 0; width: 100%; height: 100%;  background: url("../images/space.png") 0 0 repeat;background: rgba(0,0,0,0);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000,endColorstr=#00000000); }
.webmain .conTop .r .item .hover:hover { position: absolute; left: 0; top: 0; width: 100%; height: 100%;  background: url("../images/space.png") 0 0 repeat;background: rgba(0,0,0,0.34);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#57000000,endColorstr=#57000000); }
.webmain .conFocus {}
.webmain .conFocus .title h2 { width: 166px;}
.webmain .conFocus .inner .group { float: left; width: 380px; overflow: hidden; margin-left: 30px;}
.webmain .conFocus .inner .group.first { margin-left: 0;}
.webmain .conFocus .inner .group .cover { margin-bottom: 10px; width: 380px; height: 250px; overflow: hidden; position: relative; display: block;}
.webmain .conFocus .inner .group .cover .hover { ; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: url("../images/space.png") 0 0 repeat;background: rgba(0,0,0,0);}
.webmain .conFocus .inner .group .cover .hover:hover{background: url("../images/space.png") 0 0 repeat;background: rgba(0,0,0,0.34);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#57000000,endColorstr=#57000000);}
.webmain .conFocus .inner .group .cover img { display: block; width: 380px; height: 250px;}
.webmain .conFocus .inner .group .cover .txt { position: absolute; left: 0; bottom: 0; z-index: 3; width: 100%; padding: 12px 10px 10px 10px; background: rgba(0,0,0,0.68); width: 360px;}
.webmain .conFocus .inner .group .cover .txt h3 { color: #fff; font-size: 14px; line-height: 18px; font-weight: normal;}
.webmain .conFocus .inner .group .cover .txt span { color: #fff; font-size: 12px; line-height: 18px; opacity: 0.7;}
.webmain .conFocus .inner .group ul li { display: block; line-height: 20px; height: 20px; overflow: hidden; position: relative; padding-right: 100px; padding: 5px 0;}
.webmain .conFocus .inner .group ul li a { display: inline-block; line-height: 20px;}
.webmain .conFocus .inner .group ul li span { display: block; height: 20px; line-height: 20px; overflow: hidden; position: absolute; right: 0; top: 5px; color: #c1c1c1; font-size: 12px;}

.webmain .conEvent {}
.webmain .conEvent .title h2 { width: 166px; background-position: 0 -60px;}
.webmain .conEvent .inner .l { width: 380px; height: 430px; overflow: hidden; float: left; position: relative; display: block;}
.webmain .conEvent .inner .l img { display: block; width: 380px; height: 430px;}
.webmain .conEvent .inner .l p { height: 30px; background: rgba(0,0,0,0.8); color: #fff; font-size: 12px; line-height: 30px; padding: 0 12px; position: absolute; right: 0; top: 0; z-index: 2;}
.webmain .conEvent .inner .l p span { color: #c3c3c3; padding-left: 2px;}
.webmain .conEvent .inner .l .hover {position: absolute; left: 0; top: 0; width: 100%; height: 100%;background: url("../images/space.png") 0 0 repeat; background: rgba(0,0,0,0);}
.webmain .conEvent .inner .l .hover:hover{background: url("../images/space.png") 0 0 repeat; background: rgba(0,0,0,0.34);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#57000000,endColorstr=#57000000);}
.webmain .conEvent .inner .r { float: left; width: 820px; height: 430px; overflow: hidden;}
.webmain .conEvent .inner .r .item { width: 175px; height: 200px; float: left; margin: 0 0 30px 30px; overflow: hidden; position: relative;}
.webmain .conEvent .inner .r .item img { display: block; width: 175px; height: 200px;}
.webmain .conEvent .inner .r .item .txt { position: absolute; left: 0; top: 0; width: 100%; height: 100%;background: url("../images/space.png") 0 0 repeat; background: rgba(0,0,0,0); color: #fff;opacity:0 ;overflow: hidden;filter: alpha(opacity=0) progid:DXImageTransform.Microsoft.gradient(startColorstr=#57000000,endColorstr=#57000000);}
.webmain .conEvent .inner .r .item .txt:hover{background: url("../images/space.png") 0 0 repeat;background: rgba(0,0,0,0.6);opacity: 1;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#57000000,endColorstr=#57000000);}
.webmain .conEvent .inner .r .item .txt p { display: block; width: 155px; line-height: 18px; text-align: center; font-size: 14px; overflow: hidden; padding: 45px 10px 3px 10px;}
.webmain .conEvent .inner .r .item .txt span { display: block; width: 100%; height: 20px; line-height: 20px; text-align: center; font-size: 12px;}
.webmain .conEvent .inner .r .item .txt a { display: block; width: 80px; height: 28px; line-height: 28px; text-align: center; font-size: 12px; border: 1px solid #ffffff; color: #fff; font-size: 12px; bottom: 42px; margin: 42px auto;}
.webmain .conEvent .inner .r .item .txt a:hover { background: rgba(255,255,255,0.2);}

.webmain .conTopStars {}
.webmain .conTopStars .title h2 { width: 358px; background-position: 0 -120px;}
.webmain .conTopStars .inner{height: 845px;}
.webmain .conTopStars .inner .group { width: 399px; float: left; border-left: 1px solid #dfdfdf;}
.webmain .conTopStars .inner .group .tools h2 { font-size: 18px; line-height: 22px; height: 22px; overflow: hidden; display: block; margin: 0 40px 20px 20px; float: left;}
.webmain .conTopStars .inner .group .tools h2 span { display: inline-block; width: 3px; height: 17px; background: #7865f0; position: relative; margin-right: 4px; top: 2px;}
.webmain .conTopStars .inner .group .tools .select { height: 26px; float: left; position: relative; top: -1px;}
.webmain .conTopStars .inner .group .tools .select a { display: block; height: 26px; line-height: 26px; float: left; margin-right: 5px; font-size: 16px; padding: 0 8px;}
.webmain .conTopStars .inner .group .tools .select a.c { color: #fff; background: #000;}
.webmain .conTopStars .inner .group .item { height: 80px; overflow: hidden; padding-left: 65px;}
.webmain .conTopStars .inner .group .item .head { float: left; width: 60px; height: 60px; overflow: hidden; padding: 10px; margin-right: 5px; display: block; position: relative;}
.webmain .conTopStars .inner .group .item .head span { position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 2; background: url(../images/mask_index_starhead.png);}
.webmain .conTopStars .inner .group .item .head img { display: block; width: 60px; height: 60px;}
.webmain .conTopStars .inner .group .item .head:hover img { opacity: 0.7;filter: alpha(opacity=70)}
.webmain .conTopStars .inner .group .item .info { float: left; height: 36px; width: 190px; padding: 22px 0;}
.webmain .conTopStars .inner .group .item .info h6 { font-size: 16px; height: 18px; line-height: 18px; color: #000;}
.webmain .conTopStars .inner .group .item .info span { font-size: 12px; height: 18px; line-height: 18px; color: #9c9c9c;}
.webmain .conTopStars .inner .group .item .status { width: 59px; height: 20px; padding: 30px 0; float: left; overflow: hidden;}
.webmain .conTopStars .inner .group .item .status sup { width: 44px; height: 20px; background: url(../images/icon_topstars_status.gif) 0 0 no-repeat; display: block; line-height: 20px; padding-left: 14px; color: #616161; font-size: 11px;}
.webmain .conTopStars .inner .group .item .status sub { width: 44px; height: 20px; background: url(../images/icon_topstars_status.gif) 0 -20px no-repeat; display: block; line-height: 20px; padding-left: 14px; color: #616161; font-size: 11px;}
.webmain .conTopStars .inner .group .item .status span { width: 14px; height: 20px; background: url(../images/icon_topstars_status.gif) 0 -40px no-repeat; display: block;}
.webmain .conTopStars .inner .group .item { background-image: url(../images/number_topstars.gif); background-repeat: no-repeat;}
.webmain .conTopStars .inner .group .top1 { background-position: 20px 0;}
.webmain .conTopStars .inner .group .top2 { background-position: 20px -80px;}
.webmain .conTopStars .inner .group .top3 { background-position: 20px -160px;}
.webmain .conTopStars .inner .group .top4 { background-position: 20px -240px;}
.webmain .conTopStars .inner .group .top5 { background-position: 20px -320px;}
.webmain .conTopStars .inner .group .top6 { background-position: 20px -400px;}
.webmain .conTopStars .inner .group .top7 { background-position: 20px -480px;}
.webmain .conTopStars .inner .group .top8 { background-position: 20px -560px;}
.webmain .conTopStars .inner .group .top9 { background-position: 20px -640px;}
.webmain .conTopStars .inner .group .top10 { background-position: 20px -720px;}
.webmain .conTopStars .inner .group1 { border-left: none;}
.webmain .conTopStars .inner .group1 .tools h2 span { background: #f25e5e;}
.webmain .conTopStars .inner .group2 .tools h2 span { background: #27a4f3;}
.webmain .conTopStars .inner .group3 .tools h2 span { background: #7bca35;}
.webmain .conTopStars .list2{display: none}
.webmain .conTopStars .list3{display: none}



.webmain .conStars {}
.webmain .conStars .title h2 { width: 146px; background-position: 0 -180px;}
.webmain .conStars .inner .l { width: 380px; height: 430px; overflow: hidden; float: left; position: relative; display: block;}
.webmain .conStars .inner .l p { position: absolute; left: 0; bottom: 0; width: 100%; height: 55px; background: rgba(0,0,0,0.6); color: #fff; font-size: 18px; line-height: 55px; text-align: center; z-index: 2;}
.webmain .conStars .inner .l img { display: block; width: 380px; height: 430px;}
.webmain .conStars .inner .l .hover { display: none; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.34);}
.webmain .conStars .inner .r { float: left; width: 820px; height: 430px; overflow: hidden;}
.webmain .conStars .inner .r .item { width: 175px; height: 200px; float: left; margin: 0 0 30px 30px; overflow: hidden; position: relative; display: block;}
.webmain .conStars .inner .r .item img { display: block; width: 175px; height: 200px;}
.webmain .conStars .inner .r .item p { position: absolute; left: 0; bottom: 0; width: 100%; height: 36px; line-height: 36px; background: rgba(0,0,0,0.6); color: #fff; font-size: 14px; text-align: center; z-index: 2;}
.webmain .conStars .inner .r .item .hover { display: none; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.34);}

.webmain .conStage {}
.webmain .conStage .title h2 { width: 166px; background-position: 0 -240px;}
.webmain .conStage .inner { width: 1230px; margin-left: -30px;}
.webmain .conStage .inner .item { width: 175px; height: 200px; float: left; margin: 0 0 30px 30px; overflow: hidden; position: relative; display: block;}
.webmain .conStage .inner .item img { display: block; width: 175px; height: 200px;}
.webmain .conStage .inner .item p { position: absolute; left: 0; bottom: 0; width: 100%; height: 36px; line-height: 36px; background: rgba(0,0,0,0.6); color: #fff; font-size: 14px; text-align: center; z-index: 2;}
.webmain .conStage .inner .item .hover { display: none; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.34);}

.webmain .conVideo {}
.webmain .conVideo .title h2 { width: 149px; background-position: 0 -300px;}
.webmain .conVideo .inner .group { float: left; width: 380px; overflow: hidden; margin-left: 30px;}
.webmain .conVideo .inner .group.first { margin-left: 0;}
.webmain .conVideo .inner .group .cover { margin-bottom: 10px; width: 380px; height: 250px; overflow: hidden; position: relative; display: block;}
.webmain .conVideo .inner .group .cover .hover { display: none; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.34);}
.webmain .conVideo .inner .group .cover img { display: block; width: 380px; height: 250px;}
.webmain .conVideo .inner .group .cover .txt { position: absolute; left: 0; bottom: 0; z-index: 3; width: 100%; padding: 12px 10px 10px 10px; background: rgba(0,0,0,0.68); width: 360px; z-index: 2;}
.webmain .conVideo .inner .group .cover .txt h3 { color: #fff; font-size: 14px; line-height: 18px; font-weight: normal;}
.webmain .conVideo .inner .group .cover .txt span { color: #fff; font-size: 12px; line-height: 18px; opacity: 0.7;}
.webmain .conVideo .inner .group ul li { display: block; line-height: 20px; height: 20px; overflow: hidden; position: relative; padding-right: 100px; padding: 5px 0;}
.webmain .conVideo .inner .group ul li a { display: inline-block; line-height: 20px;}
.webmain .conVideo .inner .group ul li span { display: block; height: 20px; line-height: 20px; overflow: hidden; position: absolute; right: 0; top: 5px; color: #c1c1c1; font-size: 12px;}

.webmain .conYoulike { margin-bottom: 0;}
.webmain .conYoulike .title h2 { width: 166px; background-position: 0 -360px;}
.webmain .conYoulike .inner .l { width: 380px; height: 310px; overflow: hidden; float: left; position: relative; display: block;}
.webmain .conYoulike .inner .l .hover { display: none; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.34);}
.webmain .conYoulike .inner .l img { display: block; width: 380px; height: 310px;}
.webmain .conYoulike .inner .l .txt { position: absolute; left: 0; bottom: 0; z-index: 3; width: 100%; padding: 12px 10px 10px 10px; background: rgba(0,0,0,0.6); width: 360px; z-index: 2;}
.webmain .conYoulike .inner .l .txt h3 { color: #fff; font-size: 14px; line-height: 18px; font-weight: normal;}
.webmain .conYoulike .inner .r { float: left; width: 820px; height: 310px; overflow: hidden;}
.webmain .conYoulike .inner .r .item { width: 175px; height: 140px; float: left; margin: 0 0 30px 30px; overflow: hidden; position: relative;}
.webmain .conYoulike .inner .r .item img { display: block; width: 175px; height: 140px;}
.webmain .conYoulike .inner .r .item p { position: absolute; left: 0; bottom: 0; width: 155px; height: 36px; line-height: 36px; background: rgba(0,0,0,0.6); color: #fff; font-size: 14px; padding: 0 10px; z-index: 2;}
.webmain .conYoulike .inner .r .item .hover { display: none; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.34);}


