@charset "utf-8";

.webmain .con { margin-bottom: 45px;}
.webmain .con .title { height: 60px; overflow: hidden; background: url(../images/line_contitle.gif) center center repeat-x; margin-bottom: 15px; position: relative;}
.webmain .con .title a.more { display: block; position: absolute; right: 0; top: 15px; background: url(../images/more_contitle.gif); width: 130px; height: 30px; text-indent: -99em; overflow: hidden;}
.webmain .con .title h2 { display: block; width: 100px; height: 60px; background-image: url(../images/txt_contitle.gif); background-repeat: no-repeat; text-indent: -99em; overflow: hidden; float: left;}
.webmain .con .title ul { float: left; height: 26px; background: #fff; padding: 17px 5px 17px 5px;}
.webmain .con .title ul li { float: left; font-size: 16px; height: 26px; line-height: 26px; overflow: hidden; margin-right: 8px;}
.webmain .con .title ul li a { display: block; width: 100%; height: 26px; line-height: 26px; cursor: pointer; padding: 0 8px;}
.webmain .con .title ul li.c a { background: #000; color: #fff;}

/*导航栏*/
.navTitle{color: #ccc; position: relative;}
.navTitle a{color: inherit}
.navTitle a:hover{color: red}
.navTitle .loginfo{
    position: absolute;
    right: 0;
    top: 0;
    height: 30px;
    margin-right: 15px;
}
.navTitle .loginfo .face{
    display: inline-block;
    float: left;
    width: 20px;
    height: 20px;
    margin-top: 5px;
    background: url("../images/icon-logface.jpg") 50% no-repeat;
}
.navTitle .loginfo .name{
    display: inline-block;
    float: left;
    height: 20px;
    margin-top: 5px;
    margin-left: 15px;
    line-height: 20px;
    cursor: pointer;
}
.navTitle .loginfo .name::after{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: -15px;
    border-top: 6px solid #000;
    border-right: 6px solid #fff;
    border-left: 6px solid #fff;
}

.tabctrl {
    position: absolute;
    bottom: 15px;
    left: 100px;
    width: 986px;
    height: 62px;
    background: url("../images/space.png") 0 0 repeat;
    background: rgba(0,0,0,0.5);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000);
}

.tabctrl .text{
    display: inline-block;
    float: left;
    margin-top: 5px;
    width: 250px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    line-height: 25px;
    padding-left: 20px;
}

.bannerlist{
    position: relative;
    float: left;
    width: 650px;
    height: 50px;
    margin-top: 6px;
    margin-left: 50px;
    /*list-style: none;*/
}

.bannerlist .inner{
    position: relative;
    margin: 0 auto;
    width: auto;
}
.bannerlist li{
    display: inline-block;
    float: left;
    margin-right: 6px;
    position: relative;
}
.webmain .conTopbanner .bannerlist li img{
    width: 120px;
    height: 47px;
}
.webmain .conTopbanner .bannerlist li.active{
    /*border: 4px solid #b162e4;*/
}
.webmain .conTopbanner .bannerlist .frame{
    display: none;
    position: absolute;
    width: 112px;
    height: 39px;
    top: 0;
    left: 0;
    border: 4px solid #b162e4;
}

.webmain .conTopbanner {
    position: relative;
}
.webmain .conTopbanner { height: 470px; overflow: hidden;}
.webmain .conTopbanner img { display: block; width: 100%; height: 470px;}


.webmain .conFansFocus {}
.webmain .conFansFocus .title h2 { width: 166px; background-position: 0 -780px;}
.webmain .conFansFocus .inner { width: 1230px; margin-left: -30px; height: 530px; overflow: hidden;}
.webmain .conFansFocus .inner .item { width: 380px; height: 250px; overflow: hidden; position: relative; display: block; float: left; margin: 0 0 30px 30px;}
.webmain .conFansFocus .inner .item img { display: block; width: 380px; height: 250px;}
.webmain .conFansFocus .inner .item .txt { position: absolute; left: 0; bottom: 0; z-index: 3; width: 100%; padding: 12px 10px 10px 10px; background: url("../images/space.png") 0 0 repeat;background: rgba(0,0,0,0.7); width: 360px;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2000000,endColorstr=#B2000000);}
.webmain .conFansFocus .inner .item .txt h3 { color: #fff; font-size: 14px; line-height: 18px; font-weight: normal;}
.webmain .conFansFocus .inner .item .txt span { color: #fff; font-size: 12px; line-height: 18px; opacity: 0.7;}
.webmain .conFansFocus .inner .item ul li { display: block; line-height: 20px; height: 20px; overflow: hidden; position: relative; padding-right: 100px; padding: 5px 0;}
.webmain .conFansFocus .inner .item ul li a { display: inline-block; line-height: 20px;}
.webmain .conFansFocus .inner .item ul li span { display: block; height: 20px; line-height: 20px; overflow: hidden; position: absolute; right: 0; top: 5px; color: #c1c1c1; font-size: 12px;}
.webmain .conFansFocus .inner .item .hover { display: block; position: absolute; left: 0; top: 0; width: 100%; height: 100%;background: url("../images/space.png") 0 0 repeat;background: rgba(0,0,0,0);}
.webmain .conFansFocus .inner .item .hover:hover{background: url("../images/space.png") 0 0 repeat;background: rgba(0,0,0,0.34);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#57000000,endColorstr=#57000000);}

.webmain .conStarsNews {}
.webmain .conStarsNews .title h2 { width: 166px; background-position: 0 -660px;}
.webmain .conStarsNews .inner .l { width: 380px; height: 430px; overflow: hidden; float: left; position: relative; display: block;}
.webmain .conStarsNews .inner .l p { position: absolute; left: 0; bottom: 0; width: 100%; height: 55px;background: rgb(0,0,0); background: rgba(0,0,0,0.6); color: #fff; font-size: 18px; line-height: 55px; text-align: center; z-index: 2;filter: alpha(opacity=60)}
.webmain .conStarsNews .inner .l img { display: block; width: 380px; height: 430px;}
.webmain .conStarsNews .inner .l .hover { display: block; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: url("../images/space.png") 0 0 repeat;background: rgba(0,0,0,0);}
.webmain .conStarsNews .inner .l .hover:hover{background: url("../images/space.png") 0 0 repeat;background: rgba(0,0,0,0.34);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#57000000,endColorstr=#57000000);}
.webmain .conStarsNews .inner .r { float: left; width: 820px; height: 430px; overflow: hidden;}
.webmain .conStarsNews .inner .r .item { width: 175px; height: 200px; float: left; margin: 0 0 30px 30px; overflow: hidden; position: relative; display: block;}
.webmain .conStarsNews .inner .r .item img { display: block; width: 175px; height: 200px;}
.webmain .conStarsNews .inner .r .item p { position: absolute; left: 0; bottom: 0; width: 100%; height: 36px; line-height: 36px;background: rgb(0,0,0); background: rgba(0,0,0,0.6); color: #fff; font-size: 14px; text-align: center; z-index: 2;filter: alpha(opacity=60)}
.webmain .conStarsNews .inner .r .item .hover { display: block; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: url("../images/space.png") 0 0 repeat;background: rgba(0,0,0,0);}
.webmain .conStarsNews .inner .r .item .hover:hover{background: url("../images/space.png") 0 0 repeat;background: rgba(0,0,0,0.34);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#57000000,endColorstr=#57000000);}

.webmain .conChinaDream { margin-bottom: 80px;}
.webmain .conChinaDream .title h2 { width: 195px; background-position: 0 -720px;}
.webmain .conChinaDream .inner { width: 1230px; margin-left: -30px;}
.webmain .conChinaDream .inner .item { width: 380px; height: 250px; overflow: hidden; position: relative; display: block; float: left; margin: 0 0 0 30px;}
.webmain .conChinaDream .inner .item img { display: block; width: 380px; height: 250px;}
.webmain .conChinaDream .inner .item .txt { position: absolute; left: 0; bottom: 0; z-index: 3; width: 100%; padding: 12px 10px 10px 10px;background: rgb(0,0,0); background: rgba(0,0,0,0.68); width: 360px;filter: alpha(opacity=68)}
.webmain .conChinaDream .inner .item .txt h3 { color: #fff; font-size: 14px; line-height: 18px; font-weight: normal;}
.webmain .conChinaDream .inner .item .txt span { color: #fff; font-size: 12px; line-height: 18px; opacity: 0.7;}
.webmain .conChinaDream .inner .item .hover { display: block; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: url("../images/space.png") 0 0 repeat;background: rgba(0,0,0,0);}
.webmain .conChinaDream .inner .item .hover:hover{background: url("../images/space.png") 0 0 repeat;background: rgba(0,0,0,0.34);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#57000000,endColorstr=#57000000)}








