<extend name="Header/header"/>
<block name='header'>
<!DOCTYPE HTML>
<!--[if lt IE 7 ]><html class="ie6 ieOld"><![endif]-->
<!--[if IE 7 ]><html class="ie7 ieOld"><![endif]-->
<!--[if IE 8 ]><html class="ie8 ieOld"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html><!--<![endif]-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>中演网管理平台</title>
<meta name="Keywords" content="">
<meta name="Description" content="">
<link href="__PUBLIC__/statics/style/reset.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/statics/style/base.css" rel="stylesheet" type="text/css" />
<!--每个页面独立的样式文件-->
<style type="text/css">
.table .t1 { text-align: center; width: 80px;}
.table .t2 { text-align: center; width: 100px;}
.table .t2 img { display: block; margin: 0 auto;}
.table .t3 { text-align: center; width: 100px;}
.table .t4 { text-align: center; width: 150px;}
.table .t5 { text-align: center; width: 100px;}
.table .t5 p { text-align: center; color: #41a82c;}
.table .t5 p.cease { color: #ff6363;}
.table .t6 { text-align: center;}
.table .t7 { text-align: center; width: 120px;}
</style>
</head>

<body>
</block>
<block name="div">
	<!--container-->
	<div class="webContainer clearFix" id="webContainer">
</block>
<block name="content">
  
  <!--main-->
		<div class="webMain">
			<div class="mainHeader">
				<h1>明日之声管理</h1>
			</div>
			<div class="mainBody">
				<!--摘要提示等-->
				<!--表单-->
				<div class="form">
					<div class="formHeader">
						<h1>明日之声详情</h1>
					</div>
					<form action="{:U('Futurestar/add')}" method="post" enctype="multipart/form-data" id="J_Form">
						<fieldset>
							<div class="l">
								<h6>标题</h6>
								<div class="i"><input type="text" id="title" name="title" class="input" value="{$list.title}"/></div>
							</div>
							<div class="l">
								<h6>类型</h6>
								<div class="i" id="radioClick">
									<input type="radio" name="type" value="1" data-val="直播课"  data-css="r1"  />
									<input type="radio" name="type" value="2" data-val="录播课"  data-css="r1"  />
								</div>
							</div>
							<div class="l">
								<h6>摘要</h6>
								<div class="i"><textarea class="input" name="digest"><if condition="($list.digest neq '')">{$data.digest}<else/></if></textarea></div>
							</div>

							<div class="l">
								<h6>视频地址</h6>
								<div class="i"><input type="text" id="href" name="href" class="input" value="{$list.href}"/></div>
							</div>

							<div class="l">
								<h6>封面</h6>
								<div class="i">
				<input type="text" class="js_imgupload" value="{$list.img}" id="imgurl2" cut="true" width="277" height="182" name="img"/>
								</div>
							</div>
							<div class="l">
								<h6>&nbsp;</h6>
								<div class="i" id="setTop">
									<input type="radio" name="top" value="0" data-val="普通" data-css="r1"  checked="checked" />
									<input type="radio" name="top" value="1" data-val="推荐" data-css="r1" <if condition="($list.top eq 1)">checked="checked"</if> />
								</div>
							</div>
							<div class="l" id="topYes" <if condition="($list.top neq 1)">style="display:none"</if> >
								<h6>推荐封面大图</h6>
								<div class="i">
								<input type="text" value="{$list.topimg}" class="js_imgupload" id="imgurl2" cut="true" width="380" height="250" name="topimg"/>
								</div>
							</div>
						</fieldset>
						<div class="btnCon btnCon2">
							<input type="hidden" name="id" class="btnA" value="{$list.id}" />
							<input type="submit" class="btnA" name="submit" value="提交" value="submit" />
							<a href="{:U('Futurestar/index')}" class = "btnA">返回</a>
						</div>
					</form>
					
				</div>

				<!--主提交按钮-->
			</div>
		</div>
		<!--main end-->
</div>
<!--container end-->
<script type="text/javascript" src="__PUBLIC__/stage/js/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/statics/js/swfobject.js"></script>
<script type="text/javascript" src="__PUBLIC__/statics/js/sea.js"></script>
<script type="text/javascript" src="__PUBLIC__/statics/js/sea.css.js"></script>
<!--富文本编辑器-->
	<script type="text/javascript" charset="utf-8" src="__PUBLIC__/stage/js/ueditor/ueditor.config.js"></script>
	<script type="text/javascript" charset="utf-8" src="__PUBLIC__/stage/js/ueditor/ueditor.all.min.js"></script>
	<script type="text/javascript" charset="utf-8" src="__PUBLIC__/stage/js/ueditor/lang/zh-cn/zh-cn.js"></script>
<!--富文本编辑器 end-->
<script type="text/javascript">
    seajs.use("__PUBLIC__/statics/statics/js/form.js");
</script>
<script type="text/javascript" src="__PUBLIC__/sxx.js">
</script>
<script>
	var imgUploadServer = "{:urlencode(U("Upload/upload_image?path=committee"))}";
	var imgUploadFile = '__ROOT__/Uploads';
	var swfUrl = "__ROOT__/Public/stage/swf";
	$("#radioClick").click(function(){
		$("#radioClick input").each(function(){
			if($(this).prop("checked")){
				console.log($(this).prop("value"))
				if($(this).prop("value") == 2){
					$("#starAction").show()
				}else{
					$("#starAction").hide()	
				}
			}
		})
	})
	
	$("#setTop").click(function(){
		$("#setTop input").each(function(){
			if($(this).prop("checked")){
				console.log($(this).prop("value"))
				if($(this).prop("value") == 1){
					$("#topYes").show()
				}else{
					$("#topYes").hide()	
				}
			}
		})
	})
	
	$("#J_Form").submit(function(){
		var title=$("#title").val();
		if(title==''||title==null){
			$.tips.error('标题不能为空');
			return false;
		}
	});
</script>



</body>
</html>

</block>
