<!doctype html>
<!--[if lt IE 7 ]>
<html class="ie6"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie7"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html>
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <title>中演网</title>
  <link href="__PUBLIC__/statics/dist/css/reset.css" rel="stylesheet" type="text/css" />
  <link href="__PUBLIC__/statics/dist/css/common.css" rel="stylesheet" type="text/css" />
  <link href="__PUBLIC__/statics/dist/css/performing/actorinfo.css" rel="stylesheet" type="text/css" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <meta name="Keywords" content="">
  <meta name="Description" content="">
</head>

<body>

  <!--webheader-->
<include file = "Header/nav" />
  <!--webheader end-->

  <!--webmain-->
  <div class="webmain">

    <!-- 登陆栏 -->
     <div class="navTitle">
       <a href="{:U('Index/index')}">首页</a> > <a href="{:U('Performing/index')}">演艺库</a> > <a href="{:U('Performing/index')}">全部演员</a>
       <include file = "Header/login" />
     </div>

    <div class="topcon clearFix">
      <div class="leftsection">
        <h3>{$actorsval.name}</h3>
        <span>{:html_entity_decode($actorsval['about'])}</span>
        <ul>
        <if condition = "$actorsval['birthday'] neq '' ">
          <li><span class="title">出&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;生</span><span class="des">{$actorsval.birthday} {$actorsval.address}</span></li>
        </if>
         <if condition = "$actorsval['national'] neq '' ">
          <li><span class="title">国&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;籍</span><span class="des">{$actorsval.national}</span></li>
          </if>
          <li><span class="title">人物信息</span><span class="des"><if condition = "$actorsval.blood eq '' ">未知血<else />{$actorsval.blood}</if>型 | <if condition = "$actorsval.constellation eq '' ">未知星座<else />{$actorsval.constellation}</if> | <if condition = "$actorsval.height eq '' ">未知身高<else />{$actorsval.height}</if>cm | <if condition = "$actorsval.weight eq '' ">未知体重<else />{$actorsval.weight}</if>kg</span></li>
          <if condition = "$actorsval['talent'] neq '' ">
          <li><span class="title">经纪公司</span><span class="des">{$actorsval.talent}</span></li>
          </if>
        </ul>

      </div>
      <div class="rightsection">
        <img src="./Uploads{$actorsval.img}" alt="" />
        <!-- <span>粉丝团人数：5413131</span>
        <a href="#">粉丝团</a> -->
      </div>
    </div>
    <div class="con work">
      <div class="title">
        <h2>代表作品</h2>
      </div>

      <div class="inner">
        <div class="banner">
          <a href="javascrpt:;" class="pre" id="pre"></a>
          <a href="javascrpt:;" class="next" id="next"></a>
          <ul id="ullist">
      <volist name = "production" id = "vo">
            <li>
              <img src="./Uploads{$vo.img}" alt="" />
              <p class="name">{$vo.title}
              </p>
            </li>
        </volist>

          </ul>
        </div>

      </div>

    </div>
    <div class="con newstatus">
      <div class="title">
        <h2>最新动态</h2>
      </div>
      <div class="inner">
      <volist name = "newsval" id = "vo">
        <div class="item clearFix">
          <img src="./Uploads{$vo.imgpath}" alt="" />
          <div class="content">
            <h3><?php echo strlen($vo['title'])>20?mb_substr($vo['title'],0,15,'utf-8').'......':$vo['title'] ?></h3>
            <span><?php echo strlen($vo['digest'])>60?mb_substr($vo['digest'],0,60,'utf-8').'......':$vo['digest'] ?></span>
            <a href="{:U('News/news_details',array('id'=>$vo['id']))}" class="more">[详情]</a>
          </div>
        </div>
      </volist>


      </div>

      <!--  分页-->
      <!-- <div class="pagelist" id="pagelist">
        <a href="javacript:;" class="pre">上一页</a>
        <ul class="num">
          <li class="active">1</li>
        </ul>
        <a href="javacript:;" class="next">下一页</a>
      </div> -->

    </div>
    <div class="con fansactive">
    <if condition = "$empty neq 1">
      <div class="title">
        <h2>推荐活动</h2>
      </div>
      <div class="inner">
        <div class="item">
        <a href = "{:U('Active/active_details',array('id'=>$activeval['id']))}">
            <img src="./Uploads{$activeval.img}" alt="" />
            <div class="text">
             <h3>{$activeval.title}</h3>
                    <span>{$activeval.begin_time|date="m.d",###}-{$activeval.last_time|date="m.d",###}</span>
            </div>
            <sub></sub>
          </a>
        </div>
  </if>
        <div class="intro">
         <a href = "{:U('Active/active_details',array('id'=>$activeval['id']))}">
          <p>
            <?php echo strlen($activeval['content'])>60?mb_substr($activeval['content'],0,58,'utf-8').'...':$activeval['content'] ?>
          </p>
          <span class="num">{$activeval.concern}</span>
          <span class="focus"></span>
          </a>
        </div>
      </div>

    </div>



  </div>
  <!--webmain end-->


  <!--webfooter-->
  <include file="Header/header" />
  <!--webfooter end-->


  <script src="__PUBLIC__/statics/js/jquery-1.8.0.min.js"></script>
  <script src="__PUBLIC__/statics/js/modernizr.com-custom-2.6.1-01.js"></script>
  <script src="__PUBLIC__/statics/js/jquery.easing.js"></script>
  <script src="__PUBLIC__/statics/dist/js/common.js"></script>

  <script src="__PUBLIC__/statics/dist/js/performing/actorinfo.js"></script>

</body>

</html>
