<!doctype html>
<!--[if lt IE 7 ]>
<html class="ie6"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie7"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html>
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <title>中演网</title>
  <link href="__PUBLIC__/statics/dist/css/reset.css" rel="stylesheet" type="text/css" />
  <link href="__PUBLIC__/statics/dist/css/common.css" rel="stylesheet" type="text/css" />
  <link href="__PUBLIC__/statics/dist/css/performing/actorinfo.css" rel="stylesheet" type="text/css" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <meta name="Keywords" content="">
  <meta name="Description" content="">
</head>

<body>

  <!--webheader-->
  <div class="webheader">
    <div class="inner clearFix">
      <a href="index.html" class="logo"></a>

      <div class="nav">
        <ul class="clearFix">
          <li class="first"><a href="{:U('Index/index')}">首页</a></li>
          <li><a href="{:U('News/index')}">资讯</a></li>
          <li><a href="{:U('Active/index')}">活动</a></li>
          <li><a href="{:U('Committee/index')}">演工委之声</a></li>
          <li><a href="{:U('Vote/index')}">中国电视好演员评选</a></li>
          <li><a href="{:U('Rice/index')}">饭团</a></li>
          <li><a href="{:U('Starwars/index')}">星站</a></li>
          <li><a href="{:U('Newstar/index')}">明日之星</a></li>
          <li><a href="{:U('Video/index')}">视频</a></li>
          <li><a href="{:U('Stage/index')}">Stage</a></li>
          <li class="c"><a href="{:U('#/index')}">演艺库</a></li>
        </ul>
      </div>
      <a href="#" class="search"></a>
    </div>
  </div>
  <!--webheader end-->

  <!--webmain-->
  <div class="webmain">

    <div class="topcon">
      <div class="leftsection">
        <h3>李易峰</h3>
        <span>李易峰，中国男演员、歌手、制片人。1987年5月4日出生于四川成都，毕业于四川师范大学电影电视学院。2007年参加《加油！好男儿》出道，同年12月发行首张EP《四叶草》。2009年发行首张个人专辑《小先生》。2010年主演电视剧《幸福一定强》和《幸福最晴天》，获2011年国剧盛典最佳新演员奖。2012年在《真爱谎言》中挑战扮演自闭症患者。2013年凭借电视剧《千金归来》获得乐视盛典最受欢迎男演员奖。2014年7月因电视剧《古剑奇谭》中“百里屠苏”一角而获得广泛</span>
        <ul>
          <li><span class="title">出生年月</span><span class="des">1987年5月4日 四川省成都市</span></li>
          <li><span class="title">国&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;籍</span><span class="des">中华人民共和国</span></li>
          <li><span class="title">人物信息</span><span class="des">A型 | 金牛座 | 181cm | 60kg</span></li>
          <li><span class="title">经纪公司</span><span class="des">欢瑞世纪影视传媒股份有限公司</span></li>
        </ul>

      </div>
      <div class="rightsection">
        <img src="" alt="" />
        <span>粉丝团人数：5413131</span>
        <a href="#">粉丝团</a>
      </div>
    </div>
    <div class="con work">
      <div class="title">
        <h2>代表作品</h2>
      </div>

      <div class="inner">
        <div class="banner">
          <a href="javascrpt:;" class="pre"></a>
          <a href="javascrpt:;" class="next"></a>
          <ul>
            <li>
              <img src="" alt="" />
              <p class="name">xxxx
              </p>
            </li>
            <li>
              <img src="" alt="" />
              <p class="name">xxxx
              </p>
            </li>
            <li>
              <img src="" alt="" />
              <p class="name">xxxx
              </p>
            </li>
            <li>
              <img src="" alt="" />
              <p class="name">xxxx
              </p>
            </li>
            <li>
              <img src="" alt="" />
              <p class="name">xx
              </p>
            </li>
            <li>
              <img src="" alt="" />
              <p class="name">1111
              </p>
            </li>
            <li>
              <img src="" alt="" />
              <p class="name">33333
              </p>
            </li>
          </ul>
        </div>

      </div>

    </div>
    <div class="con newstatus">
      <div class="title">
        <h2>最新动态</h2>
      </div>
      <div class="inner">
        <div class="item clearFix">
          <img src="" alt="" />
          <div class="content">
            <h3>xxxxxx</h3>
            <span>xxxxxxxxxxxxxxxxxxxxxxxxxxxa dadadadada dadada daadada adadada dadadada  dadadadada dadadada dadadad dadadadad</span>
            <a href="#" class="more">[详情]</a>
          </div>
        </div>
        <div class="item clearFix">
          <img src="" alt="" />
          <div class="content">
            <h3>xxxxxx</h3>
            <span>xxxxxxxxxxxxxxxxxxxxxxxxxxxa dadadadada dadada daadada adadada dadadada  dadadadada dadadada dadadad dadadadad</span>
            <a href="#" class="more">[详情]</a>
          </div>
        </div>
        <div class="item clearFix">
          <img src="" alt="" />
          <div class="content">
            <h3>xxxxxx</h3>
            <span>xxxxxxxxxxxxxxxxxxxxxxxxxxxa dadadadada dadada daadada adadada dadadada  dadadadada dadadada dadadad dadadadad</span>
            <a href="#" class="more">[详情]</a>
          </div>
        </div>
        <div class="item clearFix">
          <img src="" alt="" />
          <div class="content">
            <h3>xxxxxx</h3>
            <span>xxxxxxxxxxxxxxxxxxxxxxxxxxxa dadadadada adadada dadada daadada adadada dadadada  dadadadada dadadada dadadad dadadadad</span>
            <a href="#" class="more">[详情]</a>
          </div>
        </div>
        <div class="item clearFix">
          <img src="" alt="" />
          <div class="content">
            <h3>xxxxxx</h3>
            <span>xxxxxxxxxxxxxxxxxxxxxxxxxxxa dadadadada dadada daadada adadada dadadada  dadadadada dadadada dadadad dadadadad</span>
            <a href="#" class="more">[详情]</a>
          </div>
        </div>

      </div>

      <!--  分页-->
      <div class="pagelist" id="pagelist">
        <a href="javacript:;" class="pre">上一页</a>
        <ul class="num">
          <li class="active">1</li>
          <li>2</li>
          <li>3</li>
        </ul>
        <a href="javacript:;" class="next">下一页</a>
      </div>

    </div>
    <div class="con fansactive">
      <div class="title">
        <h2>粉丝活动</h2>
      </div>
      <div class="inner">
        <div class="item">
            <img src="#" alt="" />
            <div class="text">
              <h1>xxx</h1>
              <h3>xxxx</h3>
            </div>
            <sub></sub>
        </div>
        <div class="intro">
          <p>
            zczczc xcaczczcz czczczcz czczczcz cczczczcz
          </p>
          <span class="num">1111</span>
          <span class="focus"></span>
        </div>
      </div>

    </div>



  </div>
  <!--webmain end-->


  <!--webfooter-->
  <include file="Header/header" />
  <!--webfooter end-->


  <script src="__PUBLIC__/statics/js/jquery-1.8.0.min.js"></script>
  <script src="__PUBLIC__/statics/js/modernizr.com-custom-2.6.1-01.js"></script>
  <script src="__PUBLIC__/statics/js/jquery.easing.js"></script>

  <script src="__PUBLIC__/statics/dist/js/performing/actorinfo.js"></script>

</body>

</html>
