<!doctype html>
<!--[if lt IE 7 ]>
<html class="ie6"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie7"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html>
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <title>中演网</title>
  <link href="__PUBLIC__/statics/dist/css/reset.css" rel="stylesheet" type="text/css" />
  <link href="__PUBLIC__/statics/dist/css/common.css" rel="stylesheet" type="text/css" />
  <link href="__PUBLIC__/statics/dist/css/performing/actorinfo.css" rel="stylesheet" type="text/css" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <meta name="Keywords" content="">
  <meta name="Description" content="">
</head>

<body>

  <!--webheader-->
  <div class="webheader">
    <div class="inner clearFix">
      <a href="index.html" class="logo"></a>

      <div class="nav">
        <ul class="clearFix">
          <li class="first"><a href="{:U('Index/index')}">首页</a></li>
          <li><a href="{:U('News/index')}">资讯</a></li>
          <li><a href="{:U('Active/index')}">活动</a></li>
          <li><a href="{:U('Committee/index')}">演工委之声</a></li>
          <li><a href="{:U('Vote/index')}">中国电视好演员评选</a></li>
          <li><a href="{:U('Rice/index')}">饭团</a></li>
          <li><a href="{:U('Starwars/index')}">星站</a></li>
          <li><a href="{:U('Newstar/index')}">明日之星</a></li>
          <li><a href="{:U('Video/index')}">视频</a></li>
          <li><a href="{:U('Stage/index')}">Stage</a></li>
          <li class="c"><a href="{:U('#/index')}">演艺库</a></li>
        </ul>
      </div>
      <a href="#" class="search"></a>
    </div>
  </div>
  <!--webheader end-->

  <!--webmain-->
  <div class="webmain">

    <div class="topcon">
      <div class="leftsection">
        <h3>{$actorsval.name}</h3>
        <span>{$actorsval.about}</span>
        <ul>
          <li><span class="title">出生年月</span><span class="des">{$actorsval.birthday|date="Y年m月d日",###} {$actorsval.address}</span></li>
          <li><span class="title">国&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;籍</span><span class="des">{$actorsval.national}</span></li>
          <li><span class="title">人物信息</span><span class="des">{$actorsval.blood}型 | {$actorsval.constellation} | {$actorsval.height}cm | {$actorsval.weight}kg</span></li>
          <li><span class="title">经纪公司</span><span class="des">{$actorsval.talent}</span></li>
        </ul>

      </div>
      <div class="rightsection">
        <img src="./Uploads{$actorsval.img}" alt="" />
        <span>粉丝团人数：5413131</span>
        <a href="#">粉丝团</a>
      </div>
    </div>
    <div class="con work">
      <div class="title">
        <h2>代表作品</h2>
      </div>

      <div class="inner">
        <div class="banner">
          <a href="javascrpt:;" class="pre"></a>
          <a href="javascrpt:;" class="next"></a>
          <ul>
      <volist name = "production" id = "vo" empty= "暂未上传代表作">
            <li>
              <img src="./Uploads{$vo.img}" alt="" />
              <p class="name">{$vo.title}
              </p>
            </li>
        </volist>  

          </ul>
        </div>

      </div>

    </div>
    <div class="con newstatus">
      <div class="title">
        <h2>最新动态</h2>
      </div>
      <div class="inner">
      <volist name = "newsval" id = "vo" empty= "暂未上传">
        <div class="item clearFix">
          <img src="{:U('News/news_details',array('id'=>$vo['id']))}" alt="" />
          <div class="content">
            <h3><?php echo strlen($vo['title'])>20?mb_substr($vo['title'],0,15,'utf-8').'......':$vo['title'] ?></h3>
            <span><?php echo strlen($vo['digest'])>60?mb_substr($vo['digest'],0,60,'utf-8').'......':$vo['digest'] ?></span>
            <a href="{:U('News/news_details',array('id'=>$vo['id']))}" class="more">[详情]</a>
          </div>
        </div>
      </volist>
        

      </div>

      <!--  分页-->
      <div class="pagelist" id="pagelist">
        <a href="javacript:;" class="pre">上一页</a>
        <ul class="num">
          <li class="active">1</li>
          <li>2</li>
          <li>3</li>
        </ul>
        <a href="javacript:;" class="next">下一页</a>
      </div>

    </div>
    <div class="con fansactive">
      <div class="title">
        <h2>推荐活动</h2>
      </div>
      <div class="inner">
        <div class="item">
            <img src="./Uploads{$activeval.img}" alt="" />
            <div class="text">
             <h3>{$activeval.title}</h3>
                    <span>{$activeval.begin_time|date="m.d",###}-{$activeval.last_time|date="m.d",###}</span>
            </div>
            <sub></sub>
        </div>
        <div class="intro">
          <p>
            <?php echo strlen($activeval['content'])>60?mb_substr($activeval['content'],0,58,'utf-8').'...':$activeval['content'] ?>
          </p>
          <span class="num">{$activeval.concern}</span>
          <span class="focus"></span>
        </div>
      </div>

    </div>



  </div>
  <!--webmain end-->


  <!--webfooter-->
  <include file="Header/header" />
  <!--webfooter end-->


  <script src="__PUBLIC__/statics/js/jquery-1.8.0.min.js"></script>
  <script src="__PUBLIC__/statics/js/modernizr.com-custom-2.6.1-01.js"></script>
  <script src="__PUBLIC__/statics/js/jquery.easing.js"></script>

  <script src="__PUBLIC__/statics/dist/js/performing/actorinfo.js"></script>

</body>

</html>
