<!doctype html>
<!--[if lt IE 7 ]>
<html class="ie6"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie7"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>中演网</title>
    <link href="__PUBLIC__/statics/dist/css/reset.css" rel="stylesheet" type="text/css"/>
    <link href="__PUBLIC__/statics/dist/css/common.css" rel="stylesheet" type="text/css"/>
    <link href="__PUBLIC__/statics/dist/css/performing/performing.css" rel="stylesheet" type="text/css"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <meta name="Keywords" content="">
    <meta name="Description" content="">
</head>

<body>

<!--webheader-->
<div class="webheader">
    <div class="inner clearFix">
        <a href="index.html" class="logo"></a>

        <div class="nav">
            <ul class="clearFix">
                <li class="first"><a href="{:U('Index/index')}">首页</a></li>
                <li><a href="{:U('News/index')}">资讯</a></li>
                <li><a href="{:U('Active/index')}">活动</a></li>
                <li><a href="{:U('Committee/index')}">演工委之声</a></li>
                <li><a href="{:U('Vote/index')}">中国电视好演员评选</a></li>
                <li><a href="{:U('Rice/index')}">饭团</a></li>
                <li><a href="{:U('Starwars/index')}">星站</a></li>
                <li><a href="{:U('Newstar/index')}">明日之星</a></li>
                <li><a href="{:U('Video/index')}">视频</a></li>
                <li><a href="{:U('Stage/index')}">Stage</a></li>
                <li class="c"><a href="{:U('#/index')}">演艺库</a></li>
            </ul>
        </div>
        <a href="#" class="search"></a>
    </div>
</div>
<!--webheader end-->

<!--webmain-->
<div class="webmain">


  <div class="navTitle">
      <a href="#">首页</a> > <a href="#">演艺库</a> > <a href="#">全部演员</a><!--
       --><div class="loginfo"><span class="face"></span><span class="name">用户名</span></div>
  </div>

  <div class="con allstars">
    <div class="title">
        <h2>演艺人</h2>
    </div>
    <div class="toptool">
      <input type="button" name="name" value="上传你的资料" class="upload">
    </div>
    <div class="allstars-main">
      <ul class="sorting" id="sorting">
          <li class="active" data-group="0">全部</li>
          <li data-group="1">男演员</li>
          <li data-group="2">女演员</li>
          <li data-group="3">内地演员</li>
          <li data-group="4">港台演员</li>
          <li data-group="5">演艺新人</li>
          <li data-group="6">热门推荐</li>
      </ul>


      <div class="list">
        <div class="search clearFix">
          <ul>
            <li><a href="#"></a>A</li>
            <li><a href="#"></a>B</li>
            <li><a href="#"></a>C</li>
            <li><a href="#"></a>D</li>
            <li><a href="#"></a>E</li>
            <li><a href="#"></a>F</li>
            <li><a href="#"></a>G</li>
            <li><a href="#"></a>H</li>
            <li><a href="#"></a>I</li>
            <li><a href="#"></a>J</li>
            <li><a href="#"></a>K</li>
            <li><a href="#"></a>L</li>
            <li><a href="#"></a>M</li>
            <li><a href="#"></a>N</li>
            <li><a href="#"></a>O</li>
            <li><a href="#"></a>P</li>
            <li><a href="#"></a>Q</li>
            <li><a href="#"></a>R</li>
            <li><a href="#"></a>S</li>
            <li><a href="#"></a>T</li>
            <li><a href="#"></a>U</li>
            <li><a href="#"></a>V</li>
            <li><a href="#"></a>W</li>
            <li><a href="#"></a>X</li>
            <li><a href="#"></a>Y</li>
            <li><a href="#"></a>Z</li>
          </ul>
        </div>
        <ul class="alphabet">
          <li class="alphabet-list">
            <div class="title">
              <h3>A</h3>
            </div>
            <div class="inner clearFix">
              <div class="item">
                <img src="__PUBLIC__/statics/images/p_starwars_1.jpg" alt="" />
                <p>angularbaby</p>
                <sub></sub>
              </div>
              <div class="item">
                <img src="__PUBLIC__/statics/images/p_starwars_1.jpg" alt="" />
                <p>angularbaby</p>
                <sub></sub>
              </div>
              <div class="item">
                <img src="__PUBLIC__/statics/images/p_starwars_1.jpg" alt="" />
                <p>angularbaby</p>
                <sub></sub>
              </div>
              <div class="item">
                <img src="__PUBLIC__/statics/images/p_starwars_1.jpg" alt="" />
                <p>angularbaby</p>
                <sub></sub>
              </div>
              <div class="item">
                <img src="__PUBLIC__/statics/images/p_starwars_1.jpg" alt="" />
                <p>angularbaby</p>
                <sub></sub>
              </div>
              <div class="item">
                <img src="__PUBLIC__/statics/images/p_starwars_1.jpg" alt="" />
                <p>angularbaby</p>
                <sub></sub>
              </div>
              <div class="item">
                <img src="__PUBLIC__/statics/images/p_starwars_1.jpg" alt="" />
                <p>angularbaby</p>
                <sub></sub>
              </div>
              <div class="item">
                <img src="__PUBLIC__/statics/images/p_starwars_1.jpg" alt="" />
                <p>angularbaby</p>
                <sub></sub>
              </div>
              <div class="item">
                <img src="__PUBLIC__/statics/images/p_starwars_1.jpg" alt="" />
                <p>angularbaby</p>
                <sub></sub>
              </div>
            </div>
          </li>
          <li class="alphabet-list">
              <div class="title">
                <h3>B</h3>
              </div>
              <div class="inner clearFix">
                <div class="item">
                  <img src="__PUBLIC__/statics/images/p_starwars_1.jpg" alt="" />
                  <p>angularbaby</p>
                  <sub></sub>
                </div>
                <div class="item">
                  <img src="__PUBLIC__/statics/images/p_starwars_1.jpg" alt="" />
                  <p>angularbaby</p>
                  <sub></sub>
                </div>
                <div class="item">
                  <img src="__PUBLIC__/statics/images/p_starwars_1.jpg" alt="" />
                  <p>angularbaby</p>
                  <sub></sub>
                </div>
                <div class="item">
                  <img src="__PUBLIC__/statics/images/p_starwars_1.jpg" alt="" />
                  <p>angularbaby</p>
                  <sub></sub>
                </div>
                <div class="item">
                  <img src="__PUBLIC__/statics/images/p_starwars_1.jpg" alt="" />
                  <p>angularbaby</p>
                  <sub></sub>
                </div>
                <div class="item">
                  <img src="__PUBLIC__/statics/images/p_starwars_1.jpg" alt="" />
                  <p>angularbaby</p>
                  <sub></sub>
                </div>
                <div class="item">
                  <img src="__PUBLIC__/statics/images/p_starwars_1.jpg" alt="" />
                  <p>angularbaby</p>
                  <sub></sub>
                </div>
                <div class="item">
                  <img src="__PUBLIC__/statics/images/p_starwars_1.jpg" alt="" />
                  <p>angularbaby</p>
                  <sub></sub>
                </div>
                <div class="item">
                  <img src="__PUBLIC__/statics/images/p_starwars_1.jpg" alt="" />
                  <p>angularbaby</p>
                  <sub></sub>
                </div>
              </div>
            </li>

        </ul>

      </div>

    </div>


  </div>

  </div>
  <!--webmain end-->


<!--webfooter-->
<div class="webfooter">
    <div class="inner clearFix">
        <div class="logo"></div>
        <div class="info">
            <ul class="clearFix">
                <li class="f"><a href="#">关于我们</a></li>
                <li><a href="#">加入我们</a></li>
                <li><a href="#">联系我们</a></li>
            </ul>
            <p>{$records}</p>
        </div>
        <div class="qr">
            <p>扫描二维码</p>
            <span>关注官方微信</span>
        </div>
    </div>
</div>
<!--webfooter end-->


<script src="__PUBLIC__/statics/js/jquery-1.8.0.min.js"></script>
<script src="__PUBLIC__/statics/js/modernizr.com-custom-2.6.1-01.js"></script>
<script src="__PUBLIC__/statics/js/jquery.easing.js"></script>

<script src="__PUBLIC__/statics/dist/js/performing/performing.js"></script>

</body>
</html>
