<!doctype html>
<!--[if lt IE 7 ]>
<html class="ie6"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie7"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>中演网</title>
    <link href="__PUBLIC__/statics/dist/css/reset.css" rel="stylesheet" type="text/css"/>
    <link href="__PUBLIC__/statics/dist/css/common.css" rel="stylesheet" type="text/css"/>
    <link href="__PUBLIC__/statics/dist/css/performing/newacter.css" rel="stylesheet" type="text/css"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <meta name="Keywords" content="">
    <meta name="Description" content="">
</head>

<body>

<!--webheader-->
<div class="webheader">
    <div class="inner clearFix">
        <a href="index.html" class="logo"></a>

        <div class="nav">
            <ul class="clearFix">
                <li class="first"><a href="{:U('Index/index')}">首页</a></li>
                <li><a href="{:U('News/index')}">资讯</a></li>
                <li><a href="{:U('Active/index')}">活动</a></li>
                <li><a href="{:U('Committee/index')}">演工委之声</a></li>
                <li><a href="{:U('Vote/index')}">中国电视好演员评选</a></li>
                <li><a href="{:U('Rice/index')}">饭团</a></li>
                <li><a href="{:U('Starwars/index')}">星站</a></li>
                <li><a href="{:U('Newstar/index')}">明日之星</a></li>
                <li><a href="{:U('Video/index')}">视频</a></li>
                <li><a href="{:U('Stage/index')}">Stage</a></li>
                <li class="c"><a href="{:U('#/index')}">演艺库</a></li>
            </ul>
        </div>
        <a href="#" class="search"></a>
    </div>
</div>
<!--webheader end-->

<!--webmain-->
<div class="webmain">


  <div class="navTitle">
      <a href="#">首页</a> > <a href="#">演艺库</a> > <a href="#">全部演员</a><!--
       --><div class="loginfo"><span class="face"></span><span class="name">用户名</span></div>
  </div>

  <div class="con allstars">
    <div class="title">
        <h2>演艺人</h2>
    </div>
    <div class="inner">
      <form class="form" action="index.html" method="post">
        <fieldset>
          <legend>基本信息</legend>
          <ul class="info">
            <li>
              <label for="name">姓名：</label>
              <div class="">
                <input type="text" name="name" value="">
              </div>
            </li>
            <li>
              <label for="sex">性别：</label>
              <div class="">
                <input type="radio" name="sex" value="male">
                <input type="radio" name="sex" value="female">
              </div>
            </li>
            <li class="brief">
              <label for="name">简介：</label>
              <div class="">
                <textarea name="name" rows="8" cols="40"></textarea>
              </div>
            </li>
            <li>
              <label for="">出生地：</label>
              <div class="">
                <select class="" name="provice">
                  <option>上海</option>
                  <option>北京</option>

                </select>
                <select class="" name="city">
                  <option>黄埔区</option>
                  <option>静安区</option>

                </select>
              </div>
            </li>
            <li>
              <label for="">生日：</label>
              <div class="">
                <select class="" name="year">
                  <option>2015</option>
                  <option>2014</option>

                </select>
                <select class="" name="month">
                  <option>1</option>
                  <option>2</option>

                </select>
                <select class="" name="day">
                  <option>1</option>
                  <option>2</option>

                </select>
              </div>
            </li>
            <li>
              <label for="">血型：</label>
              <div class="">
                <select class="" name="provice">
                  <option>A型</option>
                  <option>B型</option>
                  <option>AB型</option>
                  <option>O型</option>
                </select>
              </div>
            </li>
            <li>
              <label for="name">星座：</label>
              <div class="">
                <select class="" name="provice">
                  <option>白羊座</option>
                  <option>金牛座</option>
                </select>
              </div>
            </li>
            <li>
              <label for="name">身高：</label>
              <div class="">
                <input class="w120" type="text" name="name" value="">
              </div>
            </li>
            <li>
              <label for="name">体重：</label>
              <div class="">
                <input class="w120" type="text" name="name" value="">
              </div>
            </li>
            <li>
              <label for="name">经济公司：</label>
              <div class="">
                <input type="text" name="name" value="">
              </div>
            </li>
            <li>
              <label for="name">个人照片</label>
              <div class="">
                <input type="file" name="name" value="">
              </div>
            </li>

          </ul>
          <legend>代表作品</legend>
          <ul class="worklist">
            <li>
              <label for="name">标题1：</label>
              <div class="">
                <input type="text" name="name" value="">
              </div>
            </li>
            <li>
              <label for="name">作品1：</label>
              <div class="">
                <input type="text" name="name" value="">
              </div>
            </li>
          </ul>
          <ul class="worklist">
            <li>
              <label for="name">标题1：</label>
              <div class="">
                <input type="text" name="name" value="">
              </div>
            </li>
            <li>
              <label for="name">作品1：</label>
              <div class="">
                <input type="text" name="name" value="">
              </div>
            </li>
          </ul>

        </fieldset>
        <a href="javascript:;">继续添加</a>
      </form>
    </div>

  </div>

  </div>
  <!--webmain end-->


<!--webfooter-->
<include file="Header/header" />
<!--webfooter end-->


<script src="__PUBLIC__/statics/js/jquery-1.8.0.min.js"></script>
<script src="__PUBLIC__/statics/js/modernizr.com-custom-2.6.1-01.js"></script>
<script src="__PUBLIC__/statics/js/jquery.easing.js"></script>

<script src="__PUBLIC__/statics/dist/js/performing/newacter.js"></script>

</body>
</html>
