<!doctype html>
<!--[if lt IE 7 ]>
<html class="ie6"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie7"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>中演网</title>
    <link href="__PUBLIC__/statics/dist/css/reset.css" rel="stylesheet" type="text/css"/>
    <link href="__PUBLIC__/statics/dist/css/common.css" rel="stylesheet" type="text/css"/>
    <link href="__PUBLIC__/statics/dist/css/performing/newacter.css" rel="stylesheet" type="text/css"/>
    <link href="__PUBLIC__/statics/dist/css/performing/newacter.css" rel="stylesheet" type="text/css"/>
    <link href="__PUBLIC__/statics/js/image-cropper/dist/cropper.css" rel="stylesheet" type="text/css"/>
    <link href="__PUBLIC__/statics/js/image-cropper/demo/cropper-demo.css" rel="stylesheet" type="text/css"/>

    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <meta name="Keywords" content="">
    <meta name="Description" content="">
</head>

<body>

<!--webheader-->
<div class="webheader">
    <div class="inner clearFix">
        <a href="index.html" class="logo"></a>

        <div class="nav">
            <ul class="clearFix">
                <li class="first"><a href="{:U('Index/index')}">首页</a></li>
                <li><a href="{:U('News/index')}">资讯</a></li>
                <li><a href="{:U('Active/index')}">活动</a></li>
                <li><a href="{:U('Committee/index')}">演工委之声</a></li>
                <li><a href="{:U('Vote/index')}">中国电视好演员评选</a></li>
                <li><a href="{:U('Rice/index')}">饭团</a></li>
                <li><a href="{:U('Starwars/index')}">星站</a></li>
                <li><a href="{:U('Newstar/index')}">明日之星</a></li>
                <li><a href="{:U('Video/index')}">视频</a></li>
                <li><a href="{:U('Stage/index')}">Stage</a></li>
                <li class="c"><a href="{:U('Performing/index')}">演艺库</a></li>
            </ul>
        </div>
        <a href="#" class="search"></a>
    </div>
</div>
<!--webheader end-->

<!--webmain-->
<div class="webmain">


  <div class="navTitle">
      <a href="#">首页</a> > <a href="#">演艺库</a> > <a href="#">全部演员</a><!--
       --><div class="loginfo"><span class="face"></span><span class="name">用户名</span></div>
  </div>

  <div class="con allstars">
    <div class="title">
        <h2>演艺人</h2>
    </div>
    <div class="inner">
      <form class="form" action="{:U('Performing/index')}" method="post">
        <fieldset id="fiedset">
          <legend>基本信息</legend>
          <ul class="info">
            <li>
              <label for="name">姓名：</label>
              <div class="">
                <input type="text" name="name" value="">
              </div>
            </li>
            <li>
              <label for="sex">性别：</label>
              <div class="formatradio">
                <input type="radio" name="sex" value="male"><span>男</span>
                <input type="radio" name="sex" value="female"><span>女</span>
              </div>
            </li>
            <li class="brief">
              <label for="name">简介：</label>
              <div class="">
                <textarea name="name"></textarea>
              </div>
            </li>
            <li>
              <label for="">出生地：</label>
              <div class="">
                <select class="" name="provice">
                  <option>上海</option>
                  <option>北京</option>

                </select>
                <select class="" name="city">
                  <option>黄埔区</option>
                  <option>静安区</option>

                </select>
              </div>
            </li>
            <li>
              <label for="">生日：</label>
              <div class="">
                <select class="" name="year">
                  <option>2015</option>
                  <option>2014</option>
                  <option>2013</option>
                  <option>2012</option>
                  <option>2011</option>
                  <option>2010</option>
                  <option>2009</option>
                  <option>2008</option>
                  <option>2007</option>
                  <option>2006</option>
                  <option>2005</option>
                  <option>2004</option>
                  <option>2003</option>
                  <option>2002</option>
                  <option>2001</option>
                  <option>2000</option>
                  <option>1999</option>
                  <option>1998</option>
                  <option>1997</option>
                  <option>1996</option>
                  <option>1995</option>
                  <option>1994</option>
                  <option>1993</option>
                  <option>1992</option>
                  <option>1991</option>
                  <option>1990</option>
                  <option>1989</option>
                  <option>1988</option>
                  <option>1987</option>
                  <option>1986</option>
                  <option>1985</option>
                  <option>1984</option>
                  <option>1983</option>
                  <option>1982</option>
                  <option>1981</option>
                  <option>1980</option>
                  <option>1979</option>
                  <option>1978</option>
                  <option>1977</option>
                  <option>1976</option>
                  <option>1975</option>
                  <option>1974</option>
                  <option>1973</option>
                  <option>1972</option>
                  <option>1971</option>
                  <option>1970</option>
                  <option>1969</option>
                  <option>1968</option>
                  <option>1967</option>
                  <option>1966</option>
                  <option>1965</option>
                  <option>1964</option>
                  <option>1963</option>
                  <option>1962</option>
                  <option>1961</option>
                  <option>1960</option>
                  <option>1959</option>
                  <option>1958</option>
                  <option>1957</option>
                  <option>1956</option>
                  <option>1955</option>
                  <option>1954</option>
                  <option>1953</option>
                  <option>1952</option>
                  <option>1951</option>
                  <option>1950</option>


                </select>
                <select class="" name="month">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6</option>
                  <option>7</option>
                  <option>8</option>
                  <option>9</option>
                  <option>10</option>
                  <option>11</option>
                  <option>12</option>

                </select>
                <select class="" name="day">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6</option>
                  <option>7</option>
                  <option>8</option>
                  <option>9</option>
                  <option>10</option>
                  <option>11</option>
                  <option>12</option>
                  <option>13</option>
                  <option>14</option>
                  <option>15</option>
                  <option>16</option>
                  <option>17</option>
                  <option>18</option>
                  <option>19</option>
                  <option>20</option>
                  <option>21</option>
                  <option>22</option>
                  <option>23</option>
                  <option>24</option>
                  <option>25</option>
                  <option>26</option>
                  <option>27</option>
                  <option>28</option>
                  <option>29</option>
                  <option>30</option>
                  <option>31</option>

                </select>
              </div>
            </li>
            <li>
              <label for="">血型：</label>
              <div class="">
                <select class="" name="provice">
                  <option>A型</option>
                  <option>B型</option>
                  <option>AB型</option>
                  <option>O型</option>
                </select>
              </div>
            </li>
            <li>
              <label for="name">星座：</label>
              <div class="">
                <select class="" name="provice">
                  <option>白羊座</option>
                  <option>金牛座</option>
                  <option>双子座</option>
                  <option>巨蟹座</option>
                  <option>狮子座</option>
                  <option>处女座</option>
                  <option>天秤座</option>
                  <option>天蝎座</option>
                  <option>射手座</option>
                  <option>摩羯座</option>
                  <option>水瓶座</option>
                  <option>双鱼座</option>
                </select>
              </div>
            </li>
            <li>
              <label for="name">身高：</label>
              <div class="">
                <input class="w120" type="text" name="name" value="">&nbsp;cm
              </div>
            </li>
            <li>
              <label for="name">体重：</label>
              <div class="">
                <input class="w120" type="text" name="name" value="">&nbsp;kg
              </div>
            </li>
            <li>
              <label for="name">经济公司：</label>
              <div class="">
                <input type="text" name="name" value="">
              </div>
            </li>
            <li class="norest">
              <label for="name">个人照片</label>
              <div class="uploadpic">
                <p>
                  <button class="btn-upload btn-lg">选择图片</button>
                  <input type="file" name="avatar" id="mypic"/>
                  支持格式: JPG, PNG
                </p>
                <!--  原图剪裁-->
                <div class="preview-container">

                  <!--  原图-->
                  <div class="image-container target" id="mypic-target">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class="noavatar" />
                  </div>

                <!--  大图预览-->
                <div class="large-wrapper">
                  <div class="image-container large" id="mypic-large">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class="noavatar" />
                  </div>
                </div>
                <!-- <input type="hidden" name="x" value="{{cropContext.left}}"/>
                <input type="hidden" name="y" value="{{cropContext.top}}"/>
                <input type="hidden" name="w" value="{{cropContext.width}}"/>
                <input type="hidden" name="h" value="{{cropContext.height}}"/> -->

              </div>
            </div>
            </li>

          </ul>
          <legend>代表作品</legend>
          <ul class="worklist">
            <a href="javascript:;" class="close">
              X
            </a>
            <li>
              <label for="name">标题1：</label>
              <div class="">
                <input type="text" name="name" value="">
              </div>
            </li>
            <!-- <li>
              <label for="name">作品1：</label>
              <div class="">
                <input type="text" name="name" value="">
              </div>
            </li> -->
            <div class="uploadpic">
              <p>
                <button class="btn-upload btn-lg">选择图片</button>
                <input type="file" name="avatar" id="work1"/>
                支持格式: JPG, PNG
              </p>
              <!--  原图剪裁-->
              <div class="preview-container">

                <!--  原图-->
                <div class="image-container target" id="work1-target">
                  <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class="noavatar" />
                </div>

              <!--  大图预览-->
              <div class="large-wrapper">
                <div class="image-container largework" id="work1-large">
                  <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class="noavatar" />
                </div>
              </div>
              <!-- <input type="hidden" name="x" value="{{cropContext.left}}"/>
              <input type="hidden" name="y" value="{{cropContext.top}}"/>
              <input type="hidden" name="w" value="{{cropContext.width}}"/>
              <input type="hidden" name="h" value="{{cropContext.height}}"/> -->

            </div>
          </div>
          </ul>

        </fieldset>
        <a href="javascript:;" id="addwork">+继续添加</a><br/>
        <a href="{:U('Performing/index')}" class="cancel">取消</a>
        <input type="submit" name="" value="确定" class="submit">
      </form>
    </div>

  </div>

  </div>
  <!--webmain end-->


<!--webfooter-->
<include file="Header/header" />
<!--webfooter end-->


<script src="__PUBLIC__/statics/js/jquery-1.8.0.min.js"></script>
<script src="__PUBLIC__/statics/js/modernizr.com-custom-2.6.1-01.js"></script>
<script src="__PUBLIC__/statics/js/jquery.easing.js"></script>
<script src="__PUBLIC__/statics/dist/js/performing/newacter.js"></script>
<script src="__PUBLIC__/statics/js/form/myComponent.js"></script>
<script src="__PUBLIC__/statics/js/image-cropper/dist/cropper.js"></script>

</body>
</html>
