<!doctype html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html>
<!--<![endif]-->
  <block name = "contents"></block>
  <!--webfooter-->
  <div class="webfooter">
    <div class="inner clearFix">
      <div class="logo"></div>
      <div class="info">
        <p>{$copyright}</p>
        <p>{$records}</p>
      </div>
      <div class="qr">
        <p>扫描二维码</p>
        <span>关注官方微信</span>
      </div>
    </div>
  </div>
  <!--webfooter end-->
  <block name ="footers"></block>