
      <div class="loginfo">
        <div class="islogin" id="islogin">
          <span class="face"></span>
          <span class="name" id="login">用户名</span>
        </div>

        <!--  登陆-->
        <!--  注册登录-->
        <div class="register" id="nologin">
          <a href="javascript:;" class="reg" id="reg">注册</a><a href="javascript:;" class="log" id="log">登录</a>
        </div>
        <!--  个人中心入口-->
        <div class="myinfoalert" id="myinfoalert">
          <div class="myinfoalert-header">
            <span class="myinfoalert-header-face"></span>
            <div class="myinfoalert-header-content">
              <span class="name">用户名。。。。</span>
              <div class="setting">
                <a href="{:U('Index/setting')}" class="set">设置</a>
                <a href="#" class="logout">登出</a>
              </div>
            </div>
          </div>
          <div class="myinfoalert-content">
            <div class="item">
              <a href="{:U('Index/myinfo')}" class="">
                <span class="icon icon1"></span>
                <span class="name">个人中心</span>
              </a>
            </div>
            <div class="item">
              <a href="{:U('Index/myinfo')}" class="">
                <span class="icon icon2"></span>
                <span class="name">我的饭团</span>
              </a>
            </div>
            <div class="item">
              <a href="{:U('Index/myinfo')}" class="">
                <span class="icon icon3"></span>
                <span class="name">我的频道</span>
              </a>
            </div>
          </div>
        </div>

      </div>
